<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="position:absolute">
	
		<symbol id="icon-stomat_detskaya" viewBox="0 0 8 8">
			<defs><style>.fil0{fill:#27a2c3}</style></defs><path class="fil0" d="M3.328 6.372c0-.298.254-.586.528-.586.397 0 .645.21.645.586a.53.53 0 0 1-.528.528h-.117a.53.53 0 0 1-.528-.528zm-.371-2.371c0 .137.097.234.234.234a.225.225 0 0 0 .235-.234.225.225 0 0 0-.235-.235.225.225 0 0 0-.234.235zm1.486.084c0 .137.097.234.234.234a.225.225 0 0 0 .235-.234.225.225 0 0 0-.235-.235.225.225 0 0 0-.234.235zM3.328 5.55c.095-.142.172-.235.41-.235h.353c.239 0 .315.093.41.235-.288-.024-.215-.117-.469-.117h-.234c-.255 0-.182.093-.47.117zm.294-3.695c0 .295.74.02.762.293.07.234-.441.235-.587.235-.179 0-.586-.168-.586-.352v-.117c0-.243.493-.411.762-.411h.294c.925 0 2.099 1.079 2.17 1.936h.41c.228 0 .47.322.47.586v.059c0 .2-.31.528-.587.528h-.293c-.228.977-.804 1.347-1.584 1.76 0-.37-.117-.36-.117-.529 0-.112.117-.04.117-.234V5.55c0-.427-.521-.645-.938-.645-.417 0-.939.218-.939.645v.059c0 .194.118.122.118.234 0 .169-.118.159-.118.528-.696-.186-1.41-1.015-1.583-1.76h-.294a.53.53 0 0 1-.527-.527v-.176c0-.284.185-.47.469-.47h.352c.067-.812.813-1.386 1.407-1.7 0 .675.447.997 1.115.997h.058c.333 0 .763-.225.763-.528 0-.325-.338-.587-.645-.587-.21 0-.47.029-.47.235zM1.158 3.029c-.503 0-.997.432-.997.88v.058c0 .569.344.863.776.984.274.076.574.783.792 1.026.223.25.712.565 1.053.707.533.222.53.627 1.191.627.46 0 .614-.435 1.075-.627.34-.142.83-.457 1.053-.707.185-.208.565-.959.743-1.016.443-.144.825-.341.825-.935V3.91c0-.46-.501-.869-.997-.88C6.09.535 1.74.532 1.158 3.029z" id="Слой_x0020_1"></path>
		</symbol>
	
		<symbol id="icon-stomat_diagnostika" viewBox="0 0 8 8">
			<defs><style>.fil0{fill:#27a2c3}</style></defs><path class="fil0" d="M2.436 2.865v.187c0 .356.364.899.486 1.382.12.47.191 1.123.448 1.42.126-.543.055-1.681.685-1.681h.062c.48 0 .56 1.135.56 1.68.35-.127.428-1.07.503-1.49.101-.572.493-.791.493-1.56 0-.35-.395-.809-.747-.809h-.311c-.374 0-.332.249-.56.249-.187 0-.311-.249-.498-.249h-.374c-.433 0-.747.423-.747.871zM1.814.874c.517 0 2.204-.317 2.24-.312l2.11.356 1.19-.044v.56c0 2.294-1.15 5.789-3.237 5.789h-.311C1.374 7.223.693 2.463.693.81c.195.016.222.063.436.063h.685zm2.24 6.784c2.544 0 3.736-3.83 3.736-6.598V.376l-.933.076L6.11.438c-.465 0-2.031-.315-2.054-.311L2.01.493 1.005.438.32.367.32 1.434c0 1.938.974 6.224 3.61 6.224h.125z" id="Слой_x0020_1"></path>
		</symbol>
	
		<symbol id="icon-stomat_esteticheskaya" viewBox="0 0 8 8">
			<defs><style>.fil0{fill:#27a2c3}</style></defs><path class="fil0" d="M1.68 2.504c0-.89.195-1.888 1.094-1.888.263 0 .708.265 1.06.265h.364C4.583.88 4.97.616 5.29.616c.429 0 .69.252.847.613L5.093 2.1l-1.348-.46 1.49 1.82c.383-.676.727-1.193 1.062-1.65.04.25.053.512.053.759V3c0 1.151-.53 1.403-.53 2.45 0 .687-.19 2.187-.761 2.187-.64 0 .14-2.451-1.06-2.451-1.134 0-.403 2.45-1.026 2.45h-.067c-.506 0-.697-1.59-.695-2.251.003-.95-.53-1.257-.53-2.385v-.496zm4.84-.989C6.962.938 7.119.8 7.612.134l-1.244.903C6.183.61 5.88.318 5.39.318h-.033c-.427 0-.79.265-1.16.265h-.364c-.368 0-.732-.265-1.159-.265h-.033c-1.002 0-1.258 1.31-1.258 2.351v.464c0 .496.16.924.303 1.287.267.677.163.517.227 1.362.053.716.314 2.153.993 2.153h.033c1.086 0 .287-2.45 1.06-2.45h.033c.793 0-.025 2.45 1.06 2.45h.033c.678 0 .94-1.466.994-2.186.063-.843-.032-.674.236-1.353.136-.345.293-.776.293-1.263v-.166c0-.47-.025-.994-.128-1.452z" id="Слой_x0020_1"></path>
		</symbol>
	
		<symbol id="icon-stomat_hirurg" viewBox="0 0 8 8">
			<defs><style>.fil0{fill:#27a2c3}</style></defs><path class="fil0" d="M2.369 4.344a28.653 28.653 0 0 1-.015-.65C2.34 2.187 1.243 2.523 1.243 1.818v-.221C1.243.7 1.98.6 2.903.6 2.16-.046.69.566.69 1.596v.11c0 .866 1.107 1.255 1.107 1.661l.01.977h-.298v3.37h1.255v-3.37h-.394zm2.509 0H5.2v-.886a1.614 1.614 0 1 1 .501.011v.875h.43v3.37H4.879v-3.37zm.61-3.6a1.126 1.126 0 1 1-.001 2.252 1.126 1.126 0 0 1 0-2.252z" id="Слой_x0020_1"></path>
		</symbol>
	
		<symbol id="icon-stomat_implant" viewBox="0 0 8 8">
			<defs><style>.fil0{fill:#27a2c3}</style></defs><path class="fil0" d="M5.969 3.801c.351 0 1.215-1.386 1.215-1.945v-.243c0-.526-.452-1.216-.972-1.216h-.243c-.646 0-.89.34-1.46.34h-.194c-.234 0-.94-.34-1.264-.34h-.487c-.482 0-.827.81-.827 1.41v.098c0 .55.88 1.896 1.216 1.896H5.97zm-.877 3.513l-.44-.001-1.15-.12.151.338.565.052.824-.01.05-.259zm.166-.261l.053-.301-.313-.002-1.646-.173c0 .428.347.435.779.434.384-.001.696.042 1.127.042zm-.563-.866L3.18 5.97c.065.508.153.3.6.44.18.055.697.08.96.08H5.3c.155 0 .17-.148.174-.303h-.78zm-.799-.63c-.164-.04-.758-.191-.854-.192l.058.344.166.001c.097 0 .095.035.173.087l1.557.153.435-.023c.148 0 .162-.162.174-.303h-.693c-.266 0-.791-.015-1.016-.068zm-.89-.54c.19.165 1 .347 1.386.347h1.126c.152 0 .161-.2.173-.347H3.006zm2.685-.26c.146 0 .303-.076.303-.216v-.173c0-.101-.115-.217-.216-.217H2.876c-.133 0-.173.127-.173.26v.13c0 .1.115.217.216.217h2.772z" id="Слой_x0020_1"></path>
		</symbol>
	
		<symbol id="icon-stomat_kliniki" viewBox="0 0 8 8">
			<defs><style>.fil0{fill:#27a2c3}</style></defs><g id="Слой_x0020_1"><path class="fil0" d="M3.73.972c0 .154.08.32.227.32h.18c.146 0 .226-.166.226-.32 0-.175-.13-.319-.27-.319h-.046c-.21 0-.316.107-.316.32z"></path><path class="fil0" d="M2.467 2.75l.399-.001.25-.918.066.017-.219.857.35.004.057-.688h.045v.639h.226v-.548l.037.001.053.455h.135l.005 1.564.357-.105V2.568h.135V2.34h.045c0 .168-.04.32.136.32h.135v-.548l.032.001.058.592h.314l-.158-.77.053-.014.243.83.368-.004-.368-.772c.174.13.4.776.587.776h.36c-.059-.225-.721-.61-.81-1.006l.906.98.492-.111c-.136-.187-.914-.497-1.22-.958.193.052 1.08.867 1.355.867.172 0 .306-.057.452-.092v-.09c-.452 0-1.402-.507-1.58-.776.315.074 1.188.73 1.67.73.202 0 .59-.208.632-.365h-.18c-.282 0-1.15-.437-1.385-.562-.317-.168-.944-.67-1.324-.67-.47 0-.503.73-1.129.73-.963 0-.426-1.271-1.927-.395-.895.523-.91.619-2.091.897v.091c.253.068.275.274.587.274.52 0 1.361-.647 1.715-.73-.18.272-1.13.775-1.625.775a.7.7 0 0 0 .451.183c.324 0 1.113-.768 1.31-.821-.056.212-.861.798-1.129.82v.092c.141.012.16.045.316.045h.09c.205 0 .775-.748.948-.866l.042.039-.809.873c.141.012.16.046.316.046l.123-.008.49-.825.06.034-.447.799z"></path><path class="fil0" d="M3.37 4.347l.36-.228c-.21-.05-.676-.22-.676-.456 0-.543.451-.212.451-.639 0-.443-.858-.039-.858.456 0 .435.311.712.723.867z"></path><path class="fil0" d="M3.37 4.483c-.223.229-.322.535.05.924l.22-.103.136-.045c-.068-.103-.18-.16-.18-.274v-.046c0-.73 1.85-.246 1.85-1.276v-.137c0-.352-.34-.684-.677-.684-.163 0-.249.097-.225.32.078.266.508.057.496.364v.045c0 .562-1.323.677-1.67.912z"></path><path class="fil0" d="M3.911 4.664v.547l.271-.044-.002-.558zM3.912 6.034l.225-.046v-.273h-.225z"></path><path class="fil0" d="M3.776 5.35c-.356.058-.705.41-.18.82.084-.046.158-.084.254-.108-.126-.14-.236-.228-.2-.377.049-.318 1.671-.115 1.074-1.156l-.405.058c.055.143.18.129.18.352v.046c0 .142-.173.207-.272.274l-.45.09z"></path><path class="fil0" d="M4.318 5.623c.447.451-.858.487-.858.912 0 .154.08.32.226.32a.398.398 0 0 0 .07-.007c.05-.015.045-.054.065-.13-.1-.027-.139-.044-.135-.137 0-.318.993-.22.993-.912 0-.247-.19-.118-.361-.046z"></path><path class="fil0" d="M3.958 6.495l-.001.223c.127-.044.177-.049.177-.049l.002-.23-.178.056z"></path><path class="fil0" d="M4.275 6.362l.133.219c.142.233-.758.16-.758.605 0 .175.153.22.262.17-.055-.082-.09-.08-.09-.182 0-.107.074-.183.18-.183l.216.003.055.18c.044.2-.494.147-.494.504 0 .122.062.178.127.226-.076-.613.502-.226.502-.776l-.007-.188-.183.054c.398-.075.529-.308.28-.688l-.223.056z"></path></g>
		</symbol>
	
		<symbol id="icon-stomat_lechenie_desen" viewBox="0 0 8 8">
			<defs><style>.fil0{fill:#27a2c3}</style></defs><path class="fil0" d="M4.082 2.585c-.176-.118-.637-.42-.901-.42H2.64c-.88 0-1.695.897-2.464.96v.119l3.726.302 4.025-.3c-.006-.018-.041-.088-.041-.088-.267-.089-2.151-1.054-2.542-1.054-.58 0-.917.25-1.262.48zm-3.725.841c.452.676.562 1.057 1.245 1.579.787.6 1.578.824 2.54.824.999 0 1.72-.322 2.3-.764.403-.308 1.257-1.116 1.305-1.7-.598.288-2.73 1.022-3.545 1.022-1.674 0-2.593-.67-3.845-.96z" id="Слой_x0020_1"></path>
		</symbol>
	
		<symbol id="icon-stomat_lechenie_zubov" viewBox="0 0 8 8">
			<defs><style>.fil0{fill:#27a2c3}</style></defs><path class="fil0" d="M1.754 1.732c0 .94.217 1.068.555 1.962.122.322-.012 1.173-.012 1.684v.488c0 .928.405 1.628.914 1.774.334.031.53.009.563-.174L3.69 6.353c-.045-.503.288-1.672.627-1.672.462 0 .753 1.136.712 1.743l-.085 1.044c.125.084.122.139.278.139.438 0 .756-.558.929-.882.307-.577.255-.733.255-1.556 0-.58-.06-1.249.1-1.712.107-.315.388-1.077.388-1.422v-.279c0-.69-.57-1.323-1.254-1.323h-.348c-.22 0-.38.041-.516.087.007.08-.007.181-.007.305 0 .187.075.495.041.642-.024.104-.148.072-.207.125-.267.236-.19.291-.332.518-.137.218-.41-.152-.456-.207-.14-.168.062-.435.062-.643 0-.176-.144-.255-.186-.394a.949.949 0 0 1-.003-.42 1.346 1.346 0 0 0-.346-.083c-.776-.145-1.588.796-1.588 1.37z" id="Слой_x0020_1"></path>
		</symbol>
	
		<symbol id="icon-stomat_ortodont" viewBox="0 0 8 8">
			<defs><style>.fil0{fill:#27a2c3}</style></defs><g id="Слой_x0020_1"><path class="fil0" d="M1.694 1.943c0-.372.34-.945.78-.945h.041c.111 0 .114.02.206.042-.01.442-.74-.112-.74 1.108v.165c0 .198.13.41-.082.41-.15 0-.205-.25-.205-.41v-.37zm-.493 0v.288c0 1.377.975 1.82 1.141 2.719.164.88.278 2.639 1.077 2.825-.025-.3-.247-.69-.247-.945v-.205H3.09c0-.536-.214-1.259-.312-1.824-.102-.588-.14-1.337-.14-1.996 0-.207.149-.41.37-.41.365 0 .73.205.986.205h.41c.282 0 .748-.205.986-.205h.123c.182 0 .329.316.329.534v.04c0 .995-.194 1.658-.284 2.469-.09.807-.442 1.638-.496 2.296.788-.018.849-1.989 1.051-2.727.21-.77.31-.68.65-1.24.22-.367.475-.864.475-1.413v-.41c0-.658-.502-1.438-1.15-1.438h-.37c-.484 0-.975.328-1.396.328h-.287c-.258 0-.886-.328-1.479-.328h-.164c-.652 0-1.19.796-1.19 1.437z"></path><path class="fil0" d="M3.213 4.941l-.031.621.369 2.186.155-.097.048-.003-.13-1.721v-.37c0-.48.095-.903.575-.903h.164c.281 0 .493.486.493.821v.246c0 .373-.35 1.977.082 2.013 0-.25.151-1.072.208-1.353.09-.436.121-.904.121-1.44v-.205c0-.597-.318-1.273-.904-1.273h-.328c-.63 0-.822.794-.822 1.478z"></path></g>
		</symbol>
	
		<symbol id="icon-stomat_ortopediya" viewBox="0 0 8 8">
			<defs><style>.fil0{fill:#27a2c3}</style></defs><path class="fil0" d="M2.039 4.965c0-.093.022-.141.039-.215h.567v.156c0 .11.086.196.195.196h.333c.08 0 .195-.096.195-.157V4.75h.508l.002.546c-.734.088-1.093.09-1.84-.018v-.313zm4.692-.592h.416v.18h-.416v-.18zm.008.364h.417v.18h-.417v-.18zM.838 4.39h.417v.18H.838v-.18zm.008.364h.417v.18H.846v-.18zm5.278.094c0-.053.01-.054.02-.098h.43v.137a.21.21 0 0 0 .195.195H7.1c.072 0 .176-.097.176-.195V4.75h.426l.023.371v.161l-.8.054c-.293.024-.565-.058-.802-.078v-.41zm-2.033.371v-.47h.528v.196c0 .061.115.157.195.157h.372c.07 0 .156-.114.156-.196V4.75h.583l.023.41.002.132-.823.083h-.196c-.183 0-.84-.03-.84-.156zm-3.088.127C.68 5.336.508 5.3.26 5.278L.256 5.16l.024-.41h.43v.176c0 .07.118.156.176.156h.352c.067 0 .176-.103.176-.195V4.75h.37c.046 0 .06.014.06.059v.464c-.28.024-.462.067-.841.073zm3.792-.596h.371v.176h-.371V4.75zM2.8 4.867V4.75h.391v.176H2.86c-.045 0-.059-.014-.059-.059zm1.994-.469h.371v.176h-.371v-.176zm-1.994 0h.391v.176h-.39v-.176zm3.362.176c0-.516.235-1.27.743-1.27h.078c.362 0 .675.873.684 1.27h-.391v-.137a.193.193 0 0 0-.195-.195h-.313c-.077 0-.176.074-.176.137v.195h-.43zm-5.844 0c0-.423.318-1.27.743-1.27.525 0 .762.749.762 1.27h-.43v-.195c0-.056-.113-.137-.156-.137H.944c-.151 0-.234.06-.234.215v.117H.319zm3.792 0c.014-.646.251-1.583.899-1.583h.02c.52 0 .86 1.033.86 1.583h-.548v-.176c0-.105-.097-.176-.195-.176h-.352c-.05 0-.176.092-.176.157v.195H4.11zm-2.013 0c0-.56.349-1.583.899-1.583.677 0 .86 1.043.86 1.524v.059h-.489v-.195c0-.061-.115-.157-.195-.157H2.8c-.066 0-.156.088-.156.176v.176h-.547zm.136-1.193c-.08.137-.254.627-.254.841h-.039v-.097c0-.14-.185-.546-.25-.65-.099-.158-.3-.347-.551-.347C.146 3.11.105 4.677.105 5.44c.69.07 1.21.062 1.817-.006.073-.01.632.117.84.117h.274c.18 0 .352-.014.508-.039.085-.013.432-.098.45-.098.005 0 .386.092.46.107.529.107 1.074-.005 1.595-.085l-.003-.022c.753.107 1.598.043 1.86.035.102-.723-.31-2.374-.981-2.374-.573 0-.792.726-.918 1.108-.132-.565-.33-1.368-.997-1.368-.373 0-.578.177-.717.417-.095.164-.233.547-.283.953-.017-.2-.176-.739-.259-.874a1.481 1.481 0 0 0-.212-.276c-.473-.473-1.017-.14-1.305.346z" id="Слой_x0020_1"></path>
		</symbol>
	
		<symbol id="icon-stomat_otbeliv_i_chistka" viewBox="0 0 8 8">
			<defs><style>.fil0{fill:#27a2c3}</style></defs><path class="fil0" d="M2.047 2.647c0-.848.185-1.801 1.043-1.801.25 0 .675.253 1.01.253h.349c.368 0 .737-.253 1.042-.253a.81.81 0 0 1 .424.11l-.211.065.433.133c.292.367.365 1 .365 1.556v.411c0 1.099-.506 1.338-.505 2.339 0 .655-.182 2.085-.727 2.085-.61 0 .135-2.338-1.011-2.338-1.083 0-.384 2.338-.98 2.338h-.063c-.483 0-.666-1.518-.663-2.148.003-.906-.506-1.2-.506-2.276v-.474zM6.506.22l.188.613.613.189-.613.188-.086.28c.146.482.179 1.077.179 1.6v.159c0 .465-.15.876-.28 1.205-.256.648-.165.487-.225 1.291-.052.687-.302 2.086-.949 2.086h-.031c-1.036 0-.255-2.339-1.011-2.339h-.032c-.738 0 .024 2.339-1.011 2.339h-.032c-.648 0-.897-1.371-.948-2.054-.06-.806.038-.654-.217-1.3-.136-.346-.288-.755-.288-1.228v-.443c0-.529.069-1.13.278-1.577l-.529.162-.164.535-.164-.535-.535-.164.535-.164.164-.535.164.535.53.162c.184-.39.476-.662.921-.662h.032c.407 0 .754.253 1.106.253h.348c.351 0 .699-.253 1.106-.253h.031c.29 0 .512.107.68.286l.051-.016.189-.613zM4.933 2.432l.186.605.605.186-.605.186-.186.605-.186-.605-.605-.186.605-.186.186-.605z" id="Слой_x0020_1"></path>
		</symbol>
	
		<symbol id="icon-stomat_regioni" viewBox="0 0 7 7">
			<defs><style>.fil0{fill:#27a2c3}</style></defs><path class="fil0" d="M1.466 2.6v-.094C1.466 1.42 2.403.52 3.484.52h.031c.99 0 2.02.899 2.02 1.832v.28c0 .807-.403 1.659-.734 2.155-.175.264-.392.611-.594.834-.153.168-.597.627-.691.768-.355-.237-1.068-1.192-1.317-1.602-.356-.585-.733-1.27-.733-2.187zm1.091-.06v-.187c0-.384.433-.839.807-.839h.28c.409 0 .807.474.807.901v.124c0 .367-.437.839-.776.839h-.31c-.375 0-.808-.455-.808-.839zm-.186.03c0 .493.536.994 1.056.994h.155c.518 0 1.056-.51 1.056-.994v-.248c0-.471-.53-.994-1.025-.994h-.217c-.53 0-1.025.521-1.025 1.056v.186zm-1.091.123c0 .82.478 1.778.82 2.285.17.255 1.194 1.659 1.415 1.659.147 0 1.27-1.462 1.397-1.678.33-.561.809-1.392.809-2.266v-.249c0-1.043-1.007-2.08-2.05-2.08h-.342c-1.03 0-2.05 1.021-2.05 2.05v.279z" id="Слой_x0020_1"></path>
		</symbol>
	
		<symbol id="icon-stomat_sovet_specialista" viewBox="0 0 8 8">
			<defs><style>.fil0{fill:#27a2c3}</style></defs><g id="Слой_x0020_1"><path class="fil0" d="M2.298 1.96v.094c0 .066.025.267.042.318.019.056.02.092.032.14.018.067.039.062.06.126.057.174.254.378.272.447.031-.001.082.003.082-.032l-.035-.343v-.203c0-.333.197-.64.53-.64h.125c.122 0 .393.127.522.165.186.055.372.1.602.1h.078c.309 0 .394-.122.578-.171.052.22.156.24.156.593l.004.234-.02.265h.047c.097 0 .25-.328.292-.426.07-.166.13-.358.13-.588 0-.537-.21-.952-.48-1.222C5.065.567 4.64.26 4.155.26h-.062c-.957 0-1.795.764-1.795 1.702zM5.339 6.68h.784v-.739h-.784z"></path><path class="fil0" d="M5.607 4.614c.205 0 .77.385.884.521.211.25.397.557.397 1.01v1.123h-2.81c.108-.205.253-.47.377-.668.136-.216.246-.443.381-.665.088-.144.708-1.32.771-1.32zm-2.029-.14v.047c0 .102.25.3.25.359l.004.546-.02.453h-.031c-.006-.072-.407-.785-.468-.89-.083-.142-.381-.827-.531-.827H2.75c-.216 0-.574.174-.75.234-.15.05-.482.286-.589.394-.325.328-.581.741-.581 1.385v1.28c0 .126.098.123.124.188H7.09c.072 0 .172-.099.172-.187v-1.25c0-.598-.217-1.052-.519-1.354a2.146 2.146 0 0 0-.537-.399c-.095-.048-.58-.26-.677-.26h-.062c-.098 0-.426.627-.481.736-.134.262-.306.52-.45.783-.146.266-.307.518-.448.786-.045.087-.423.77-.463.77h-2.42V6.176c0-.497.19-.838.441-1.09.164-.164.718-.512 1.013-.52l.997 1.875c.09-.024.643-1.09.75-1.249v-.328c.034-.052.25-.289.25-.328v-.03c0-.102-.169-.186-.239-.247-.047-.04-.231-.19-.293-.19H4.11c-.076 0-.53.35-.53.405z"></path></g>
		</symbol>
	
		<symbol id="icon-stomat_statii" viewBox="0 0 8 8">
			<defs><style>.fil0{fill:#27a2c3}</style></defs><path class="fil0" d="M4.33 2.487l-.016.016-.015.015v.12l.015.031.015.015.03.015h1.982l.03-.015.015-.015.015-.03v-.121l-.015-.015-.015-.016-.015-.015H4.344l-.015.015zM2.221 4.595l-.03.015-.015.03v.106l.015.03.015.015.03.015h4.068l.015-.015.016-.015.015-.015V4.64l-.015-.03-.016-.015-.03-.015H2.237l-.015.015zM4.33 1.72l-.015.015-.015.016v.12l.015.03.015.016.03.015h1.982l.03-.015.015-.015.015-.03v-.121l-.015-.016-.015-.015-.015-.015H4.344l-.015.015zm-1.067.588v-.468h.486v.37c0 .2-.026.344-.08.435a.654.654 0 0 1-.336.27l-.11-.156a.398.398 0 0 0 .204-.154.594.594 0 0 0 .073-.297h-.237zm-.78 0v-.468h.486v.37c0 .2-.027.344-.08.435a.654.654 0 0 1-.335.27l-.111-.156a.397.397 0 0 0 .204-.154.605.605 0 0 0 .073-.297h-.237zM1.486.764l.015-.046.016-.045.015-.03.015-.03.015-.016.015-.015.015-.015v-.03h.03l.016-.015.015-.016.015-.015.03-.015.03-.015.046-.015.045-.015h5.006l.045.015.045.015.03.015.03.015.016.015.015.016.015.015h.03v.03l.016.015.015.015.015.015.015.03.015.03.015.046.015.046V7.1l-.015.045-.015.046-.015.03-.015.03-.015.015-.015.015-.016.016v.03h-.03l-.015.015-.015.015-.015.015-.03.015-.03.015-.046.015-.045.016H1.819l-.045-.016-.046-.015-.03-.015-.03-.015-.015-.015-.015-.015-.016-.015h-.03v-.03l-.015-.016-.015-.015-.015-.015-.015-.03-.015-.03-.016-.046-.015-.045V.764zm.212-.56l-.045.015-.03.015-.03.015-.031.015-.03.016-.015.015-.03.015-.016.015-.015.015-.015.015-.015.015-.015.015-.015.016-.016.015-.015.015-.015.03-.015.015-.015.03-.015.03-.015.031-.015.03-.015.046-.016.06V7.16l.016.06.015.046.015.03.015.03.015.031.015.03.015.015.015.03.015.016.016.015.015.015.015.015.015.015.015.015.015.015.015.016.03.015.016.015.03.015.03.015.03.015.03.015.046.015.06.016h5.127l.06-.016.046-.015.03-.015.03-.015.03-.015.03-.015.016-.015.03-.015.015-.016.016-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.03.016-.016.015-.03.015-.03.015-.03.015-.03.015-.046.015-.06V.702l-.015-.06L7.37.597l-.015-.03-.015-.03-.015-.03-.015-.03L7.293.46l-.015-.03-.015-.015L7.248.4 7.233.385 7.218.37 7.203.355 7.188.34 7.172.325 7.157.31l-.03-.015L7.112.28l-.03-.016-.03-.015-.03-.015L6.99.22 6.946.204l-.06-.015H1.758l-.06.015zm.56 6.397l-.016.015-.015.03v.106l.015.015.016.015.015.015.03.016h4.038l.03-.016.015-.015.015-.03v-.12l-.015-.016-.015-.015-.015-.015H2.273l-.015.015zm.015-.696l-.015.015-.016.016-.015.015v.105l.015.03.016.016.015.015.045.015h4.008l.03-.015.015-.015.015-.015.015-.015V5.95l-.015-.03-.03-.016-.03-.015H2.303l-.03.015zm0-.68l-.03.015-.016.03v.106l.015.03.016.015.03.015h4.068l.015-.015.015-.015.015-.015v-.12l-.015-.031-.015-.015-.03-.015H2.288l-.015.015zm2.071-1.376l-.015.015-.015.015-.015.015v.12l.015.016.015.015.015.015.03.015h1.952l.03-.015.015-.015.015-.015.015-.015v-.121l-.015-.015-.015-.015-.015-.015-.03-.016H4.375l-.03.016zm-.015-.681l-.015.015-.015.03v.121l.015.015.015.016.015.015h2.012l.015-.015.015-.016.015-.015v-.12l-.015-.03-.015-.016-.03-.015H4.36l-.03.015z" id="Слой_x0020_1"></path>
		</symbol>
	
</svg>
