<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="position:absolute">
	
		<symbol id="icon-exercises" viewBox="0 0 12.043 12.0429">
			<defs id="defs4"><style id="style2">.fil1{fill:#4d4948}.fil0{fill:#e77817}</style></defs><g id="Слой_x0020_1" transform="translate(-17.95 -17.307)"><path id="path14" class="fil0" d="M23.97 17.307a6.022 6.022 0 1 1 0 12.044 6.022 6.022 0 0 1 0-12.044zm.007.16c3.21 0 5.811 2.615 5.811 5.84 0 3.226-2.602 5.84-5.811 5.84-3.21 0-5.811-2.614-5.811-5.84 0-3.225 2.601-5.84 5.811-5.84m0 0z" fill="#e77817"></path><path class="fil1" d="M22.094 21.615c0 .194.059.253.253.253l1.763.001.095.76v.168c0 1.095-2.449 1.84-2.449 2.196 0 .163.15.337.254.337.416 0 2.351-1.52 2.786-1.52h.93v1.183c0 .194.058.253.252.253.195 0 .254-.059.254-.253v-1.69c-.19-.044-.194-.084-.422-.084h-.76v-1.35h1.857c-.006-.271.028-.423-.253-.423h-4.307c-.138 0-.253.05-.253.169zm2.433-1.351c.235 0 .424.18.424.403 0 .222-.19.402-.424.402a.414.414 0 0 1-.424-.402c0-.223.19-.403.424-.403z" id="path8" fill="#4d4948"></path></g>
		</symbol>
	
		<symbol id="icon-kindsOfSports" viewBox="0 0 12.043 12.0429">
			<defs id="defs4"><style id="style2">.fil0{fill:#4d4948}.fil1{fill:#e77817}</style></defs><g id="Слой_x0020_1" transform="translate(-17.324 -18.044)"><path class="fil0" d="M23.66 23.563h.149c.149.204.687.438 1.042.446-.122-.457-.745-.574-.745-.744 0-.314.15-.356.15-.744 0-.348-.174-.521-.522-.521h-.149c-.232 0-.79.279-.98.39l-.36-.316c-.298-.08-.215-.02-.239-.398l-.205.171-.24-.056.15.131-.06.301c.2-.048.14-.074.297-.074.024 0 1.194.87 1.34.97l.372-.077zm1.282-2.12c.253 0 .458.212.458.474a.466.466 0 0 1-.458.474.466.466 0 0 1-.459-.474c0-.262.205-.474.458-.474zm-3.59 3.236c.488.258 3.009 1.786 3.35 1.786h.149c.663 0 .802-.372 0-.372h-.15c-.113 0-1.488-.79-1.488-.893 0-.17.67-.586.67-1.042 0-.19-.253-.343-.372-.52l-1.251-.814-.088.218v.149c0 .656.967.832.967 1.116 0 .067-.314.377-.372.595-.586-.013-1.587-.965-2.233-1.116-.05.09-.074.08-.074.223l.004.143z" id="path7" fill="#4d4948"></path><path id="path14" class="fil1" d="M23.346 18.044a6.022 6.022 0 1 1 0 12.044 6.022 6.022 0 0 1 0-12.044zm.006.16c3.21 0 5.811 2.615 5.811 5.84 0 3.226-2.602 5.84-5.811 5.84-3.21 0-5.812-2.614-5.812-5.84 0-3.225 2.602-5.84 5.812-5.84m0 0z" fill="#e77817"></path></g>
		</symbol>
	
		<symbol id="icon-physiotherapy" viewBox="0 0 12.043 12.0429">
			<defs id="defs4"><style id="style2">.fil1{fill:#4d4948}.fil0{fill:#e77817}</style></defs><g id="Слой_x0020_1" transform="translate(-18.74 -17.725)"><path id="path14" class="fil0" d="M24.76 17.725a6.022 6.022 0 1 1 0 12.043 6.022 6.022 0 0 1 0-12.043zm.007.16c3.21 0 5.811 2.615 5.811 5.84 0 3.226-2.602 5.84-5.811 5.84-3.21 0-5.812-2.614-5.812-5.84 0-3.225 2.602-5.84 5.812-5.84m0 0z" fill="#e77817"></path><path class="fil1" d="M24.447 26.18h.494l.52-2.152-.467.008zm-1.328-3.592c.269 0 .487.228.487.51a.499.499 0 0 1-.487.508.499.499 0 0 1-.488-.509c0-.28.218-.509.488-.509zm.766.942c0 .581-.483 1.382-.495 2.062l.495-.153c0-.35.415-1.111.415-1.743l1.386.008.688 2.398h.498c-.012-.508-.467-1.607-.615-2.123-.245-.852-.36-1.278-1.46-1.278H24.3v-1.825h-.415z" id="path8" fill="#4d4948"></path></g>
		</symbol>
	
		<symbol id="icon-region" viewBox="0 0 12.043 12.0429">
			<defs id="defs4"><style id="style2">.fil1{fill:#4d4948}.fil0{fill:#e77817}</style></defs><g id="Слой_x0020_1" transform="translate(-17.184 -15.606)"><path id="path14" class="fil0" d="M23.206 15.606a6.022 6.022 0 1 1 0 12.043 6.022 6.022 0 0 1 0-12.043zm.006.16c3.21 0 5.811 2.615 5.811 5.84 0 3.226-2.602 5.84-5.811 5.84-3.21 0-5.811-2.614-5.811-5.84 0-3.225 2.602-5.84 5.811-5.84m0 0z" fill="#e77817"></path><path class="fil1" d="M21.147 20.44v-.093c0-1.087.937-1.988 2.019-1.988h.03c.99 0 2.02.9 2.02 1.832v.28c0 .808-.403 1.66-.733 2.155-.176.264-.392.612-.595.834-.153.168-.597.628-.691.769-.355-.238-1.068-1.192-1.317-1.602-.356-.585-.733-1.27-.733-2.187zm1.091-.06v-.187c0-.383.433-.838.808-.838h.28c.408 0 .807.474.807.9v.125c0 .366-.438.838-.777.838h-.31c-.375 0-.808-.454-.808-.838zm-.186.03c0 .493.537.995 1.056.995h.155c.518 0 1.056-.51 1.056-.994v-.249c0-.47-.53-.993-1.025-.993h-.217c-.53 0-1.025.52-1.025 1.056zm-1.091.123c0 .821.479 1.778.82 2.286.17.254 1.195 1.658 1.416 1.658.147 0 1.27-1.461 1.397-1.678.33-.56.808-1.392.808-2.266v-.248c0-1.043-1.007-2.081-2.05-2.081h-.342c-1.03 0-2.05 1.022-2.05 2.05z" id="path8" fill="#4d4948"></path></g>
		</symbol>
	
		<symbol id="icon-sport-centr" viewBox="0 0 12.043 12.0429">
			<defs id="defs4"><style id="style2">.fil0{fill:#4d4948}.fil1{fill:#e77817}</style></defs><g id="Слой_x0020_1" transform="translate(-15.957 -18.586)"><path class="fil0" d="M25.767 23.918l.002 2.041h-1.375v-1.927zm-7.359.019l1.375.08v1.942h-1.375zm3.155.647h1.05v1.294h-.16v-.485h-.243v.485h-.243v-.566c-.18.048-.243.019-.243.243v.323h-.162zm-1.537-1.78h4.125v3.155h-.728v-2.265h-.485v-.485h-1.7v.485h-.484v2.265h-.728zm-1.86 3.155c0 .186.056.243.242.243h7.36c.187 0 .243-.057.243-.243v-2.265h-.566l-1.05.094-.001-.983c0-.187-.057-.243-.243-.243h-4.125c-.187 0-.243.056-.243.243v.97l-1.05-.1-.568.02z" id="path7" fill="#4d4948"></path><path id="path14" class="fil1" d="M21.979 18.586a6.022 6.022 0 1 1 0 12.043 6.022 6.022 0 0 1 0-12.043zm.006.16c3.21 0 5.811 2.615 5.811 5.84 0 3.226-2.602 5.84-5.811 5.84-3.21 0-5.811-2.614-5.811-5.84 0-3.225 2.601-5.84 5.811-5.84m0 0z" fill="#e77817"></path></g>
		</symbol>
	
		<symbol id="icon-sport_poisk" viewBox="0 0 12.043 12.0429">
			<defs id="defs4"><style id="style2">.fil0{fill:#4d4948}.fil1{fill:#e77817}</style></defs><g id="Слой_x0020_1" transform="translate(-18.929 -18.602)"><path class="fil0" d="M25.958 25.796c.256.298 1.051 1.369 1.475 1.595.195 0 .276-.193.276-.36 0-.075-1.073-1.077-1.595-1.398a2.124 2.124 0 1 0-.156.163zm-1.431-3.45a1.904 1.904 0 1 1-.001 3.81 1.904 1.904 0 0 1 0-3.81z" id="path7" fill="#4d4948"></path><path id="path14" class="fil1" d="M24.95 18.602a6.022 6.022 0 1 1 0 12.043 6.022 6.022 0 0 1 0-12.043zm.007.16c3.209 0 5.81 2.615 5.81 5.84 0 3.226-2.601 5.84-5.81 5.84-3.21 0-5.812-2.614-5.812-5.84 0-3.225 2.602-5.84 5.812-5.84m0 0z" fill="#e77817"></path></g>
		</symbol>
	
</svg>
