<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="position:absolute">
	
		<symbol id="icon-fb" viewBox="0 0 17.333332 17.333332">
			<g transform="matrix(.13333 0 0 -.13333 0 17.333)" fill-rule="evenodd"><path d="M58.36 83.594c-.434 21.539 2.652 30.562 30.636 25.355.172-3.902-.656-9.496-2.242-12.457-5.805.399-7.399 2.156-12.078-1.344l-.239-11.84 13.18-.042-1.133-12.102-11.992-.41-.27-39.352-16.038-.05-.157 39.41-7.968.27.324 12.296zM9.542 8.102l120.082-.079.012 119.891-119.848.191L9.543 8.102"></path><path d="M58.36 83.594l-7.977-.266-.324-12.297 7.968-.27.157-39.41 16.039.051.27 39.352 11.991.41 1.133 12.102-13.18.043.239 11.84c4.68 3.5 6.273 1.742 12.078 1.343 1.586 2.961 2.414 8.555 2.242 12.457-27.984 5.207-31.07-3.816-30.637-25.355" fill="#fff"></path></g>
		</symbol>
	
		<symbol id="icon-home-main" viewBox="0 0 16 14.666667">
			<path d="M6.084 13.323H3.122V8.57c0-.1 1.122-1.168 1.211-1.257.297-.297 3.574-3.608 3.727-3.711.157.105 4.085 4.07 4.637 4.621.068.069.3.253.3.347v4.753h-2.962v-3.95h-3.95zm9.876-4.37v.23a1.135 1.135 0 0 1-.112.387c-.07.139-.085.14-.188.244a.868.868 0 0 1-.625.269c-.723 0-.708-.327-1.05-.555v4.814H2.135V9.528c-.15.099-.237.244-.38.362-.336.276-.95.27-1.295-.076-.294-.294-.3-.475-.3-.825v-.017c0-.137.071-.31.127-.397.07-.106.145-.17.235-.259l.509-.51 1.003-1.002L4.04 4.798C4.158 4.68 7.913.893 8.06.793l7.553 7.538c.09.09.164.151.231.263.065.106.103.23.116.358" fill="#fff" fill-rule="evenodd"></path>
		</symbol>
	
		<symbol id="icon-humburger-menu" viewBox="0 0 32 32">
			<path d="M4 10h24a2 2 0 0 0 0-4H4a2 2 0 0 0 0 4zm24 4H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4zm0 8H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4z"></path>
		</symbol>
	
		<symbol id="icon-inst" viewBox="0 0 512 512">
			<style>.st1{fill:#fff}</style><path d="M492.9 81.5c0-2.8-.2-5.6-.6-8.3V19.4H18.8v473.5h57.4c1.7.1 3.3.2 5 .2H431c1.7 0 3.3-.1 5-.2h56.3v-53.4c.4-2.7.6-5.5.6-8.3V81.5z" id="Background"></path><path class="st1" d="M342.3 114.9H168.8c-30.2 0-54.7 24.5-54.7 54.7v173.5c0 30.1 24.5 54.7 54.7 54.7h173.6c30.1 0 54.7-24.5 54.7-54.7V169.5c-.1-30.1-24.6-54.6-54.8-54.6zm15.7 32.6h6.3V195.4l-47.8.2-.2-48 41.7-.1zm-142.8 79.8c9.1-12.5 23.8-20.8 40.4-20.8s31.3 8.2 40.4 20.8c5.9 8.2 9.4 18.2 9.4 29 0 27.5-22.4 49.8-49.8 49.8-27.5 0-49.8-22.3-49.8-49.8 0-10.8 3.5-20.8 9.4-29zm154.3 115.8c0 15-12.2 27.1-27.1 27.1H168.8c-15 0-27.1-12.1-27.1-27.1V227.3h42.2c-3.6 9-5.7 18.8-5.7 29 0 42.6 34.7 77.4 77.4 77.4S333 299 333 256.3c0-10.3-2.1-20.1-5.7-29h42.2v115.8z" id="Symbol"></path>
		</symbol>
	
		<symbol id="icon-kabinet-right" viewBox="0 0 20 20">
			<g transform="matrix(.13333 0 0 -.13333 0 20)" fill-rule="evenodd"><path d="M9.652 8.215h132.883v132.879H9.652z" fill="#55c49c"></path><path d="M35.848 76.602v-3.008c0-5.344 1.925-11.957 3.742-15.563.3-.59.5-.996.797-1.586l4.203-6.554c1.332-1.555 3.117-3.797 4.71-4.946 1.438-1.035 2.306-2.066 4.813-3.738a38.079 38.079 0 0 1 7.993-4.035c3.761-1.39 7.73-2.516 12.046-2.516l-4.472 4.395c-2.356 2.355-1.809.422.738 6.777l3.894 8.77c-.777.523-6.46 5.226-6.648 5.226-.941 0-3.422-1.062-4.496-1.363-3.145-.875-6.043-1.906-9.098-2.93-.816-.277-3.91-1.406-4.613-1.406-.64 0-3.402 5.074-3.898 6.066-.43.852-.688 1.524-1.051 2.434-3.16 7.781-3.02 16.258-.332 24.168.406 1.191.879 2.445 1.515 3.55.153.266.243.41.391.716.684 1.375 1.488 2.57 2.332 3.84.3.449.54.8.86 1.203.175.226.245.25.44.507 1.102 1.48 2.638 3.184 4.114 4.274.293.215.336.301.578.535l2.336 1.781c.402.281.793.528 1.235.821 7.308 4.89 17.664 6.597 26.468 4.398 4.23-1.055 7.832-2.742 11.364-5.094l2.836-2.23c.32-.293.328-.211.636-.473 1.481-1.242 2.864-2.812 4.028-4.363 4.207-5.617 7.254-12.66 7.254-19.813 0-5.285-.481-9.261-2.333-13.82-.32-.8-.64-1.621-.992-2.328-.613-1.219-3.297-6.172-3.957-6.172-1.129 0-16.894 5.7-18.047 5.7-.261 0-.715-.356-.91-.52-.34-.29-.547-.426-.87-.707-.891-.774-4.454-3.301-5.028-4.157.863-1.625 1.523-3.445 2.328-5.117l.777-1.75c.278-.699.465-1.008.715-1.66.125-.324.235-.508.406-.86.692-1.44 1.203-2.976 1.95-4.386-.79-1.172-2.594-2.66-3.68-3.758-.754-.762-1.73-1.351-2.336-2.254 4.996 0 9.242 1.442 13.633 3.145.675.262 1.133.558 1.742.789 2.027.781 4.246 2.383 6.059 3.598l2.031 1.605c.324.281.375.227.719.555.238.23.281.32.57.53.383.282.359.247.691.579.457.465.805.809 1.266 1.266 2.027 2.027 3.726 4.304 5.328 6.703 2.375 3.558 4.055 7.683 5.098 11.84 1.922 7.695 1.437 16.289-1.18 23.707-1.285 3.633-3.602 8.054-6.082 11.011l-5.375 5.707c-.34.325-.395.278-.715.551-.465.395-.808.727-1.281 1.098-.496.394-.949.691-1.485 1.047-3.351 2.238-4.312 2.676-7.882 4.304-1.762.805-3.649 1.348-5.602 1.836-5.945 1.485-13.422 1.524-19.375.036-4.21-1.055-8.383-2.672-12-5.102l-1.516-1.012c-1.027-.683-1.878-1.308-2.78-2.129l-3.743-3.539c-.387-.523-.855-.808-1.234-1.297l-3.106-4.175c-.351-.536-.605-1.036-.949-1.586-.68-1.09-1.117-1.996-1.719-3.184-2.39-4.738-3.851-10.52-3.851-15.937" fill="#fff"></path><path d="M62.281 84.043c0-2.09-.129-4.418.38-6.43.1-.402.28-1.031.386-1.351.164-.496.328-.711.523-1.219.278-.727.832-1.543 1.274-2.207.836-1.254 2.234-2.648 3.484-3.484.668-.442 1.465-.977 2.184-1.297 9.422-4.235 19.945 2.62 19.945 12.98 0 4.738.074 7-2.531 10.922-1.106 1.66-1.477 1.766-2.57 2.809-.696.66-1.317.972-2.055 1.433-.387.242-.668.414-1.137.602-2.637 1.062-2.648.996-5.004 1.168-1.12.082-.25.156-1.43.012-.304-.032-.648.007-.949 0-2.68-.083-6.394-2.055-8.347-4.004-2.48-2.489-4.153-6.309-4.153-9.934" fill="#fff"></path></g>
		</symbol>
	
		<symbol id="icon-letter-right" viewBox="0 0 20 18.666668">
			<g transform="matrix(.13333 0 0 -.13333 0 18.667)" fill-rule="evenodd"><path d="M7.652 1.25h132.883v132.883H7.652z" fill="#83ca06"></path><path d="M63.277 63.453c4.043-2.707 4.485-6.785 11.453-6.785 5.414 0 7.06 4.27 10.176 6.355 3.93-2.629 9.805-10.004 12.395-12.617 1.972-1.996 6.375-6 7.535-7.734h-61.48c1.316 1.973 12.019 12.238 15.152 15.375 1.695 1.687 3.484 3.476 4.77 5.406zm46.118 24.274l.101-40.813c-1.433.961-3.93 3.563-5.183 4.984-.989 1.114-1.2 1.63-2.333 2.762-3.039 3.024-10.62 11.13-12.836 12.61zM39.109 47.336v40.707l19.934-20.352-9.648-10.28c-2.477-2.481-7.86-8.45-10.286-10.075zm4.247 45.375h61.906c-1.282-1.914-22.243-22.863-25.973-26.61-4-4.019-5.648-4.347-9.754-.214zM32.75 97.797V36.313h82.688v62.753H34.023c-.98 0-1.273-.293-1.273-1.27" fill="#fff"></path></g>
		</symbol>
	
		<symbol id="icon-logo" viewBox="0 0 116 32">
			<g transform="matrix(.13333 0 0 -.13333 0 32)"><path d="M.969 69.082h301.629v165.523H.968z" fill="#b1e5f3" fill-rule="evenodd"></path><path d="M301.07 69.094h357.145v166.855H301.07z" fill="#008bbd" fill-rule="evenodd"></path><path d="M658.211 69.094H869.59v166.855H658.211z" fill="#00648e" fill-rule="evenodd"></path><path d="M.969 152.52H301.07v83.43H.969z" fill="#dbf3fb" fill-rule="evenodd"></path><path d="M301.07 152.52h357.145v83.43H301.07z" fill="#00a9ce" fill-rule="evenodd"></path><path d="M658.262 152.559h211.184v83.43H658.262z" fill="#008caa" fill-rule="evenodd"></path><path d="M112.41 114.199h15.574l-3.867 70.442H103.32l-7.527-23.411c-2.3-7.839-4.703-17.14-6.691-25.292h-.313c-1.566 8.257-3.758 17.035-5.957 25.187l-6.894 23.516h-21.22l-4.491-70.442H64.96l1.254 26.758c.523 8.777.836 19.645 1.258 29.156h.207c1.672-9.195 4.074-19.23 6.375-27.484l7.523-27.277h12.438l8.57 27.484c2.719 8.258 5.641 18.289 7.84 27.277h.312c0-10.242.313-20.484.629-28.949zm71.801 42.746h-25.922v14.633h27.488v13.063h-43.476v-70.442h44.941v13.067h-28.953v16.718h25.922zm15.988-42.433c3.973-.524 9.824-1.043 18.082-1.043 13.797 0 25.082 2.926 32.504 9.094 6.793 5.746 11.703 15.046 11.703 28.531 0 12.433-4.597 21.109-11.914 26.547-6.793 5.121-15.469 7.523-28.844 7.523-8.046 0-15.679-.523-21.531-1.465zm15.992 57.797c1.36.312 3.661.629 7.211.629 13.692 0 22.262-7.735 22.157-22.368 0-16.824-9.407-24.769-23.829-24.664-1.988 0-4.179 0-5.539.313v46.09" fill="#008bc4"></path><path d="M359.98 114.199v21.219c0 11.492-.21 21.422-.628 30.723l.316.105c3.445-8.258 8.047-17.348 12.227-24.875l15.05-27.172h16.723v70.442h-14.633v-20.59c0-10.555.309-20.067 1.356-29.367h-.313c-3.133 7.945-7.316 16.722-11.496 24.14l-14.633 25.817h-18.601v-70.442zm101.477 42.746h-25.914v14.633h27.484v13.063h-43.476v-70.442h44.941v13.067h-28.949v16.718h25.914zm45.57-42.746l6.688 30.309c1.672 7.109 2.824 13.797 4.078 21.738H518c.836-8.047 1.984-14.629 3.348-21.738l5.953-30.309h17.246l18.183 70.442h-16.199l-5.746-28.844c-1.465-8.359-3.031-16.617-4.078-24.457h-.207c-1.047 7.84-2.195 15.363-3.766 23.617l-5.64 29.684H510.16l-5.953-28.844c-1.777-8.676-3.453-17.141-4.598-24.77h-.211c-1.148 7.106-2.613 16.2-4.183 24.563l-5.328 29.051h-17.035l16.722-70.442zm62.496 3.242c3.977-2.195 11.918-4.289 19.965-4.289 19.332 0 28.426 10.036 28.426 21.844 0 9.93-5.851 16.41-18.289 21.008-9.094 3.449-13.066 5.434-13.066 9.93 0 3.656 3.347 6.793 10.242 6.793 6.902 0 11.914-1.985 14.738-3.344l3.551 12.855c-4.176 1.879-10.031 3.555-17.973 3.555-16.617 0-26.652-9.199-26.652-21.219 0-10.242 7.629-16.722 19.336-20.797 8.465-3.031 11.808-5.539 11.808-9.929 0-4.598-3.867-7.629-11.183-7.629-6.789 0-13.375 2.195-17.66 4.39l-3.243-13.168M757.898 112.758v13.062h-25.605v.211l6.27 5.223c9.824 8.781 18.082 17.875 18.082 29.266 0 12.332-8.469 21.32-23.829 21.32-9.199 0-17.14-3.133-22.261-7l4.496-11.395c3.551 2.719 8.672 5.645 14.523 5.645 7.84 0 11.184-4.391 11.184-9.93-.207-7.941-7.418-15.57-22.262-28.844l-8.777-7.945v-9.613zm52.989 0v16.199h8.152v11.914h-8.152v39.817h-19.442l-25.711-41.383v-10.348h30.098v-16.199zm-30.309 28.113v.211l9.094 14.84c2.297 4.285 4.074 8.254 6.269 12.648h.418c-.316-4.394-.527-8.574-.527-12.648v-15.051h-15.254" fill="#fff"></path><path d="M1.508 14.43h4.27l.679 12.058c.16 2.793.266 6.164.371 9.168h.211c.633-2.37 1.738-6.054 2.582-8.43l4.527-12.64h3.32l4.9 12.855c1.421 3.946 2.16 5.954 2.843 8.266h.156c.106-3.105.32-6.32.422-9.113l.578-12.164h4.426l-1.79 25.492h-5.741l-4.055-11.113c-1.055-2.793-2.477-6.793-3.059-8.747h-.101c-.578 2.004-1.633 5.114-2.32 7.008L9.145 39.922H3.457zm79.504 11.902c.105.527.16 1.211.16 2.16 0 4.688-2.16 11.957-10.535 11.957-7.43 0-11.957-6.004-11.957-13.695 0-7.691 4.687-12.902 12.535-12.902 4.054 0 6.902.89 8.535 1.632l-.844 3.317c-1.687-.738-3.742-1.317-7.058-1.317-4.688 0-8.641 2.578-8.746 8.848zm-17.856 3.32c.371 3.215 2.371 7.48 7.11 7.48 5.215 0 6.48-4.585 6.425-7.48zm50.375 10.27v-6.637c0-3.582-.465-7.004-1.465-10.164a19.748 19.748 0 0 0-2.519-5.219l-2.168-.105.207-11.426h3.594l.261 8.059h17.637l.211-8.059h3.645l.261 11.48-2.648.051v22.02zm4.059-3.527h8.426V17.957H114.27a24.344 24.344 0 0 1 2 4.742c.894 2.844 1.32 6.11 1.32 9.535zm44.683 3.527V14.43h5.372c2.687 4.476 5.531 9.375 7.953 13.324 1.531 2.582 2.582 4.637 4.269 7.953h.102c-.207-4.16-.313-6.32-.313-10.48V14.43h4.426v25.492h-5.426l-7.957-13.168c-1.734-2.95-2.582-4.738-4.16-7.848l-.16.051c.211 3.637.32 6.219.32 10.219v10.746zm52.903 0V14.43h19.496l.215-8.059h3.64l.266 11.5-2.652.055v21.996h-4.582v-21.86h-11.746v21.86zm52.695 0V14.43h5.371c2.688 4.476 5.531 9.375 7.953 13.324 1.528 2.582 2.582 4.637 4.266 7.953h.105c-.211-4.16-.316-6.32-.316-10.48V14.43h4.426v25.492h-5.426l-7.953-13.168c-1.738-2.95-2.582-4.738-4.16-7.848l-.16.051c.211 3.637.316 6.219.316 10.219v10.746zm52.902 0V14.43h4.633v11.53h12.063V14.43h4.633v25.492h-4.633v-10.27h-12.063v10.27zM390.797 18.8c-1.317-.578-3.055-1.211-5.688-1.211-5.058 0-8.851 3.633-8.851 9.531 0 5.27 3.16 9.64 9.008 9.64 2.527 0 4.265-.632 5.371-1.21l1.054 3.527c-1.265.688-3.687 1.371-6.425 1.371-8.325 0-13.696-5.742-13.696-13.59 0-7.797 5.004-13.007 12.692-13.007 3.426 0 6.113.89 7.324 1.472zm29.937 21.12V14.43h4.582v11.218h.899c4.265 0 6.633-1.898 8.375-6.003.84-2.11 1.683-4.11 2.371-5.215h4.844c-1.16 2.054-2.004 4.527-2.684 6.215-2.008 4.582-4.48 7.32-8.59 7.796l11.063 11.48h-5.637l-9.535-11.062h-1.106v11.063zm48.797 0V14.43h5.371c2.688 4.476 5.532 9.375 7.957 13.324 1.528 2.582 2.582 4.637 4.266 7.953h.105c-.21-4.16-.316-6.32-.316-10.48V14.43h4.426v25.492h-5.426l-7.953-13.168c-1.738-2.95-2.582-4.738-4.164-7.848l-.156.051c.207 3.637.316 6.219.316 10.219v10.746zm52.903 0V14.43h5.371c2.687 4.476 5.531 9.375 7.957 13.324 1.527 2.582 2.582 4.637 4.265 7.953h.106c-.211-4.16-.317-6.32-.317-10.48V14.43h4.426v25.492h-5.426l-7.953-13.168c-1.738-2.95-2.582-4.738-4.164-7.848l-.156.051c.211 3.637.316 6.219.316 10.219v10.746zm4.058 10.376c.207-3.578 2-6.531 6.637-6.531 4.055 0 6.738 2.265 7.004 6.53h-3.317c-.265-2.265-1.32-4-3.586-4-2.105 0-3.21 1.735-3.367 4zm71.176-10.375V14.43h4.637v21.86h11.851V14.43h4.633v25.492zm63.176.527c-7.008 0-12.641-5.004-12.641-13.484 0-8.059 5.371-13.113 12.219-13.113 6.113 0 12.695 4.105 12.695 13.535 0 7.742-4.949 13.062-12.273 13.062zm-.102-3.476c5.477 0 7.633-5.426 7.633-9.746 0-5.739-3.316-9.903-7.742-9.903-4.531 0-7.692 4.215-7.692 9.797 0 4.793 2.375 9.852 7.801 9.852zM702.688 4h4.582v13.852h.105c1.527-2.528 4.48-4 7.852-4 6.003 0 11.64 4.527 11.64 13.691 0 7.691-4.637 12.906-10.851 12.906-4.161 0-7.219-1.789-9.059-4.898h-.109l-.262 4.37h-4.109c.105-2.421.211-5.054.211-8.32zm4.582 25.23c0 .579.16 1.266.32 1.844.84 3.477 3.844 5.688 7.004 5.688 4.898 0 7.586-4.371 7.586-9.426 0-5.848-2.848-9.852-7.746-9.852-3.317 0-6.11 2.211-6.954 5.426-.156.578-.21 1.211-.21 1.895zm45.375 10.692v-3.633h7.953V14.43h4.636v21.86h7.954v3.633zm65.859-9.848c0 5.055-1.895 10.375-9.691 10.375-3.211 0-6.321-.894-8.426-2.21l1.054-3.11c1.789 1.21 4.266 1.898 6.688 1.898 5.215.051 5.797-3.793 5.797-5.847v-.528c-9.852.055-15.332-3.316-15.332-9.484 0-3.684 2.633-7.316 7.801-7.316 3.632 0 6.371 1.789 7.793 3.793h.156l.367-3.215h4.164c-.262 1.738-.371 3.894-.371 6.11zm-4.473-7.058c0-.422-.054-.95-.211-1.477-.742-2.16-2.898-4.266-6.269-4.266-2.317 0-4.321 1.371-4.321 4.422 0 4.953 5.743 5.848 10.801 5.746zm37.414 16.906V29.754c0-5.684-.261-9.27-2.632-11.004-.633-.527-1.633-.898-2.528-1.055l.473-3.636c2.371 0 3.793.578 5.058 1.582 3.317 2.156 4.004 6.953 4.004 14.113v6.535h8.743V14.43h4.636v25.493h-17.754" fill="#00648e"></path></g>
		</symbol>
	
		<symbol id="icon-ok" viewBox="0 0 17.333332 17.333332">
			<g transform="matrix(.13333 0 0 -.13333 0 17.333)" fill-rule="evenodd"><path d="M120.262 75.305l.082 50.441L.25 125.719.094 8.852c.55-3.883-.785-1.528 1.343-3.075l118.739-.164.086 69.692"></path><path d="M40.45 82.305c0-19.442 26.198-25.88 35.25-8.91 3.698 6.94 2.402 16.222-3.36 21.992-10.008 10.023-25.953 4.968-30.238-5.703-.657-1.63-1.653-5.368-1.653-7.38zm10.581-.418c0-8.567 11.547-11.407 15.535-3.926 1.63 3.058 1.059 7.148-1.48 9.691-4.41 4.414-11.438 2.192-13.328-2.515-.29-.719-.727-2.36-.727-3.25" fill="#fff"></path><path d="M38.191 57.852c0-4.653 5.317-6.598 8.918-8.012 1.332-.524 3.215-.895 4.25-1.39-3.336-4.985-16.379-12.266-10.066-17.973 6.594-5.965 11.851 5.972 17.969 10.07 2.468-1.656 8.043-8.2 10.375-10.317.18-.164.695-.57.843-.66 3.133-1.93 8.344.211 8.344 4.957 0 4.328-8.683 9.47-11.664 13.922 1.957.938 12.793 3.403 12.793 8.278 0 2.878.242 3.085-1.762 5.007-3.406 3.266-7.441.09-10.023-1.129-10.98-5.187-22.164 2.516-23.578 2.516-1.828 0-3.184.043-4.785-1.613-.543-.567-1.614-2.778-1.614-3.656" fill="#fff"></path></g>
		</symbol>
	
		<symbol id="icon-right-arrow" viewBox="0 0 54 54">
			<path d="M27 53C12.641 53 1 41.359 1 27S12.641 1 27 1s26 11.641 26 26-11.641 26-26 26z"></path><path d="M27 54C12.112 54 0 41.888 0 27S12.112 0 27 0s27 12.112 27 27-12.112 27-27 27zm0-52C13.215 2 2 13.215 2 27s11.215 25 25 25 25-11.215 25-25S40.785 2 27 2z"></path><path d="M22.294 40a.999.999 0 0 1-.707-1.707L32.88 27 21.587 15.707a.999.999 0 1 1 1.414-1.414l11.498 11.498a1.711 1.711 0 0 1 0 2.418L23.001 39.707a.997.997 0 0 1-.707.293z" fill="#fff"></path>
		</symbol>
	
		<symbol id="icon-search-icon" viewBox="0 0 250.313 250.313">
			<path d="M244.186 214.604l-54.379-54.378c-.289-.289-.628-.491-.93-.76 10.7-16.231 16.945-35.66 16.945-56.554C205.822 46.075 159.747 0 102.911 0S0 46.075 0 102.911c0 56.835 46.074 102.911 102.91 102.911 20.895 0 40.323-6.245 56.554-16.945.269.301.47.64.759.929l54.38 54.38c8.169 8.168 21.413 8.168 29.583 0 8.168-8.169 8.168-21.413 0-29.582zm-141.275-44.458c-37.134 0-67.236-30.102-67.236-67.235 0-37.134 30.103-67.236 67.236-67.236 37.132 0 67.235 30.103 67.235 67.236s-30.103 67.235-67.235 67.235z" fill="#FFF" fill-rule="evenodd" clip-rule="evenodd"></path>
		</symbol>
	
		<symbol id="icon-search-right" viewBox="0 0 20 18.666668">
			<g transform="matrix(.13333 0 0 -.13333 0 18.667)" fill-rule="evenodd"><path d="M9.652 4.523h132.883v132.883H9.652z" fill="#77c7f7"></path><path d="M59.398 84.953c-6.773-8.875-3.957-18.89 2.559-25.281 7.637-6.02 19.488-4.473 25.05 2.762.442.574.743.636 1.137 1.199 1.497 2.094 2.43 5.11 2.829 7.808 2.804 19.29-19.856 26.172-31.575 13.512zm32.817-23.3l18.398-18.696c-.738-1.027-2.281-1.914-3.297-3.191-.355-.446-.246-.446-.726-.918-.746-.72-1.945-1.895-2.809-2.239-.14.172-.238.266-.426.457l-17.84 17.79c-2.308-.754-4.042-2.223-7.253-2.954-6.524-1.457-15.29.36-20.067 5.098-10.132 10.059-10.336 26.129 2.043 34.777 3.52 2.438 6.653 3.797 11.395 4.184 4.058.332 9.586-.918 12.848-2.742 8.386-4.707 12.652-14.754 10.71-24.164-.597-2.899-1.379-4.973-2.976-7.403" fill="#fff"></path></g>
		</symbol>
	
		<symbol id="icon-skype" viewBox="0 0 455.731 455.731">
			<path d="M0 0h455.731v455.731H0z"></path><path d="M379.742 257.242a147.043 147.043 0 0 0 2.708-28.107c0-80.82-65.518-146.338-146.338-146.338-9.615 0-19.01.938-28.107 2.708a84.048 84.048 0 0 0-42.589-11.532c-46.65 0-84.467 37.817-84.467 84.467a84.051 84.051 0 0 0 11.532 42.588 147.043 147.043 0 0 0-2.708 28.107c0 80.82 65.518 146.338 146.338 146.338 9.615 0 19.01-.938 28.107-2.708a84.047 84.047 0 0 0 42.588 11.532c46.65 0 84.467-37.817 84.467-84.467a84.024 84.024 0 0 0-11.531-42.588zm-140.85 72.392c-52 0-78-19.5-86-44s9.5-31.5 15-32 17.167.833 20.5 11c3.465 10.567 15 31.5 40 34s41.5-9 46.5-21-4-28.5-42.5-34-78.5-22.5-78.5-61 44-54 86-54 63.293 23.721 68 33c5.833 11.5 3.833 30.661-10 34-14.5 3.5-22-4.5-32.5-24-10.858-20.165-49.5-15-62.5-3.5s-9.5 28 44.5 38.5 74 30 74 60.5-30.5 62.5-82.5 62.5z" fill="#fff"></path>
		</symbol>
	
		<symbol id="icon-time-right" viewBox="0 0 20 18.666668">
			<g transform="matrix(.13333 0 0 -.13333 0 18.667)"><path d="M9.652.238h132.883v132.88H9.652z" fill="#f67e00" fill-rule="evenodd"></path><path d="M76.762 96.559c2.125.808 1.39 3.406 1.39 6.046 5.32-.226 10.094-1.542 14.325-3.496 3.906-1.812 7.199-4.355 10.132-7.316 6.782-6.856 9.993-14.219 10.715-24.367-1.847 0-5.941.652-5.867-1.39.074-1.919 3.957-1.298 5.637-1.298.836-3.933-2.508-15.187-4.895-16.75-.285-1.886-3.617-5.84-4.937-7.246-5.871-6.234-15.5-11.082-25.114-11.176 0 2.13.23 4.051-.441 5.774l-1.902-.207c-.547-1.434-.344-3.774-.344-5.613-15.281.726-26.125 9.312-31.984 21.34-1.496 3.07-3.606 10.042-3.149 13.835 3.031.172 5.875-1.039 5.664 2.157-1.625 1.015-3.441.402-5.8.695 1.062 19.031 15.894 34.48 35.269 35.058 0-1.25-.074-2.714-.031-3.933.062-1.5.008-1.836 1.332-2.113zm-3.578 8.597c-20.598-1.937-37.848-19.988-35.504-43.078 2.054-20.32 20.086-37.312 42.941-35.105 20.449 1.976 37.344 20.183 35.234 42.78-1.902 20.34-19.988 37.528-42.671 35.403" fill="#fff" fill-rule="evenodd"></path><path d="M76.762 96.559c2.125.808 1.39 3.406 1.39 6.046 5.32-.226 10.094-1.542 14.325-3.496 3.906-1.812 7.199-4.355 10.132-7.316 6.782-6.856 9.993-14.219 10.715-24.367-1.847 0-5.941.652-5.867-1.39.074-1.919 3.957-1.298 5.637-1.298.836-3.933-2.508-15.187-4.895-16.75-.285-1.886-3.617-5.84-4.937-7.246-5.871-6.234-15.5-11.082-25.114-11.176 0 2.13.23 4.051-.441 5.774l-1.902-.207c-.547-1.434-.344-3.774-.344-5.613-15.281.726-26.125 9.312-31.984 21.34-1.496 3.07-3.606 10.042-3.149 13.835 3.031.172 5.875-1.039 5.664 2.157-1.625 1.015-3.441.402-5.8.695 1.062 19.031 15.894 34.48 35.269 35.058 0-1.25-.074-2.714-.031-3.933.062-1.5.008-1.836 1.332-2.113zm-3.578 8.597c-20.598-1.937-37.848-19.988-35.504-43.078 2.054-20.32 20.086-37.312 42.941-35.105 20.449 1.976 37.344 20.183 35.234 42.78-1.902 20.34-19.988 37.528-42.671 35.403z" fill="none" stroke="#fff" stroke-width="2.16" stroke-miterlimit="22.926"></path><path d="M101.227 52.379c.371 1.863-.383 2.066-1.813 2.805-1.16.605-1.937 1.027-3.137 1.699L78.148 66.965v9.097c0 6.54.844 7.762-2.035 7.887-1.175-1.937-.652-5.894-.652-8.633 0-3.015-.219-6.953.09-9.855.27-.594 16.328-9.324 18.969-10.715 1.722-.91 4.812-3.46 6.707-2.367" fill="#fff" fill-rule="evenodd"></path><path d="M101.227 52.379c.371 1.863-.383 2.066-1.813 2.805-1.16.605-1.937 1.027-3.137 1.699L78.148 66.965v9.097c0 6.54.844 7.762-2.035 7.887-1.175-1.937-.652-5.894-.652-8.633 0-3.015-.219-6.953.09-9.855.27-.594 16.328-9.324 18.969-10.715 1.722-.91 4.812-3.46 6.707-2.367z" fill="none" stroke="#fff" stroke-width="2.16" stroke-miterlimit="22.926"></path></g>
		</symbol>
	
		<symbol id="icon-tumblr" viewBox="0 0 256 256">
			<path d="M.24.167h255.52v256H.24z"></path><path fill="#FFF" d="M168.08 170.918c-2.969 1.416-8.647 2.648-12.881 2.754-12.783.342-15.264-8.979-15.367-15.736v-49.705h32.065V84.055h-31.954V43.382H116.56c-.385 0-1.057.337-1.152 1.192-1.368 12.448-7.192 34.296-31.416 43.032v20.624h16.16v52.167c0 17.863 13.176 43.24 47.959 42.641 11.736-.201 24.77-5.113 27.648-9.354l-7.679-22.766"></path>
		</symbol>
	
		<symbol id="icon-twitter" viewBox="0 0 17.333332 17.333332">
			<g transform="matrix(.13333 0 0 -.13333 0 17.333)" fill-rule="evenodd"><path d="M94.96 83.574l6.81.547c-1.82-2.89-3-3.797-6.18-5.832-1.797-15.52-2.09-27.523-19.79-39.2-5.73-3.776-13.585-7.792-21.726-8.487-11.812-1.016-16.476 3.011-24.375 6.097 2.965 2.453 5.363.992 10.64 2.926 3.52 1.3 5.864 3.234 9.06 4.469-.962 1.02-.192.422-1.594 1.289-3.79 2.344-6.918 1.558-11.13 8.824 1.497 1.473 2.028 1.27 5.11 1.559-5.156 4.812-10.644 4.789-11.281 15.152l6.113-1.492c-.207 1.21-3.879 3.758-5.226 8.633-1.137 4.086-.13 8.406 1.12 11.77 5.278-2.641 10.676-14.606 32.173-15.563.629 9.601 3.57 16.707 12.09 18.605 10.898 2.438 12.015-4.605 16.57-4.082 1.726.2 4.965 1.625 6.894 2.192-1.386-5.22-2.613-4.43-5.277-7.407zM3.204 3.63l119.953-.008.086 120.113-119.738-.027-.3-120.078" fill="#69c"></path><path d="M94.96 83.574c2.665 2.977 3.892 2.188 5.278 7.407-1.93-.567-5.168-1.993-6.894-2.192-4.555-.523-5.672 6.52-16.57 4.082-8.52-1.898-11.462-9.004-12.09-18.605-21.496.957-26.895 12.921-32.172 15.562-1.25-3.363-2.258-7.683-1.121-11.77 1.347-4.874 5.02-7.421 5.226-8.632l-6.113 1.492c.637-10.363 6.125-10.34 11.281-15.152-3.082-.29-3.613-.086-5.11-1.559 4.212-7.266 7.34-6.48 11.13-8.824 1.402-.867.632-.27 1.593-1.29-3.195-1.234-5.539-3.167-9.058-4.468-5.278-1.934-7.676-.473-10.64-2.926 7.898-3.086 12.562-7.113 24.374-6.097 8.14.695 15.996 4.71 21.727 8.488C93.5 50.766 93.793 62.77 95.59 78.29c3.18 2.034 4.36 2.94 6.18 5.831l-6.81-.547" fill="#fdfcfc"></path></g>
		</symbol>
	
		<symbol id="icon-vk" viewBox="0 0 17.333332 17.333332">
			<g transform="matrix(.13333 0 0 -.13333 0 17.333)" fill-rule="evenodd"><path d="M9.535 4.867h119.832l.492 120.293H9.079L9.534 4.867"></path><path d="M64.316 48.93c6.063.324 16.133 1.535 16.364 5.578.23 4-8.89 6.117-16.442 6.125.024-3.899.047-7.805.078-11.703M64.2 71.129c20.702.062 21.007 10.723 0 10.789v-10.79"></path><path d="M40.277 31.348c9.196-.2 18.594-.012 27.801-.012 7.328 0 19.242-.074 25.055 2.98 8.445 4.442 11.699 15.91 7.597 24.141-.703 1.414-2.003 3.273-2.89 4.055-4.082 3.61-7.543 3.636-9.363 4.722 6.55 2.543 10.707 6.942 10.777 14.434.074 7.707-4.68 13.07-10.133 15.289-6.059 2.461-16.332 1.723-23.441 1.723-8.414 0-17 .168-25.387-.012zm20.95 41.066c1.574-.308 9.996-.195 11.75.05 3.625.5 5.765 2.243 5.867 6.09.105 3.93-2.16 5.782-5.723 6.286-1.879.266-10.121.39-11.887.074zm12.656-26.45c3.094-.269 5.863 1.446 6.894 3.348 1.516 2.79 1.024 6.016-.949 7.903-3.285 3.152-13.121 2.289-18.437 2.191V45.895l12.492.07" fill="#fff"></path></g>
		</symbol>
	
		<symbol id="icon-youtube" viewBox="0 0 17.333332 17.333332">
			<g transform="matrix(.13333 0 0 -.13333 0 17.333)" fill-rule="evenodd"><path d="M122.305 77.113l.082 50.438-120.098-.028-.152-116.867c.55-3.883-.785-1.523 1.343-3.074l118.739-.164.086 69.695"></path><path d="M69.469 33.691c-.703-.058-4.469-.207-4.715.164-.063.086-.328 33.06-.016 34.711l5.09-.047.059-12.351c1.11 1.039 1.539 2.664 2.992 3.719 1.508 1.086 3.726.8 4.828-.465 1.742-1.996 1.11-8.969 1.11-12.168 0-3.207.48-10.106-.946-12.348-.77-1.215-2.617-2.55-4.625-1.316-1.437.887-2.266 2.808-2.594 3.187-.34.371-.05.13-.422.344zm22.351 4.993l.317 2.437c0 .777-.04 1.64.031 2.367l4.441.012c0-1.934-.105-3.348-.336-5.133.028-2.027-2.359-4.582-4.242-4.984-2.883-.625-5.89.074-7.324 1.672-1.734 1.91-2.035 4.043-2.078 7.293-.04 3.062-.04 6.226.027 9.285.07 3.039.492 5.547 2.215 7.125 1.664 1.515 4.508 2.066 7.207 1.199 2.203-.723 3.727-2.531 4.195-5.09.442-2.394.559-6.156.442-8.734l-8.832-.031c-.285-.95-.176-6.91.035-7.989.496-2.484 3.547-2.375 3.902.57zm-38.195-3.192c-.574-.836-1.14-1.855-2.363-2.18-5.465-1.46-4.961 5.618-5 8.504-.086 5.973-.137 12.297.007 18.297h5.118c.113-3.996.015-8.144.015-12.16 0-1.996.024-3.969.055-5.965.02-1.761-.121-3.914 1.973-3.847 2.074.058 1.828 2.257 1.847 4.027.051 5.95-.101 12.098.024 17.96l5.148-.015-.062-26.472-5.13.035-.042 1.476zM29.508 68.57l15.797-.05-.016-5.47-5.21-.015-.071-29.363-5.406.043-.036 29.32-5.125.016zm73.445-23.422c.235 5.387.051 11.09-.226 16.524-.286 5.531-.954 8.363-5.051 11.934-3.797 3.3-7.633 3.238-13.75 3.363-5.375.105-10.973.363-16.457.398-8.504.067-16.79-.082-25.242-.328-7.805-.223-13.403.594-18.301-7.11-2.281-3.593-2.055-9.699-2.125-14.62-.106-5.621-.047-11.098.234-16.668.16-3.235.09-4.485 1.305-7.282.812-1.863 2.39-3.757 3.676-4.754 4.457-3.468 6.882-3.261 13.636-3.433 14.61-.371 27.45-.457 42.055-.04 2.586.067 5.54 0 8.05.305 4.747.575 8.27 3.778 10.118 6.883 2.387 4 1.852 9.535 2.078 14.828M78.32 80.938c.672-.012.993-.227 1.512-.458l.152-1.285 5.329-.07.05 25.293c-1.148.066-4.437.191-5.363-.098-.207-5.218.02-12.054-.02-17.64-.015-1.942.047-4.078-1.992-4.035-1.949.035-1.84 2.207-1.91 3.859-.195 5.726.246 12.215-.05 17.887-1.005.121-4.493.207-5.321-.078l.04-17.641c.105-2.633-.278-5.899 1.636-7.328.867-.649 2.281-.926 3.52-.563 1.285.375 1.64 1.227 2.417 2.156M57.512 96.32c.011 2.051-.25 5.043 1.894 5.106 2.203.074 1.957-3.184 1.957-5.106v-9.992c0-1.933.07-4.89-2.105-4.656-1.887.203-1.746 3.144-1.746 5.008zm.39 8.078c-6.488-1.128-5.777-8.011-5.746-14.562.004-2.961-.02-6.649 1.426-8.797 1.367-2.016 4.426-2.785 7.578-2.266 6.192 1.032 5.57 8.399 5.57 14.563.016 3.066.032 6.406-1.636 8.504-1.38 1.73-3.88 3.129-7.192 2.558M46.184 79.203c.367 3.363-.23 12.797.152 14.574.695 3.246 4.93 18.395 4.914 19.621l-3.836.036-3.36-13.762c-1.445 3.133-3.097 10.933-4.398 13.695l-3.828.071c.012-.829 4.375-15.43 4.965-17.317 1.195-3.82.812-6.074.816-10.488 0-7.488-.554-6.52 1.84-6.496.906.004 1.852-.078 2.735.066" fill="#fff"></path><path d="M73.5 40.242c.414 2.031.21 7.442.18 9.813-.02 1.441.078 3.507-.844 4.316-1.192 1.047-2.594.223-2.848-1.254-.398-2.355-.18-7.254-.156-9.898.016-1.426-.063-3.57.82-4.348 1.305-1.168 2.563-.059 2.848 1.371M87.781 52.336l.016-3.297h3.777c.047 1.621.25 5.496-.57 6.512-.656.812-2.027.734-2.7-.055-.644-.765-.523-1.988-.523-3.16" fill="#fff"></path></g>
		</symbol>
	
</svg>
