<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="position:absolute">
	
		<symbol id="icon-1bludo" viewBox="0 0 12.043 12.0429">
			<defs id="defs4"><style id="style2">.fil3{fill:#e3d600}.fil1{fill:#c6ae0a}.fil0{fill:#ceb92d}.fil2{fill:#f7f6e7}</style></defs><g id="Слой_x0020_1" transform="translate(-44.719 -46.218)"><path class="fil0" d="M49.767 49.613c0 .488.758.46.758.948 0 .213-.075.209-.19.38.24-.064.474-.184.474-.474 0-.454-.663-.481-.663-.854 0-.256.045-.261.094-.474-.103.07-.474.343-.474.474z" id="path7" fill="#ceb92d"></path><path class="fil0" d="M50.715 49.519c0 .67.663.559.663 1.043 0 .212-.075.208-.134.442l.513-.537c-.19-.361-.758-.746-.758-.854 0-.16.126-.354.19-.474-.182.049-.474.186-.474.38z" id="path9" fill="#ceb92d"></path><path class="fil1" d="M48.06 51.889c.221.254.25.686.441 1.075.268.545.425.51.697.916-.7-.059-1.138-1.186-1.138-1.991zm-.38-.095c0 1.23.889 2.514 1.897 2.75v.378h2.37v-.379c.905-.21 1.896-1.42 1.896-2.465v-.569h-6.162z" id="path11" fill="#c6ae0a"></path><path class="fil2" d="M49.198 53.88c-.272-.406-.429-.371-.697-.916-.191-.39-.22-.821-.441-1.075 0 .805.438 1.932 1.138 1.99z" id="path13" fill="#f7f6e7"></path><path id="path14" class="fil3" d="M50.74 46.218a6.022 6.022 0 1 1 0 12.043 6.022 6.022 0 0 1 0-12.043zm.007.16c3.209 0 5.81 2.615 5.81 5.84 0 3.226-2.601 5.84-5.81 5.84-3.21 0-5.812-2.614-5.812-5.84 0-3.225 2.602-5.84 5.812-5.84m0 0z" fill="#e3d600"></path></g>
		</symbol>
	
		<symbol id="icon-2bludo" viewBox="0 0 12.043 12.0429">
			<defs id="defs4"><style id="style2">.fil1{fill:#b05728}.fil0{fill:#b54e2f}</style></defs><g id="Слой_x0020_1" transform="translate(-40.827 -43.695)"><path class="fil0" d="M48.276 51.21l-.872-.236c-.258.103-.401.323-.775.311-.427 0-.807-.166-.807-.567v-.098c0-.23.163-.392.392-.392h.197c.672 0 .663.589 1.08.589h.294c.443-.007.84-.165.499.142-.049.044.112.283-.008.25zm-4.614.49h.687c.059.219.023.295.295.295h4.515c.272 0 .236-.076.295-.295h.687c-.027-1.225-1.84-2.293-3.241-2.324v-.49h-.196v.492c-1.291.102-3.005.663-3.042 2.322z" id="path7" fill="#b54e2f"></path><path id="path14" class="fil1" d="M46.849 43.695a6.022 6.022 0 1 1 0 12.043 6.022 6.022 0 0 1 0-12.043zm.006.16c3.21 0 5.811 2.615 5.811 5.84 0 3.225-2.602 5.84-5.811 5.84-3.21 0-5.812-2.615-5.812-5.84 0-3.225 2.602-5.84 5.812-5.84m0 0z" fill="#b05728"></path><path class="fil1" d="M46.608 47.148c0 .376.344.355.344.731 0 .164-.034.16-.086.293.11-.05.216-.142.216-.366 0-.35-.302-.371-.302-.658 0-.198.02-.202.043-.366-.047.053-.215.264-.215.366z" id="path10" fill="#b05728"></path></g>
		</symbol>
	
		<symbol id="icon-chef" viewBox="0 0 4.8891001 6.1080766">
			<defs id="defs4"><style id="style2">.fil0{fill:#1f1a17}</style></defs><g id="Слой_x0020_1" transform="translate(-45.975 -45.802)"><path class="fil0" d="M48.245 46.158c-.41-.095-.516-.175-1.048-.175-.815 0-1.222.407-1.222 1.223 0 .828.369 1.064 1.047 1.222v1.24c.847-.089 1.953-.018 2.794-.018v-1.397c.357-.083 1.048-.332 1.048-.698 0-.414-.13-1.866-1.572-1.746-.49 0-.734.161-1.047.349zm-.018 5.752c.682-.057.373.116.541-.514h-.698zm-1.38-1.038v-.349l-.364-.157c.104 1.255.751.681 1.762.681.606 0 1.92.461 1.92-.175 0-.245.107-.436.054-.48-.053-.045-.27.167-.406.067l-.013.412c-.802-.215-.425-.697-1.032-.697h-.698c-.638 0-.377.473-1.222.698z" id="path7" fill="#1f1a17"></path></g>
		</symbol>
	
		<symbol id="icon-desert" viewBox="0 0 12.043 12.0429">
			<defs id="defs4"><style id="style2">.fil0{fill:#db587c}</style></defs><g id="Слой_x0020_1" transform="translate(-39.143 -39.653)"><path class="fil0" d="M44.512 44.264c.082-.308.273-.532.638-.532.25 0 .473.208.638.319.68 0 .942.193.957.85h-2.871c.012-.558.079-.625.638-.637zm.85 2.764c1.024-.023 1.489-.637 1.489-1.701h-3.19v.531c0 .634.917 1.17 1.489 1.17v.531c0 .61-.495 1.01-.745 1.383h1.808c-.35-.477-.85-.615-.85-1.595zm.594-4.161c-.181-.752-.745-1.221-1.593-1.292.209.782.204.22.878.573.467.245.28.404.699.718-.29-.006-.5.201-.28.644-.882 0-2.105.179-2.105 1.604h3.402c0-.964-.23-1.256-.926-1.497.219.07.584-.299.293-.63a.792.792 0 0 0-.368-.12z" id="path7" fill="#db587c"></path><path id="path14" class="fil0" d="M45.165 39.653a6.022 6.022 0 1 1 0 12.043 6.022 6.022 0 0 1 0-12.043zm.006.16c3.21 0 5.811 2.615 5.811 5.84 0 3.226-2.602 5.84-5.811 5.84-3.21 0-5.811-2.614-5.811-5.84 0-3.225 2.601-5.84 5.811-5.84m0 0z" fill="#db587c"></path></g>
		</symbol>
	
		<symbol id="icon-desert-venzel" viewBox="0 0 170 20">
			<defs><style>.fil0{fill:#b5b2ab}</style></defs><g id="Слой_x0020_1"><path class="fil0" d="M81.313 5.158l-.236.118-.117.117-.118.118-.117.117-.118.118-.117.118-.118.117-.118.235-.117.236-.118.235v.235l.353.117.94.118.588.117.47.118.353.118.353.117.235.118.235.117.236.118.235.117.117.118.236.118.117.117.118.118.117.117h.118V8.45l-.118-.352-.117-.236-.118-.235-.117-.235-.118-.235-.118-.235-.117-.235-.118-.118-.117-.235-.118-.118-.118-.117-.117-.235-.118-.118-.117-.118-.118-.117-.117-.118-.236-.117-.235-.118-.352-.117h-.47zM85.075 2.336l-.118.118-.117.117-.118.118-.117.118-.118.235-.117.117-.118.118-.118.117-.117.236-.118.235-.117.353v.705l.117.47.118.47.117.353.118.236.118.352.117.353.118.235.117.353.118.235.117.235.118.353.117.117h.236l.117-.352.118-.236.117-.235.118-.352.118-.236.117-.352.118-.235.117-.353.118-.353.117-.353.118-.47V4.1l-.118-.353-.117-.235-.118-.118-.117-.235-.118-.117-.117-.118-.118-.117-.118-.118-.117-.118-.118-.235-.117-.117h-.236zM88.014 5.158l-.235.118-.117.117-.118.118-.118.117-.117.118-.118.118-.117.117-.118.118-.117.117-.118.236-.118.235-.117.117-.118.235-.117.236-.118.235-.117.235-.118.235-.118.235-.117.353v.117h.235l.118-.117.117-.118.118-.117.117-.118.235-.117.118-.118.235-.118.235-.117.353-.118.235-.117.353-.118.47-.118.588-.117 1.058-.118.235-.117v-.353l-.117-.235-.118-.235-.117-.235-.118-.118-.118-.118-.117-.117-.118-.118-.235-.117-.235-.118-.353-.117h-.47zM107.884 13.506h1.059l1.175-.118 1.176-.117 1.528-.118 1.764-.117 2.234-.118 2.822-.118 3.174-.117 3.527-.118 3.528-.117 3.527-.118 5.408-.117 5.879-.118h.118l.117.235.118.118.117.117.118.118.117.117.118.118.235.118.235.117h1.176l.235-.117.235-.118.118-.118.118-.117.117-.118.118-.117.117-.235.002-.252.469.134.117.118.118.117.117.118.118.117.235.118h.941l.352-.118.118-.117.117-.118.118-.117.118-.236h.47l.117.118.118.118h.941l.117-.118.118-.118 3.527-.117 2.704-.118.118-.117.235-.118v.353l.117.117.118.118.118.118h.94l.118-.118.117-.118.118-.117.118-.235v-.588l-.118-.235-.118-.118-.117-.117-.235-.118h-.706l-.235.117-.118.118-.117.118v.47h-.235v-.235l-.235-.118-5.997-.117-.117-.118-.118-.117-.235-.118h-.705l-.236.117-.117.118h-.47l-.118-.235-.118-.118-.117-.117-.235-.118-.353-.117h-.705l-.236.117-.235.118-.117.117-.118.118-.117.117-.004.252-.349-.134-.118-.235-.117-.235-.118-.118-.117-.117-.118-.118-.235-.118-.118-.117-.353-.118h-.94l-.353.118-.235.117-.118.118-.117.118-.118.117-.117.118-.118.117-.117.236-.006.252-.23-.135-7.642-.117-5.056-.118-3.409-.118-3.175-.117-3.057-.118-2.704-.117-2.351-.118-1.999-.118-1.764-.117-1.411-.118-1.175-.117-1.176-.118-1.058-.117h-.706zM9.475 10.214l-.118.117-.117.236v.94l.117.118.118.117.117.118h.941l.235-.118.118-.117.117-.235v-.706l-.117-.235-.118-.118-.117-.117-.236-.118H9.71zM64.5 10.331l-.118.118-.118.117v.941l.118.235.117.118.236.117h.705l.235-.117.118-.118.117-.117.118-.235v-.706l-.118-.235-.117-.118-.235-.117h-.94zM104.827 10.331l-.117.118-.118.117-.117.353v.235l.117.353.118.235.117.118.236.117h.705l.235-.117.118-.118.117-.117.118-.235v-.588l-.118-.236-.117-.235-.235-.117h-.941zM7.006 9.743l-.118.118-.235.118-.117.235-.118.117-.118.353v.706l.118.235.117.235.118.117.118.118.117.118.235.117h1.059l.235-.117.117-.118.118-.118.117-.117.118-.118.118-.235v-.94l-.118-.236-.118-.235-.117-.117-.118-.118-.235-.118-.353-.117H7.36zM66.851 9.861l-.235.118-.118.117-.117.118-.118.235-.118.353v.47l.118.47.118.118.117.117.118.118.117.118.118.117.353.118h.705l.235-.118.235-.117.118-.118.118-.118.117-.117.118-.235v-1.059l-.118-.235-.117-.235-.118-.117-.235-.118-.235-.118h-.94zM102.241 9.861l-.118.118-.117.117-.118.118-.117.117-.118.353v.823l.118.235.117.235.118.118.117.118.235.117.353.118h.588l.353-.118.235-.117.117-.118.118-.118.118-.235.117-.235v-.94l-.117-.236-.118-.117-.118-.118-.117-.117-.118-.118-.235-.118h-1.058zM162.204 10.096l-.118.118-.235.117-.118.236-.117.117-.118.353v.588l.118.352.117.236.118.117.117.118.236.117.235.118h.94l.235-.118.118-.117.118-.118.117-.117.118-.118.117-.235v-1.058l-.117-.236-.118-.117-.117-.118-.118-.117-.235-.118-.235-.117h-.706zM3.596 9.273l-.235.118-.235.117-.118.118-.117.117-.118.236-.117.117-.118.235v1.294l.118.235.117.235.118.118.117.117.118.118.118.117.235.118.235.117h1.175l.353-.117.118-.118.235-.117.118-.118.117-.117.118-.236.117-.235.118-.352v-.824l-.118-.352-.117-.235-.118-.118-.117-.118-.118-.117-.118-.118-.117-.117-.235-.118-.353-.117h-.823zM165.378 9.626l-.118.117-.235.118-.117.118-.118.117-.117.118-.118.235-.118.235v1.293l.118.236.118.235.117.117.118.118.117.117.118.118.235.118.235.117h1.176l.353-.117.117-.118.235-.118.118-.117.118-.235.117-.118.118-.235.117-.353v-.705l-.117-.47-.118-.236-.117-.117-.118-.118-.118-.117-.117-.118-.118-.118-.235-.117-.353-.118h-.94zM60.972 8.92l-1.058.118-1.293.118-1.411.117-1.646.118-1.999.117-2.234.118-2.822.117-2.939.118-3.174.118-3.41.117-4.703.118-7.642.117-.94.118v-.235l-.119-.235-.117-.118-.118-.235-.235-.118-.117-.117-.236-.118-.352-.117h-.823l-.353.117-.235.118-.118.117-.117.118-.118.117-.117.118-.118.118-.117.235v.235h-.47v-.235l-.118-.118-.118-.117-.117-.118-.118-.118-.353-.117h-.705l-.235.117-.236.118-.117.118-.118.117-.117.118-.588.117-.118-.117-.117-.118h-.706l-.235.118-.117.117-.118.118-5.996.117-.236.118-.117.118v.47l.117.118 2.234.117 3.998.118.117.117.236.118h.823l.235-.118.117-.117.47-.118v.235l.118.235.118.118.235.118.235.117h.94l.236-.117.235-.118.118-.118.117-.117v-.235h.47v.235l.118.117.118.236.117.117.118.118.117.117.235.118.236.117h1.293l.235-.117.235-.118.118-.117.117-.118.118-.117.117-.118.118-.235h5.526l5.644.117 3.527.118 3.527.118 3.527.117 3.175.118 2.822.117 2.351.118 1.764.117 1.528.118 1.293.118 1.059.117 1.058.118h.235V8.803h-.705zM73.67 11.154l.118-.352.002-.251.468.133.235.118.236.117.235.118.117.117.118.118.117.118.118.235.118.47v.118l-.118.352v.235h-.235l-.235.118h-.47l-.236-.118-.117-.117-.118-.118-.118-.235-.117-.235-.118-.353v-.588zm7.643 0l.137.02-.137.098v-.118zm0 0l-.118-.117.118.117zm-3.645-3.527l-.47.118-.47.117-.353.118-.236.118-.352.117-.235.118-.118.117-.235.118-.235.117-.118.118-.117.117-.236.118-.117.118-.118.117-.117.118-.118.117-.118.118-.117.235-.118.118v.235h-1.058l-.117-.118-.118-.235-.118-.118-.117-.117-.118-.118-.235-.117-.235-.118h-1.293l-.235.118-.236.117-.117.118-.118.117-.117.118-.118.118-.117.235-.118.235v1.176l.117.352.118.118.118.235.117.118.118.117.235.118.235.117.353.118h.823l.352-.118.236-.117.117-.118.118-.117.117-.118.118-.117.118-.118.117-.235.118-.353v-.823l.352-.118.37-.111-.134.23-.118.234v1.646l.118.353.117.118.118.117.117.118.118.117.117.118.236.117.352.118h.588l.353-.118.235-.117.118-.118.117-.117.118-.118.117-.117.118-.353v-.706l-.118-.47-.117-.235-.118-.118-.117-.117-.118-.118-.117-.117-.118-.118-.118-.118-.235-.117-.235-.118-.47-.117-.118-.118.118-.117.117-.118.118-.118.235-.117.118-.118.235-.117.235-.118.235-.117.353-.118.353-.118.47-.117.588-.118.823-.117h1.646l.705.117.47.118.353.118.235.117.235.118.236.117.117.118.235.117.118.118.118.117.117.118.118.118.117.235.118.235.117.235.118.47v.941l-.118.353-.117.235-.118.235-.117.118-.118.117-.117.118-.118.117-.118.118-.235.117-.235.118-.235.118-.353.117-.47.118h-1.176l-.47-.118-.353-.117-.117-.118-.236-.118-.117-.117-.118-.118-.117-.235-.118-.117-.117-.353v-1.176l.117-.235.118-.118.117-.117.118-.118.117-.117.236-.118.352-.118h1.294l.235.118.235.118.117.117.118.118h-.823l-.235.117-.118.118-.117.118v1.058l.117.117.118.118.235.117h.823l.235-.117.118-.118.117-.117.118-.118.117-.353v-.94l-.117-.235-.118-.236-.117-.117-.118-.118-.117-.117-.118-.118-.118-.117-.235-.118-.235-.118-.235-.117h-1.764l-.352.117-.235.118-.236.118-.117.117-.118.118-.117.117-.118.118-.117.117-.118.118-.118.118-.117.235-.118.235-.117.588v.705l.117.588.118.235.117.235.118.236.118.117.117.118.118.117.117.118.118.117.117.118.118.118.235.117.235.118.235.117.353.118.47.117h1.882l.47-.117.353-.118.352-.117.236-.118.235-.117.117-.118.235-.118.118-.117.118-.118.235-.117.117-.118.118-.117.117-.236.118-.117.118-.118.117-.235.118-.235.117-.353v-1.88l-.117-.354-.118-.352-.117-.236-.118-.117-.118-.235-.117-.118-.118-.117-.117-.118-.118-.118-.117-.117-.118-.118-.118-.117-.235-.118-.235-.117-.117-.118-.236-.118-.352-.117-.236-.118-.47-.117-.47-.118-.823-.117h-1.529l-.94.117zM96.715 12.213l-.118.235-.117.117-.118.118-.117.117-.236.118h-.47l-.235-.118-.118-.117-.117-.235v-.706l.117-.235.118-.117.117-.236.236-.117.117-.118.235-.117.353-.118h.353l.117.235v.94l-.117.354zm-7.172-4.586l-.47.118-.353.117-.353.118-.235.118-.235.117-.235.118-.236.117-.117.118-.118.117-.235.118-.117.117-.118.118-.118.118-.117.235-.118.117-.117.118-.118.235-.118.235-.117.353-.118.47v1.411l.118.353.117.353.118.235.118.117.117.235.118.118.117.118.118.117.118.118.117.117.118.118.235.117.117.118.236.118.235.117.235.118.235.117.353.118.588.117h1.763l.47-.117.353-.118.353-.117.117-.118.236-.117.117-.118.235-.118.118-.117.118-.118.117-.117.118-.235.117-.118.118-.235.117-.235.118-.353v-1.41l-.118-.354-.117-.235-.118-.117-.117-.236-.118-.117-.117-.118-.118-.117-.118-.118-.235-.117-.235-.118-.235-.118-.353-.117h-1.646l-.353.117-.235.118-.235.118-.117.117-.118.118-.117.117-.118.118-.118.235-.117.235-.118.353v.47l.118.47.117.118.118.235.235.118.235.117h.823l.118-.117.117-.118.118-.117.117-.235v-.588l-.117-.235-.118-.118-.117-.118-.118-.117h-.94l.117-.118.118-.117.235-.118.353-.118h1.293l.235.118.235.118.235.117.118.118.118.235.117.118.118.352v.706l-.118.352-.117.236-.118.235-.118.117-.117.118-.118.117-.117.118-.235.118-.236.117-.47.118H89.66l-.47-.118-.353-.117-.352-.118-.235-.118-.118-.117-.235-.118-.118-.117-.117-.118-.118-.117-.118-.236-.117-.117-.118-.353-.117-.47v-.47l.117-.588.118-.236.117-.235.118-.235.118-.117.117-.236.118-.117.235-.118.118-.117.117-.118.235-.117.235-.118.236-.118.352-.117.47-.118.706-.117h1.764l.823.117.47.118.47.118.353.117.353.118.235.117.235.118.235.117.235.118.118.117.235.118.118.118.117.117-.117.118-.47.117-.353.118-.118.117-.235.118-.118.118-.117.117-.118.118-.117.235-.118.118-.118.352v1.176l.118.235.118.118.117.117.118.118.235.117.47.118h.588l.353-.118.235-.117.117-.118.118-.117.118-.118.117-.235.118-.235.117-.353v-1.058l-.117-.47-.118-.236h.705v1.176l.118.235.118.236.117.117.118.118.117.117.236.118.235.117.352.118h.823l.353-.118.235-.117.118-.118.117-.117.118-.118.118-.117.117-.236.118-.117.117-.47v-.588l-.117-.47-.118-.236-.117-.117-.118-.236-.118-.117-.235-.118-.117-.117-.353-.118h-1.176l-.235.118-.235.117-.118.118-.117.117-.118.118-.117.118-.118.117-.117.118-.941-.118-.118-.235-.117-.118-.118-.117-.117-.118-.118-.117-.117-.118-.118-.117-.118-.118-.117-.118-.118-.117-.235-.118-.117-.117-.236-.118-.235-.117-.235-.118-.235-.118-.353-.117-.353-.118-.352-.117-.588-.118-.823-.117h-1.646l-.823.117z"></path></g>
		</symbol>
	
		<symbol id="icon-dlya_mikrovolnovki" viewBox="0 0 12.043 12.0429">
			<defs id="defs4"><style id="style2">.fil1{fill:#530202}.fil4{fill:#580605}.fil0{fill:#59130b}.fil2{fill:#6a2c0d}.fil3{fill:#91766b}</style></defs><g id="Слой_x0020_1" transform="translate(-38.008 -47.601)"><path class="fil0" d="M41.435 51.897h5.448c-.02-.86-1.087-1.198-1.961-1.198.417.265.725.105.871.653h-3.486c.178-.668 1.963-.55 2.814-.55l-.2-.103c-1.352 0-3.458-.026-3.485 1.198z" id="path7" fill="#59130b"></path><path class="fil1" id="polygon9" fill="#530202" d="M44.704 53.205h-1.09v.326h1.09z"></path><path class="fil0" id="polygon11" fill="#59130b" d="M43.614 53.75v.435h1.09v-.436z"></path><path class="fil2" id="polygon13" fill="#6a2c0d" d="M43.614 54.294v.327h1.09v-.327z"></path><path class="fil3" d="M43.614 53.531l1.09.218V54.621l-1.307.109v-1.743l1.432.005-.125.213v.326zm-.326 1.308h1.743v-1.961h-1.743z" id="path15" fill="#91766b"></path><path class="fil4" d="M43.179 52.769h1.96v2.288h-1.96zm-1.743 0h.217v2.614c0 .86 1.069.654 1.635.654h1.96c.358 0 1.308.322 1.308-.545V52.77c.24 0 .338-.014.338-.013l-.011-.641h-5.448z" id="path17" fill="#580605"></path><path id="path14" class="fil4" d="M44.029 47.601a6.022 6.022 0 1 1 0 12.043 6.022 6.022 0 0 1 0-12.043zm.006.16c3.21 0 5.811 2.615 5.811 5.84 0 3.225-2.601 5.84-5.81 5.84-3.21 0-5.812-2.615-5.812-5.84 0-3.225 2.602-5.84 5.811-5.84m0 0z" fill="#580605"></path></g>
		</symbol>
	
		<symbol id="icon-first-dish-beget-bottom" viewBox="0 0 170 20">
			<defs><style>.fil0{fill:#b5b2ab}</style></defs><g id="Слой_x0020_1"><path class="fil0" d="M40.279 6.193h87.98v.842h-87.98zM81.53 15.118l-.178-.09-.09-.089-.088-.089-.09-.09-.089-.088-.09-.09-.088-.089-.09-.178-.09-.179-.088-.178v-.179l.267-.09.715-.088.446-.09.357-.089.268-.09.267-.089.179-.089.178-.089.179-.09.178-.088.09-.09.178-.089.09-.09.089-.088.089-.09h.09v.179l-.09.268-.09.178-.089.178-.089.179-.09.178-.088.179-.09.179-.089.089-.09.178-.088.09-.09.089-.089.178-.09.09-.088.089-.09.09-.089.088-.178.09-.179.089-.268.09h-.357zM84.387 17.26l-.09-.09-.089-.089-.09-.089-.088-.09-.09-.178-.089-.089-.09-.09-.088-.088-.09-.179-.089-.178-.09-.268v-.536l.09-.357.09-.357.089-.267.089-.179.09-.268.088-.268.09-.178.089-.268.09-.178.088-.179.09-.268.089-.089h.178l.09.268.089.178.09.179.088.268.09.178.089.268.09.179.088.267.09.268.089.268.09.357v.803l-.09.268-.09.178-.089.09-.089.178-.09.09-.088.089-.09.089-.089.09-.09.088-.088.179-.09.09h-.178zM86.618 15.118l-.178-.09-.09-.089-.089-.089-.09-.09-.089-.088-.089-.09-.09-.089-.088-.09-.09-.088-.089-.179-.09-.178-.088-.09-.09-.178-.089-.179-.09-.178-.088-.179-.09-.178-.089-.179-.09-.268v-.089h.18l.089.09.089.089.09.089.088.09.179.088.09.09.178.089.178.09.268.088.178.09.268.089.357.09.447.088.803.09.178.089v.268l-.089.178-.09.179-.088.178-.09.09-.089.089-.09.09-.088.088-.179.09-.178.089-.268.09h-.357zM68.767 11.19l-.09-.089-.088-.089v-.714l.089-.178.09-.09.178-.089h.535l.179.09.089.089.09.089.088.178v.536l-.089.178-.09.09-.178.089h-.714zM99.381 11.19l-.089-.089-.09-.089-.088-.268v-.178l.089-.268.09-.178.088-.09.179-.089h.535l.179.09.089.089.089.089.09.178v.447l-.09.178-.089.179-.178.089h-.714zM70.552 11.548l-.178-.09-.09-.089-.089-.09-.089-.178-.09-.267v-.357l.09-.357.09-.09.088-.089.09-.09.089-.088.09-.09.267-.089h.536l.178.09.178.089.09.089.089.09.09.088.089.179v.803l-.09.179-.089.178-.09.09-.178.089-.178.089h-.714zM97.418 11.548l-.09-.09-.089-.089-.089-.09-.09-.088-.088-.268v-.625l.089-.178.089-.179.09-.09.089-.088.178-.09.268-.089h.446l.268.09.178.089.09.089.089.09.09.178.088.178v.714l-.089.179-.09.089-.088.09-.09.088-.089.09-.178.089h-.804zM75.729 10.566l.09.268v.19l.356-.101.179-.09.178-.089.179-.089.089-.09.09-.088.089-.09.089-.178.089-.357v-.09l-.09-.267v-.179h-.178l-.178-.089h-.357l-.179.09-.089.089-.09.089-.088.178-.09.179-.089.268v.446zm5.801 0l.105-.015-.104-.074v.089zm0 0l-.089.09.09-.09zm-2.766 2.677l-.357-.089-.357-.089-.268-.09-.179-.089-.267-.089-.179-.089-.09-.09-.178-.088-.178-.09-.09-.089-.089-.09-.178-.088-.09-.09-.089-.089-.089-.09-.09-.088-.089-.09-.089-.178-.089-.09v-.178h-.803l-.09.09-.089.178-.09.089-.088.09-.09.089-.178.089-.179.089h-.981l-.179-.09-.178-.088-.09-.09-.089-.09-.09-.088-.088-.09-.09-.178-.089-.179v-.892l.09-.268.089-.09.089-.178.09-.089.088-.09.179-.088.178-.09.268-.089h.625l.268.09.178.089.09.089.089.09.089.088.09.09.088.089.09.178.089.268v.625l.268.09.28.084-.102-.174-.089-.179v-1.25l.09-.267.089-.09.089-.088.089-.09.09-.089.089-.09.178-.088.268-.09h.446l.268.09.178.089.09.09.089.088.09.09.088.089.09.268v.535l-.09.357-.089.179-.09.089-.088.09-.09.088-.089.09-.09.089-.089.09-.178.088-.178.09-.358.089-.089.09.09.088.089.09.089.089.178.09.09.089.178.089.179.089.178.09.268.089.268.089.357.089.446.09.625.089h1.25l.535-.09.357-.089.268-.09.178-.088.179-.09.178-.089.09-.09.178-.088.09-.09.089-.09.089-.088.089-.09.09-.178.089-.179.089-.178.09-.357v-.714l-.09-.268-.09-.178-.089-.179-.089-.09-.09-.088-.088-.09-.09-.089-.089-.09-.179-.088-.178-.09-.179-.089-.267-.09-.357-.088h-.893l-.357.089-.268.089-.089.09-.178.089-.09.089-.089.09-.09.178-.088.089-.09.268v.892l.09.179.089.089.09.09.088.088.09.09.178.089.268.09h.982l.178-.09.179-.09.089-.089.09-.089h-.625l-.18-.09-.088-.088-.09-.09v-.803l.09-.09.089-.088.178-.09h.625l.179.09.089.089.09.09.088.088.09.268v.714l-.09.179-.089.178-.089.09-.09.089-.088.089-.09.09-.089.088-.178.09-.179.089-.178.09h-1.34l-.267-.09-.179-.09-.178-.089-.09-.089-.089-.09-.089-.088-.09-.09-.088-.089-.09-.09-.089-.088-.09-.179-.088-.178-.09-.447v-.535l.09-.446.089-.179.09-.178.088-.179.09-.09.089-.088.09-.09.088-.089.09-.09.089-.088.09-.09.178-.089.178-.09.179-.088.267-.09.357-.089h1.429l.357.09.267.089.268.089.179.089.178.09.09.089.178.089.09.089.088.09.179.089.09.089.088.089.09.179.089.089.09.09.088.178.09.178.089.268v1.428l-.09.268-.089.267-.089.179-.09.09-.088.178-.09.089-.089.09-.09.089-.088.089-.09.089-.089.09-.09.089-.178.089-.178.089-.09.09-.178.089-.268.089-.178.089-.357.09-.357.089-.625.089h-1.16l-.714-.09zM93.223 9.763l-.09-.179-.089-.09-.089-.088-.09-.09-.178-.089h-.357l-.178.09-.09.089-.089.178v.536l.09.178.089.09.089.178.179.09.089.088.178.09.268.089h.268l.09-.179v-.714l-.09-.267zm-5.445 3.48l-.357-.089-.268-.089-.267-.09-.179-.088-.178-.09-.179-.089-.178-.09-.09-.088-.089-.09-.178-.089-.09-.09-.089-.088-.09-.09-.088-.178-.09-.09-.089-.089-.09-.178-.088-.179-.09-.268-.089-.357v-1.07l.09-.268.089-.268.089-.179.09-.089.088-.178.09-.09.089-.089.09-.09.089-.088.089-.09.089-.089.179-.09.089-.088.178-.09.179-.089.178-.09.179-.088.268-.09.446-.089h1.339l.357.09.267.089.268.089.09.089.178.09.09.089.178.089.089.089.09.09.088.089.09.178.089.09.09.178.088.178.09.268v1.071l-.09.268-.089.178-.09.09-.088.178-.09.09-.089.089-.09.089-.088.09-.179.088-.178.09-.179.089-.268.09h-1.25l-.267-.09-.178-.09-.179-.089-.09-.089-.088-.09-.09-.088-.089-.09-.09-.178-.088-.179-.09-.267v-.357l.09-.357.089-.09.089-.178.179-.09.178-.089h.625l.09.09.088.089.09.09.089.178v.446l-.09.178-.089.09-.089.089-.09.09H87.6l.09.088.09.09.178.089.268.09h.981l.179-.09.178-.09.179-.089.09-.089.088-.178.09-.09.089-.267v-.536l-.09-.268-.089-.178-.089-.179-.09-.089-.088-.09-.09-.088-.089-.09-.178-.089-.179-.09-.357-.088h-.892l-.357.089-.268.089-.268.09-.178.089-.09.089-.178.09-.09.088-.089.09-.089.089-.09.178-.088.09-.09.267-.09.357v.357l.09.447.09.178.089.179.089.178.09.09.089.178.089.09.178.089.09.089.089.089.178.09.179.089.178.089.268.089.357.09.536.089h1.338l.625-.09.357-.089.357-.09.268-.088.268-.09.178-.089.179-.09.178-.088.179-.09.089-.09.179-.088.089-.09.089-.089-.09-.09-.356-.088-.268-.09-.09-.089-.178-.09-.089-.088-.09-.09-.088-.089-.09-.178-.089-.09-.09-.267v-.893l.09-.178.09-.09.089-.089.089-.09.178-.088.357-.09h.447l.267.09.179.089.09.09.088.088.09.09.089.178.09.179.088.267v.804l-.089.357-.09.178h.536v-.892l.09-.179.089-.178.09-.09.088-.089.09-.09.178-.088.179-.09.267-.089h.625l.268.09.178.089.09.089.089.09.09.088.088.09.09.178.089.09.09.356v.447l-.09.357-.09.178-.089.09-.089.178-.089.09-.179.089-.089.089-.268.089h-.892l-.179-.09-.178-.088-.09-.09-.089-.09-.089-.088-.09-.09-.088-.089-.09-.09-.714.09-.089.179-.09.089-.089.09-.089.089-.089.089-.09.089-.089.09-.089.089-.089.089-.09.089-.178.09-.089.089-.179.089-.178.089-.179.09-.178.089-.268.089-.268.089-.267.09-.447.089-.624.089h-1.25l-.625-.09zM5.719 4.242h156.686v.842H5.719z"></path></g>
		</symbol>
	
		<symbol id="icon-first-dish-beget-top" viewBox="0 0 110 10">
			<defs><style>.fil0{fill:#b5b2ab}</style></defs><path class="fil0" d="M11.446 5.007h87.98v.842h-87.98v-.842zM9.168 3.628a1.32 1.32 0 1 1 0 2.64 1.32 1.32 0 0 1 0-2.64zM6.343 4a.948.948 0 1 1 0 1.895.948.948 0 0 1 0-1.895zm-2.1.388a.632.632 0 1 1 0 1.264.632.632 0 0 1 0-1.264zm97.532-.23a1.32 1.32 0 1 0 0 2.64 1.32 1.32 0 0 0 0-2.64zm2.825.371a.948.948 0 1 0 0 1.895.948.948 0 0 0 0-1.895zm2.1.389a.632.632 0 1 0 0 1.263.632.632 0 0 0 0-1.263z" id="Слой_x0020_1"></path>
		</symbol>
	
		<symbol id="icon-ingridients" viewBox="0 0 6.73 7.6571999">
			<defs id="defs4"><style id="style2">.fil0{fill:#030104}</style></defs><g id="Слой_x0020_1" transform="translate(-43.959 -44.957)"><g id="_130918728"><path id="_130919232" class="fil0" d="M45.694 46.841l-.015.03-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.03.015-.015.015-.03.014-.015.015-.03.015-.03.015-.03.015-.03.015-.03.015-.044.015-.06.015h-.015l.015-.03.015-.015.015-.03.015-.015.015-.015.015-.015.015-.014.015-.015.015-.015.015-.015.03-.015.014-.015.015-.015.03-.015.015-.015.03-.015.03-.015.03-.015.03-.015.03-.015.045-.015.045-.015h.045zm-.479-.658l-.015.03-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.03.015-.014.015-.015.015-.03.014-.015.015-.03.015-.03.015-.03.015-.03.015-.03.015-.045.015-.03.015h-.06l.016-.015.014-.03.015-.015.015-.015.015-.015.015-.015.015-.015.015-.014.015-.015.015-.015.015-.015.015-.015.03-.015.015-.015.03-.015.015-.015.03-.015.03-.015.03-.015.03-.015.03-.015.044-.015.075-.015-.015.03zm.03-.045l.002-.017.013.017zm-1.181-1.166l-.015.015-.015.015-.015.015-.015.014-.015.03-.015.03-.015.075v.18l.015.104.015.075.015.06.015.06.015.045.015.06.015.03.014.044.015.045.015.045.015.045.015.03.015.045.015.03.015.044.015.03.015.03.015.03.015.045.015.03.015.03.015.03.015.03.015.03.015.03.015.03.015.03.015.03.015.029.015.03.015.03.015.03.014.03.015.03.015.03.015.03.015.014.015.03.015.03.015.03.015.015.015.03.015.03.015.03.015.015.015.03.015.03.015.03.015.014.015.03.015.03.014.03.015.015.015.03.015.015.015.03.015.015.015.03.015.015.015.03.015.015.015.03.015.03.015.014.015.03.015.015.015.03.015.015.015.03.015.015.015.03.015.015.015.03.015.015.015.03.014.015.015.015.015.03.015.014.015.03.015.015.015.015.015.03.015.015.015.03.015.015.015.015.015.03.015.015h.015l.015-.284.015-.09.015-.06.015-.045.015-.045.015-.03.015-.03.015-.03.015-.044.015-.015.014-.03.015-.015.015-.03.015-.015.015-.03.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.03.03-.014.015-.015.015-.015.03-.015.014-.015.015-.015.03-.015.03-.015.03-.015.015-.015.03-.015.03-.015.045-.015.03-.015.06-.015.044-.015v-.03l-.015-.015-.014-.03-.015-.014-.015-.015-.015-.03-.015-.015-.015-.03-.015-.015-.015-.015-.015-.03-.015-.015-.015-.015-.015-.03-.015-.015-.015-.03-.015-.015-.015-.015-.015-.03-.015-.015-.015-.015-.015-.03-.015-.014-.015-.015-.015-.015-.014-.03-.015-.015-.015-.015-.015-.015-.015-.03-.015-.015-.015-.015-.015-.015-.015-.03-.015-.015-.015-.015-.015-.015-.015-.03-.015-.014-.015-.015-.015-.015-.015-.015-.015-.03-.015-.015-.014-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.03-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.014-.015-.015-.015-.015-.015-.015-.015-.03-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.014-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.03-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.014-.015-.015-.015-.015-.015-.015-.03-.015-.015-.015-.015-.015-.015-.015-.015-.015-.03-.015-.014-.015-.015-.015-.03-.015-.015-.015-.015-.015-.015-.015-.03-.015-.03-.015-.015-.015-.03-.015-.015-.015-.03-.015-.03-.015-.03-.014-.014-.015-.045-.015-.045-.015-.045-.015h-.18z" fill="#030104"></path><path id="_681616096" class="fil0" d="M47.22 50.221l.014-.06.015-.015.015-.03.015-.015.015-.015.015-.015.03-.015.03-.015.045-.015h.104l.045.015.03.015.015.015.03.015.015.015.015.03.015.015.015.045v1.556l-.015.03-.015.03-.015.014-.015.015-.015.015-.015.015-.03.015-.045.015h-.135l-.044-.015-.03-.015-.015-.015-.03-.015-.015-.03-.015-.015-.015-.03-.015-.06zm1.345 1.526l-.015.044-.015.015-.015.015-.015.015-.015.015-.015.015-.03.015-.044.015h-.135l-.045-.015-.03-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.03-.015-.03v-1.57l.015-.03.015-.03.015-.015.015-.015.015-.015.03-.015.03-.015.045-.015h.105l.044.015.03.015.03.015.015.015.015.015.015.015.015.03.015.03.015.075v1.436zm-2.243-1.496l.015-.075.015-.03.015-.03.014-.015.015-.015.015-.015.03-.015.03-.015.045-.015h.105l.045.015.03.015.015.015.03.015.015.015.014.015.015.03.015.045v1.556l-.015.03-.015.03-.015.014-.014.015-.015.015-.015.015-.03.015-.045.015H46.5l-.045-.015-.03-.015-.015-.015-.015-.015-.015-.015-.014-.015-.015-.015-.015-.044-.015-.06zm-.658-2.453l.015-.134.015-.045.015-.045.015-.045.015-.03.014-.015.015-.03.015-.03.015-.015.015-.015.015-.03.015-.014.015-.015.015-.015.015-.015.03-.015.015-.015.015-.015.015-.015.03-.015.03-.015.03-.015.03-.015.044-.015.045-.015.105-.015h1.002l.09.015.045.015.06.015.03.015.014.015.03.015.03.015.03.015.015.015.015.015.015.015.015.015h.03v.03l.015.015.015.014.015.015.015.015.015.03.014.03.015.015.015.03.015.03.015.045.015.06.015.074.015.838h-2.244zm3.649-.852l.015-.045.015-.015.03-.015.06-.015h.014l.045.015.015.015.03.015.03.015.015.015.03.015.03.015.03.015.015.015.03.015.03.014.03.015.015.016.03.014.03.015.014.015.03.015.03.015.03.015.015.015.03.015.03.015.015.015.03.015.03.015.03.015.014.015.015.015.015.03v.074l-.015.045-.015.015-.03.015h-.104l-.03-.015-.015-.015-.03-.015-.03-.015h-.03l-.015.015-.015.03-.015.03-.015.03-.015.015-.014.03-.015.03-.015.015-.015.03-.015.03-.015.03-.015.015-.015.03v.014l.015.03.015.03.015.015.015.03.015.03.015.045.015.03.014.06.015.12v.014l-.015.135-.014.06-.015.044-.015.03-.015.03-.015.03-.015.03-.015.015-.015.03-.015.03h-1.496l.015-.03.015-.015.015-.03.015-.03.015-.015.015-.03.015-.03.015-.03.015-.014.015-.03.015-.03.015-.015.015-.03.015-.03.015-.03.015-.015.015-.03.015-.03.015-.015.014-.03.015-.03.015-.03.015-.014.015-.03.015-.03.015-.015.015-.03.015-.03.015-.03.015-.015.015-.03.015-.015.015-.03.015-.014.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.03-.015.014-.015.03-.015.03-.015.03-.015.03-.015.045-.015.06-.015.12-.015h.12l.014-.03.015-.015.015-.03.015-.03.015-.015.015-.03.015-.03.015-.03.015-.014.015-.03.015-.03.015-.03v-.045l-.015-.015-.03-.015-.015-.015-.03-.015-.015-.015-.015-.015-.015-.014-.015-.03zm0-.344l-.045.015-.03.015-.03.015-.015.015-.015.015-.015.015-.03.014-.015.03-.015.015-.014.015-.015.03-.015.03-.015.06v.165l.015.06.015.03.015.03.014.029.015.015-.03.015-.104.015-.06.015-.045.015-.045.015-.03.015-.03.015-.03.015-.03.015-.03.015-.014.014-.03.015-.015.015-.015.015-.03.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.03-.015.015-.015.015-.015.03-.014.015-.015.03-.015.015-.015.03-.015.03-.015.03-.015.014-.015.03-.015.03-.015.015-.015.03-.015.03-.015.03-.015.015-.015.03-.015.03-.015.015-.015.03v-.42l-.015-.09-.015-.044-.015-.045-.014-.045-.015-.03-.015-.03-.015-.03-.015-.03-.015-.014-.015-.03-.015-.015-.015-.03-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.015-.014-.03-.015-.015-.015-.03-.015-.014-.015-.03-.015-.03-.015-.03-.015-.03-.015-.045-.015-.045-.015-.06-.015-.074-.015h-1.152l-.09.015-.06.015-.03.015-.044.015-.03.015-.03.015-.03.015-.03.015-.03.015-.015.015-.03.015-.015.015-.015.014-.03.015-.014.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.03-.015.015-.015.015-.015.03-.015.03-.015.015-.015.03-.015.03-.015.03-.015.044-.015.03-.015.06-.015.06-.015.09v.882h-1.166v.957h.538v.045l.015.06.015.06.015.06.015.06.015.059.015.06.015.06.015.06.015.06.015.06.015.059.015.06.015.06.015.044.015.06.015.06.015.06.015.06.015.06.015.06.015.06.014.059.015.06.015.06.015.06.015.06.015.06.015.059.015.06.015.06.015.044.015.06.015.06.015.06.015.06.015.06.015.104.015.075.015.045.015.03.015.045.015.015.015.03.015.03.015.015.015.014.014.03.015.015.015.015.015.015.015.015.015.015.015.015.015.015.015.015.015.015.015.015.03.015.015.015.015.015.03.015.015.015.03.015.014.015.03.015.03.014.03.015.03.015.015.015.045.015.03.015.045.015.03.015.044.015.045.015.045.015.075.015.075.015h2.318l.075-.015.06-.015.044-.015.045-.015.045-.015.03-.015.03-.015.03-.015.03-.015.03-.015.015-.015.03-.015.014-.014.03-.015.015-.015.015-.015.03-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.015.015-.03.015-.015.015-.015.015-.03.015-.015.015-.03.015-.03.014-.03.015-.03.015-.044.015-.06.015-.09.015-.09.015-.06.015-.06.015-.044.015-.06.015-.045.015-.06.015-.044.015-.06.015-.045.015-.06.015-.045.015-.06.015-.044.015-.06.015-.045.015-.06.014-.045.015-.06.015-.06.015-.044.015-.06.015-.045.015-.06.015-.045.015-.06.015-.044.015-.06.015-.045.015-.06.015-.045.015-.06.015-.044.015-.06.015-.045.015-.06.015-.045.014-.06.015-.06.015-.044.015-.06v-.045h.539v-.957l-.703-.015.015-.03.015-.03.015-.03.015-.045.015-.045.015-.074.015-.105v-.164l-.015-.09-.015-.06-.015-.06-.015-.03-.015-.045-.015-.03h.12l.06-.014.044-.015.03-.015.03-.015.015-.015.03-.015.015-.015.015-.015.015-.015.015-.03.015-.015.015-.03.015-.03.015-.045v-.21l-.015-.044-.015-.03-.015-.03-.015-.015-.015-.03-.015-.015-.015-.015-.015-.015-.03-.014-.015-.016-.015-.014-.03-.015-.03-.015-.03-.015-.015-.015-.03-.015-.03-.015-.014-.015-.03-.015-.03-.015-.03-.015-.015-.015-.03-.015-.03-.015-.015-.015-.03-.015-.03-.015-.03-.015-.015-.015-.03-.015-.03-.015-.014-.015-.03-.014-.03-.015-.03-.015-.015-.015-.045-.015-.03-.015-.06-.015h-.104z" fill="#030104"></path></g></g>
		</symbol>
	
		<symbol id="icon-recept_dnya" viewBox="0 0 12.043 12.0429">
			<defs id="defs4"><style id="style2">.fil0{fill:#a82954}</style></defs><g id="Слой_x0020_1" transform="translate(-45.41 -39.628)"><path class="fil0" d="M47.954 45.684c0 1.71 1.293 3.3 2.86 3.3h.88c1.752 0 2.86-1.74 2.86-3.294a63.952 63.952 0 0 0-2.327-.043 2.366 2.366 0 0 1 .077-.295c.02-.062.035-.14.06-.202.024-.06.033-.144.058-.204.023-.058.045-.135.065-.196a4.75 4.75 0 0 1 .143-.38.779.779 0 0 1 .245-.287c.108 0 .232-.142.295-.204.08-.08.177-.174.262-.246.18-.152.347-.33.526-.489.17-.152.36-.325.52-.486.076-.077.182-.172.266-.242.035-.03.093-.091.127-.127a.27.27 0 0 0 .073-.18v-.056c0-.149-.156-.285-.317-.285h-.024c-.186 0-.43.347-.545.462-.086.087-.16.176-.246.261-.077.077-.174.18-.244.264-.075.089-.16.172-.24.26-.076.085-.165.18-.245.261-.085.085-.163.174-.246.262-.033.034-.097.099-.123.131-.046.06-.085.068-.085.168-.024.035-.095.098-.13.133-.073.073-.056.06-.153.108a2.48 2.48 0 0 1-.376.147c-.126.028-.27.084-.4.123-.137.04-.275.08-.41.114-.15.037-.274.065-.396.127-.079.04-.248.16-.297.227-.089.12-.136.169-.209.313a1.25 1.25 0 0 0-.11.42v.115c-.743.01-1.468.02-2.194.02zm4.16-.037h-.243c.042-.05.08-.1.112-.148.045-.067.1-.142.149-.208.033-.046.109-.194.14-.217zm-.386.001c-.2 0-.397.002-.593.004l1.4-1.4.007.005.007.016c0 .079-.274.56-.322.653a4.563 4.563 0 0 1-.499.722zm-.745.005l-.467.006c.155-.335.472-.626.684-.784.183-.137.375-.28.586-.39.103-.054.204-.124.312-.172.043-.02.313-.15.34-.15.018 0-.003-.004.016.007l.006.006zm-.588.007l-.137.002v-.096c0-.284.144-.496.271-.657.095-.12.396-.327.6-.328l.493-.133c-.004.005-.368.246-.416.282a3.29 3.29 0 0 0-.375.322 2.035 2.035 0 0 0-.436.608zm2.345-1.846c0-.024.818-.898.905-.99.154-.16.3-.331.456-.487.083-.083.38-.458.486-.458h.095c.052 0 .15.103.15.166v.072c0 .104-.15.202-.211.263-.08.082-.166.15-.246.23-.156.156-.327.302-.487.456-.092.088-.966.906-.99.906a.593.593 0 0 1-.158-.159z" id="path7" fill="#a82954"></path><path id="path14" class="fil0" d="M51.431 39.628a6.022 6.022 0 1 1 0 12.043 6.022 6.022 0 0 1 0-12.043zm.007.16c3.209 0 5.81 2.615 5.81 5.84 0 3.226-2.601 5.84-5.81 5.84-3.21 0-5.812-2.614-5.812-5.84 0-3.225 2.602-5.84 5.812-5.84m0 0z" fill="#a82954"></path></g>
		</symbol>
	
		<symbol id="icon-salati" viewBox="0 0 12.043 12.0429">
			<defs id="defs4"><style id="style2">.fil0{fill:#9ca32c}</style></defs><g id="Слой_x0020_1" transform="translate(-43.978 -40.409)"><path class="fil0" d="M47.683 44.35v.567h-.189v.568c0 .26.469.567.662.567l.814-.028-.424-.931.272.203.072-.5.212.689.151-.016.227-.362c-.025.296-.095.336-.095.662v.283l.854.001.362-1.015.65.232-.517.525.095.03.542.416h-4.16v.662c0 .945 1.134 1.667 1.134 1.986v.378h3.12v-.378c0-.288 1.135-.778 1.135-1.891v-.757l-.732-.003-.148-.787.502-.344c-.136.377-.283.153-.283.378 0 .221.156.378.378.378.22 0 .473-.252.473-.473v-.283c0-.426-.766-.946-1.23-.946-.59 0-.663.36-.945.567-.082-.352-.36-.756-.757-.756-.216 0-.11.032-.378.095-.064-.24-.183-.473-.473-.473h-.189c-.01 0-1.135.523-1.135.756z" id="path7" fill="#9ca32c"></path><path id="path14" class="fil0" d="M50 40.409a6.022 6.022 0 1 1 0 12.043 6.022 6.022 0 0 1 0-12.043zm.006.16c3.21 0 5.811 2.615 5.811 5.84 0 3.225-2.602 5.84-5.81 5.84-3.21 0-5.812-2.615-5.812-5.84 0-3.225 2.602-5.84 5.811-5.84m0 0z" fill="#9ca32c"></path></g>
		</symbol>
	
		<symbol id="icon-time" viewBox="0 0 7.6040001 7.6040001">
			<defs id="defs4"><style id="style2">.str0{stroke:#1f1a17;stroke-width:.0762}.fil0{fill:#1f1a17}</style></defs><g id="Слой_x0020_1" transform="translate(-48.011 -47.321)"><path class="fil0 str0" d="M51.813 47.36a3.764 3.764 0 1 1 0 7.528 3.764 3.764 0 0 1 0-7.529zm-.093 2.001h.399v1.989l.005.007-1.535 1.266-.253-.307 1.385-1.142zm.093-1.409a3.172 3.172 0 1 1 0 6.343 3.172 3.172 0 0 1 0-6.343z" id="path7" fill="#1f1a17" stroke="#1f1a17" stroke-width=".076"></path></g>
		</symbol>
	
		<symbol id="icon-vipechka" viewBox="0 0 12.043 12.0429">
			<defs id="defs4"><style id="style2">.fil2{fill:#e77817}.fil1{fill:#d76508}.fil0{fill:#d86b14}</style></defs><g id="Слой_x0020_1" transform="translate(-43.97 -39.758)"><path class="fil0" d="M51.53 44.218c-.129 0-.184-.126-.184-.277 0-.164.058-.356.196-.39.07.215.342.667-.012.667zm-1.38-.002c-.555 0-.091-.606.025-.763.127.212.493.728-.026.763zm-1.386.001c-.6-.036-.098-.63.027-.801l.165.321c.03.107.184.454-.192.48zm-.448-.384c-.004.168.052.399.356.477v.83h-.83a.354.354 0 0 0-.369.368v1.015c.247.059.174.092.369.092.273 0 .375-.369.738-.369.478 0 .847.461 1.014.461.252 0 .3-.184.553-.184.306 0 .193.184.369.184.588 0 .556-.461 1.014-.461.28 0 .642.369.922.369.212 0 .108-.031.37-.092v-1.015a.354.354 0 0 0-.37-.369h-.83v-.83c.206-.054.277-.02.277-.276 0-.32-.187-.315-.3-.739-.265.071-.53.414-.53.74 0 .169.212.234.37.276v.83h-1.2l.032-.79c.227-.106.413-.341.355-.433l-.464-.737c-.18.18-.344.292-.464.67.01.12-.036.345.357.46v.83h-1.199l.033-.82c.183-.093.282-.06.364-.492l-.446-.61c-.181.157-.333.284-.49.615z" id="path7" fill="#d86b14"></path><path class="fil1" d="M47.842 46.707h-.369v1.199c1.452.338 3.815.34 5.276 0v-1.199h-.481c-.285 0-.306-.277-.645-.277-.836 0-1.145.773-2.213.37-.128 0-.394-.37-.646-.37-.443 0-.479.277-.922.277z" id="path9" fill="#d76508"></path><path id="path14" class="fil2" d="M49.991 39.758a6.022 6.022 0 1 1 0 12.044 6.022 6.022 0 0 1 0-12.044zm.006.16c3.21 0 5.812 2.615 5.812 5.84 0 3.226-2.602 5.84-5.812 5.84-3.21 0-5.811-2.614-5.811-5.84 0-3.225 2.602-5.84 5.811-5.84m0 0z" fill="#e77817"></path></g>
		</symbol>
	
</svg>
