<div class="col-lg-6">
  <div class="advices__each-cont _1">
    <div class="advices__img-cont">
      <a href="#!" title="Врач сторматолог">
        <img src="http://placehold.it/470x470" alt="Врач стоматолог">
      </a>
    </div>
    <div class="advices__txt-cont">
      <h3 class="advices__head">
        <a href="#">Как избавиться от зубного камня?</a>
      </h3>
      <div class="advices__txt">
        Зубной камень - это твердое образование, которое возникает от скопления микробов в полости рта. Постепенно такой мик- робный налет оседает на зубной эмали, со временем отвер- девает и приобретает темный цвет, который может иметь раз- ные оттенки - от белого и желтого до коричневого. Обычно на- лет возникает в местах, которые трудно прочистить.
      </div>
    </div>
    <div class="advices__doc-data">
      <h3 class="advices__name">
        <a href="#">Юрий Федорович Жаворонок</a>
      </h3>
      <div class="advices__city"><span class="advices__dark">Город: </span>Москва</div>
      <div class="advices__speciality"><span class="advices__dark">Специализация: </span>Врач - стоматолог
      </div>
      <div class="advices__experience"><span class="advices__dark">Стаж: </span>15 лет</div>
    </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="advices__each-cont _2">
    <ul class="ul-doc advices__ul-doc">
      <li class="ul-doc__link-cont">
          <a href="#!" title="Тедеев Эрик Сосланович">
              <div class="row">
                  <div class="col-sm-4">
                      <div class="ul-doc__img-cont">
                          <img src="img/right-food/advices/doc-sm-1.jpg"
                               alt="Тедеев Эрик Сосланович">
                      </div>
                  </div>
                  <div class="col-sm-8 ul-doc__doc-data">
                      <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                      <div class="ul-doc__city">город: Москва</div>
                      <div class="ul-doc__speciality">специализация: хирург</div>
                      <div class="ul-doc__experience">стаж: 31 год</div>
                  </div>
              </div>
          </a>
      </li>

      <li class="ul-doc__link-cont">
          <a href="#!" title="Тедеев Эрик Сосланович">
              <div class="row">
                  <div class="col-sm-4">
                      <div class="ul-doc__img-cont">
                          <img src="img/right-food/advices/doc-sm-2.jpg"
                               alt="Тедеев Эрик Сосланович">
                      </div>
                  </div>
                  <div class="col-sm-8 ul-doc__doc-data">
                      <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                      <div class="ul-doc__city">город: Москва</div>
                      <div class="ul-doc__speciality">специализация: хирург</div>
                      <div class="ul-doc__experience">стаж: 31 год</div>
                  </div>
              </div>
          </a>
      </li>

      <li class="ul-doc__link-cont">
          <a href="#!" title="Тедеев Эрик Сосланович">
              <div class="row">
                  <div class="col-sm-4">
                      <div class="ul-doc__img-cont">
                          <img src="img/right-food/advices/doc-sm-3.jpg"
                               alt="Тедеев Эрик Сосланович">
                      </div>
                  </div>
                  <div class="col-sm-8 ul-doc__doc-data">
                      <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                      <div class="ul-doc__city">город: Москва</div>
                      <div class="ul-doc__speciality">специализация: хирург</div>
                      <div class="ul-doc__experience">стаж: 31 год</div>
                  </div>
              </div>
          </a>
      </li>

      <li class="ul-doc__link-cont _last">
              <a href="#!" title="Тедеев Эрик Сосланович">
                  <div class="row">
                      <div class="col-sm-4">
                          <div class="ul-doc__img-cont">
                              <img src="img/right-food/advices/doc-sm-4.jpg"
                                   alt="Тедеев Эрик Сосланович">
                          </div>
                      </div>
                      <div class="col-sm-8 ul-doc__doc-data">
                          <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                          <div class="ul-doc__city">город: Москва</div>
                          <div class="ul-doc__speciality">специализация: хирург</div>
                          <div class="ul-doc__experience">стаж: 31 год</div>
                      </div>
                  </div>
              </a>
          </li>
    </ul>
  </div>
</div>
