
<div class="advice-article-menu__item col-md-4">
    <div class="advice-article-menu__item-content">
      <a href="" class="advice-article-menu__img-wrap">
        <img src="http://placehold.it/413x205" alt="">
      </a>
      <div class="advice-article-menu__text-content">
        <time datetime="2016-09-21">21 сентября 2016</time>
        <h3><a href="">Хирургия</a></h3>
        <a href="">от Клапан Зинаиды Альбертовны, <br>г. Новосибирск</a>
        <div>Амниотическая жидкость – биологически активная жидкая среда, находящаяся внутри плодных оболочек во время беременности. Амниотическая жидкость окружает плод и является его естественной средой, играя при этом существенную роль в обеспечении его жизнедеятельности.</div>
      </div>
    </div>
  </div>
<div class="advice-article-menu__item col-md-4">
    <div class="advice-article-menu__item-content">
      <a href="" class="advice-article-menu__img-wrap">
        <img src="http://placehold.it/413x205" alt="">
      </a>
      <div class="advice-article-menu__text-content">
        <time datetime="2016-09-21">21 сентября 2016</time>
        <h3><a href="">Еще хирургия</a></h3>
        <a href="">от Клапан Зинаиды Альбертовны, <br>г. Новосибирск</a>
        <div>Амниотическая жидкость – биологически активная жидкая среда, находящаяся внутри плодных оболочек во время беременности. Амниотическая жидкость окружает плод и является его естественной средой, играя при этом существенную роль в обеспечении его жизнедеятельности.</div>
      </div>
    </div>
  </div>
<div class="advice-article-menu__item col-md-4">
    <div class="advice-article-menu__item-content">
      <a href="" class="advice-article-menu__img-wrap">
        <img src="http://placehold.it/413x205" alt="">
      </a>
      <div class="advice-article-menu__text-content">
        <time datetime="2016-09-21">21 сентября 2016</time>
        <h3><a href="">И еще хирургия</a></h3>
        <a href="">от Клапан Зинаиды Альбертовны, <br>г. Новосибирск</a>
        <div>Амниотическая жидкость – биологически активная жидкая среда, находящаяся внутри плодных оболочек во время беременности. Амниотическая жидкость окружает плод и является его естественной средой, играя при этом существенную роль в обеспечении его жизнедеятельности.</div>
      </div>
    </div>
  </div>
