<div class="promo-banner clearfix" role="banner">
	<a href="" class="promo-banner__item-3  promo-banner__item">
		<img class="promo-banner__img" src="img/promo-banner-1.png" alt="banner-1">
	</a>
	<a href="" class="promo-banner__item-4  promo-banner__item">
		<img class="promo-banner__img" src="img/promo-banner-2.png" alt="banner-2">
	</a>
</div>
