
<footer itemscope="itemscope" itemtype="http://schema.org/WPFooter" id="map-footer" class="footer-wrap">
    <div class="clearfix">
        <div>
            <div class="page-header">Поиск на карте</div>
        </div>
    </div>
    <div class="container-fluid footer-wrap__content">
        <div class="clearfix">
            <div>
                <div class="footer-wrap__map">
                    <div class="footer-wrap__filter">
                        <form action="#">
                            <div class="form-field">
                                <label class="footer-wrap__label">Выберите город</label>
                                <div class="footer-wrap__select dropdown-selectwrap">
                                    <a href="#" class="footer-wrap__dropdownbtn dropdown-btn dropdown-toggle"
                                       id="footer_city_select"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <div class="footer-wrap__img-wrap">
                                            <svg width="23" height="23" class="svg-fill_gray">
                                                <use xlink:href="#icon-home"></use>
                                            </svg>
                                        </div>
                                        <span class="dropdown-select-text"></span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="footer-wrap__dropdownmenu dropdown-ul dropdown-menu"
                                        aria-labelledby="footer_city_select">
                                        <li><a href="#">Санкт - Петербург</a></li>
                                        <li><a href="#">Москва</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-field">
                                <label class="footer-wrap__label">Выберите тип учереждения</label>
                                <div class="footer-wrap__select dropdown-selectwrap">
                                    <a href="#" class="footer-wrap__dropdownbtn dropdown-btn dropdown-toggle"
                                       id="footer_type_select"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <div class="footer-wrap__img-wrap">
                                            <svg width="28" height="19" class="svg-fill_gray">
                                                <use xlink:href="#icon-med-home"></use>
                                            </svg>
                                        </div>

                                        <span class="dropdown-select-text"></span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="footer-wrap__dropdownmenu dropdown-ul dropdown-menu"
                                        aria-labelledby="footer_type_select">
                                        <li><a href="#">Аптеки</a></li>
                                        <li><a href="#">Не аптеки</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-field">
                                <label class="footer-wrap__label">Выберите район</label>
                                <div class="footer-wrap__select dropdown-selectwrap">
                                    <a href="#" class="footer-wrap__dropdownbtn dropdown-btn dropdown-toggle"
                                       id="footer_area_select"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <div class="footer-wrap__img-wrap">
                                            <svg width="20" height="22"  class="svg-fill_gray">
                                                <use xlink:href="#icon-flag"></use>
                                            </svg>
                                        </div>
                                        <span class="dropdown-select-text"></span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="footer-wrap__dropdownmenu dropdown-ul dropdown-menu"
                                        aria-labelledby="footer_area_select">
                                        <li><a href="#">Адмиралтейский</a></li>
                                        <li><a href="#">Другой</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-field">
                                <label class="footer-wrap__label">Выберите улицу</label>
                                <div class="footer-wrap__select dropdown-selectwrap">
                                    <a href="#" class="footer-wrap__dropdownbtn dropdown-btn dropdown-toggle"
                                       id="footer_street_select"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <div class="footer-wrap__img-wrap">
                                            <svg width="17" height="22" class="svg-fill_gray">
                                                <use xlink:href="#icon-place"></use>
                                            </svg>
                                        </div>
                                        <span class="dropdown-select-text"></span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="footer-wrap__dropdownmenu dropdown-ul dropdown-menu"
                                        aria-labelledby="footer_street_select">
                                        <li><a href="#">ул. Караванная</a></li>
                                        <li><a href="#">Другая улица</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-field">
                                <button class="footer-wrap__filterbtn">НАЙТИ<span class="fa fa-search"></span></button>
                            </div>
                            <div class="form-field">
                                <a href="" class="footer-wrap__clearfilter">
                                    <span class="fa fa-close"></span>
                                    <span class="link-text">сбросить фильтр</span>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div id="map" class="footer-wrap__map-wrap"></div>
                    <div class="map__hint">нажмите двумя пальцами, чтобы прокрутить карту</div>
                </div>
                <div class="clearfix"></div>
                <div class="footer-wrap__searchresult">
                    <div class="footer-wrap__searchresult-header">
                        Результаты поиска
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="footer-wrap__search-elements">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <div itemscope itemtype="http://schema.org/Organization"
                                             class="footer-wrap__elem">
                                            <div class="footer-wrap__el-name">
                                                <span itemprop="name">Живая аптека</span>
                                            </div>
                                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"
                                                 class="footer-wrap__el-adress">
                                                <span itemprop="streetAddress">пр. Ветеранов, 109 к9</span>
                                                <span itemprop="postalCode"> 119021</span>
                                                <span itemprop="addressLocality">Москва</span>
                                            </div>
                                            <div class="footer-wrap__el-time">
                                                <svg width="14" height="14" class="svg-fill_blue">
                                                    <use xlink:href="#icon-phone"></use>
                                                </svg>
                                                <span itemprop="telephone">8 (800) 555-35-35</span>
                                                <svg width="14" height="14" class="svg-fill_blue">
                                                    <use xlink:href="#icon-time"></use>
                                                </svg>
                                                <time itemprop="openingHours" datetime="Mo-Su 00:00-24:00">24 часа</time>
                                            </div>
                                            <div class="footer-wrap__el-wayon">
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="42" height="42">
                                                        <use xlink:href="#icon-men-map"></use>
                                                    </svg>
                                                </a>
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="45" height="45">
                                                        <use xlink:href="#icon-car-map"></use>
                                                    </svg>
                                                </a>
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="45" height="45">
                                                        <use xlink:href="#icon-transport-map"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div itemscope itemtype="http://schema.org/Organization"
                                             class="footer-wrap__elem">
                                            <div class="footer-wrap__el-name">
                                                <span itemprop="name">Живая аптека</span>
                                            </div>
                                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"
                                                 class="footer-wrap__el-adress">
                                                <span itemprop="streetAddress">пр. Ветеранов, 109 к9</span>
                                                <span itemprop="postalCode"> 119021</span>
                                                <span itemprop="addressLocality">Москва</span>
                                            </div>
                                            <div class="footer-wrap__el-time">
                                                <svg width="14" height="14" class="svg-fill_blue">
                                                    <use xlink:href="#icon-phone"></use>
                                                </svg>
                                                <span itemprop="telephone">8 (800) 555-35-35</span>
                                                <svg width="14" height="14" class="svg-fill_blue">
                                                    <use xlink:href="#icon-time"></use>
                                                </svg>
                                                <time itemprop="openingHours" datetime="Mo-Su 00:00-24:00">24 часа</time>
                                            </div>
                                            <div class="footer-wrap__el-wayon">
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="42" height="42">
                                                        <use xlink:href="#icon-men-map"></use>
                                                    </svg>
                                                </a>
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="45" height="45">
                                                        <use xlink:href="#icon-car-map"></use>
                                                    </svg>
                                                </a>
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="45" height="45">
                                                        <use xlink:href="#icon-transport-map"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div itemscope itemtype="http://schema.org/Organization"
                                             class="footer-wrap__elem">
                                            <div class="footer-wrap__el-name">
                                                <span itemprop="name">Живая аптека</span>
                                            </div>
                                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"
                                                 class="footer-wrap__el-adress">
                                                <span itemprop="streetAddress">пр. Ветеранов, 109 к9</span>
                                                <span itemprop="postalCode"> 119021</span>
                                                <span itemprop="addressLocality">Москва</span>
                                            </div>
                                            <div class="footer-wrap__el-time">
                                                <svg width="14" height="14" class="svg-fill_blue">
                                                    <use xlink:href="#icon-phone"></use>
                                                </svg>
                                                <span itemprop="telephone">8 (800) 555-35-35</span>
                                                <svg width="14" height="14" class="svg-fill_blue">
                                                    <use xlink:href="#icon-time"></use>
                                                </svg>
                                                <time itemprop="openingHours" datetime="Mo-Su 00:00-24:00">24 часа</time>
                                            </div>
                                            <div class="footer-wrap__el-wayon">
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="42" height="42">
                                                        <use xlink:href="#icon-men-map"></use>
                                                    </svg>
                                                </a>
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="45" height="45">
                                                        <use xlink:href="#icon-car-map"></use>
                                                    </svg>
                                                </a>
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="45" height="45">
                                                        <use xlink:href="#icon-transport-map"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div itemscope itemtype="http://schema.org/Organization"
                                             class="footer-wrap__elem">
                                            <div class="footer-wrap__el-name">
                                                <span itemprop="name">Живая аптека</span>
                                            </div>
                                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"
                                                 class="footer-wrap__el-adress">
                                                <span itemprop="streetAddress">пр. Ветеранов, 109 к9</span>
                                                <span itemprop="postalCode"> 119021</span>
                                                <span itemprop="addressLocality">Москва</span>
                                            </div>
                                            <div class="footer-wrap__el-time">
                                                <svg width="14" height="14" class="svg-fill_blue">
                                                    <use xlink:href="#icon-phone"></use>
                                                </svg>
                                                <span itemprop="telephone">8 (800) 555-35-35</span>
                                                <svg width="14" height="14" class="svg-fill_blue">
                                                    <use xlink:href="#icon-time"></use>
                                                </svg>
                                                <time itemprop="openingHours" datetime="Mo-Su 00:00-24:00">24 часа</time>
                                            </div>
                                            <div class="footer-wrap__el-wayon">
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="42" height="42">
                                                        <use xlink:href="#icon-men-map"></use>
                                                    </svg>
                                                </a>
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="45" height="45">
                                                        <use xlink:href="#icon-car-map"></use>
                                                    </svg>
                                                </a>
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="45" height="45">
                                                        <use xlink:href="#icon-transport-map"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div itemscope itemtype="http://schema.org/Organization"
                                             class="footer-wrap__elem">
                                            <div class="footer-wrap__el-name">
                                                <span itemprop="name">Живая аптека</span>
                                            </div>
                                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"
                                                 class="footer-wrap__el-adress">
                                                <span itemprop="streetAddress">пр. Ветеранов, 109 к9</span>
                                                <span itemprop="postalCode"> 119021</span>
                                                <span itemprop="addressLocality">Москва</span>
                                            </div>
                                            <div class="footer-wrap__el-time">
                                                <svg width="14" height="14" class="svg-fill_blue">
                                                    <use xlink:href="#icon-phone"></use>
                                                </svg>
                                                <span itemprop="telephone">8 (800) 555-35-35</span>
                                                <svg width="14" height="14" class="svg-fill_blue">
                                                    <use xlink:href="#icon-time"></use>
                                                </svg>
                                                <time itemprop="openingHours" datetime="Mo-Su 00:00-24:00">24 часа</time>
                                            </div>
                                            <div class="footer-wrap__el-wayon">
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="42" height="42">
                                                        <use xlink:href="#icon-men-map"></use>
                                                    </svg>
                                                </a>
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="45" height="45">
                                                        <use xlink:href="#icon-car-map"></use>
                                                    </svg>
                                                </a>
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="45" height="45">
                                                        <use xlink:href="#icon-transport-map"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div itemscope itemtype="http://schema.org/Organization"
                                             class="footer-wrap__elem">
                                            <div class="footer-wrap__el-name">
                                                <span itemprop="name">Живая аптека</span>
                                            </div>
                                            <div itemprop="address" itemscope=""
                                                 itemtype="http://schema.org/PostalAddress"
                                                 class="footer-wrap__el-adress">
                                                <span itemprop="streetAddress">пр. Ветеранов, 109 к9</span>
                                                <span itemprop="postalCode"> 119021</span>
                                                <span itemprop="addressLocality">Москва</span>
                                            </div>
                                            <div class="footer-wrap__el-time">
                                                <svg width="14" height="14" class="svg-fill_blue">
                                                    <use xlink:href="#icon-phone"></use>
                                                </svg>
                                                <span itemprop="telephone">8 (800) 555-35-35</span>
                                                <svg width="14" height="14" class="svg-fill_blue">
                                                    <use xlink:href="#icon-time"></use>
                                                </svg>
                                                <time itemprop="openingHours" datetime="Mo-Su 00:00-24:00">24 часа</time>
                                            </div>
                                            <div class="footer-wrap__el-wayon">
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="42" height="42">
                                                        <use xlink:href="#icon-men-map"></use>
                                                    </svg>
                                                </a>
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="45" height="45">
                                                        <use xlink:href="#icon-car-map"></use>
                                                    </svg>
                                                </a>
                                                <a class="footer-wrap__el-icon" href="">
                                                    <svg width="45" height="45">
                                                        <use xlink:href="#icon-transport-map"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-wrap__el-inner">
                                <div class="scroll-pane">
                                    <div class="baron-all baron-footer baron-all__root baron-all__clipper">
                                        <div class="baron-all__scroller">


                                            <div itemscope="" itemtype="http://schema.org/Organization"
                                                 class="footer-wrap__inner-item">
                                                <div class="pull-left">
                                                    <div class="footer-wrap__orgtype">Аптека</div>
                                                    <div class="footer-wrap__orgname"><span itemprop="name">Формула Здоровья</span>
                                                    </div>
                                                </div>
                                                <div class="pull-right">
                                                    <div class="footer-wrap__orglogo">
                                                        <img itemprop="logo" src="http://placehold.it/130x40" alt="">
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="footer-wrap__orgtime">
                                                    <svg width="16" height="16">
                                                        <use xlink:href="#icon-time"></use>
                                                    </svg>
                                                    <time itemprop="openingHours" datetime="Mo-Su 08:00-22:00">8:00 -
                                                        22:00
                                                    </time>
                                                </div>
                                                <a href="" class="footer-wrap__orgtel">
                                                    <svg width="16" height="16">
                                                        <use xlink:href="#icon-phone"></use>
                                                    </svg>
                                                    <span itemprop="telephone"> +7 (123) 456-78-90</span>
                                                </a>
                                                <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="footer-wrap__orgadress">
                                                    <svg width="20" height="30">
                                                        <use xlink:href="#icon-place"></use>
                                                    </svg>
                                                    <p><span itemprop="addressLocality">Санкт - Петербург</span>,<br>
                                                        <span itemprop="streetAddress">Спасский пер., 14/35</span></p>
                                                </div>
                                                <a itemprop="url" href="http://www.url.ru" title="#"
                                                   class="footer-wrap__orgurl">
                                                    www.url.ru
                                                </a>
                                                <div itemscope itemtype="http://schema.org/ImageObject"
                                                     class="footer-wrap__orgphoto">
                                                    <img itemprop="contentUrl" src="http://placehold.it/230x150"
                                                         alt="#">
                                                    <meta itemprop="width" content="230">
                                                    <meta itemprop="height" content="150">
                                                    <a href="#" title="#" class="footer-wrap__orgotherphoto">
                                                        <span>еще 8 фото</span>
                                                    </a>
                                                </div>
                                                <a href="#" title="#" class="footer-wrap__orgway">
                                                    как проехать >
                                                </a>
                                            </div>

                                            <div itemscope="" itemtype="http://schema.org/Organization"
                                                 class="footer-wrap__inner-item">
                                                <div class="pull-left">
                                                    <div class="footer-wrap__orgtype">Аптека</div>
                                                    <div class="footer-wrap__orgname"><span itemprop="name">Формула Здоровья</span>
                                                    </div>
                                                </div>
                                                <div class="pull-right">
                                                    <div class="footer-wrap__orglogo">
                                                        <img itemprop="logo" src="http://placehold.it/130x40" alt="">
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="footer-wrap__orgtime">
                                                    <svg width="16" height="16">
                                                        <use xlink:href="#icon-time"></use>
                                                    </svg>
                                                    <time itemprop="openingHours" datetime="Mo-Su 08:00-22:00">8:00 -
                                                        22:00
                                                    </time>
                                                </div>
                                                <a href="" class="footer-wrap__orgtel">
                                                    <svg width="16" height="16">
                                                        <use xlink:href="#icon-phone"></use>
                                                    </svg>
                                                    <span itemprop="telephone"> +7 (123) 456-78-90</span>
                                                </a>
                                                <div itemprop="address" itemscope=""
                                                     itemtype="http://schema.org/PostalAddress"
                                                     class="footer-wrap__orgadress">
                                                    <svg width="20" height="30">
                                                        <use xlink:href="#icon-place"></use>
                                                    </svg>
                                                    <p><span itemprop="addressLocality">Санкт - Петербург</span>,<br>
                                                        <span itemprop="streetAddress">Спасский пер., 14/35</span></p>
                                                </div>
                                                <a itemprop="url" href="http://www.url.ru" title="#"
                                                   class="footer-wrap__orgurl">
                                                    www.url.ru
                                                </a>
                                                <div itemscope itemtype="http://schema.org/ImageObject"
                                                     class="footer-wrap__orgphoto">
                                                    <img itemprop="contentUrl" src="http://placehold.it/230x150"
                                                         alt="#">
                                                    <meta itemprop="width" content="230">
                                                    <meta itemprop="height" content="150">
                                                    <a href="#" title="#" class="footer-wrap__orgotherphoto">
                                                        <span>еще 8 фото</span>
                                                    </a>
                                                </div>
                                                <a href="#" title="#" class="footer-wrap__orgway">
                                                    как проехать >
                                                </a>
                                            </div>


                                        </div>
                                        <div class="baron-all__track">
                                            <div class="baron-all__free">
                                                <div class="baron-all__bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrap__content footer-wrap__nav-container">
      <div class="container-fluid">
        <nav itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="footer-wrap__nav">
          <ul class="footer-wrap__ul">
            <li itemprop="name" class="footer-wrap__li">
              <a itemprop="url" title="#" href="#!" class="footer-wrap__link">О портале</a>
            </li>
            <li itemprop="name" class="footer-wrap__li">
              <a itemprop="url" title="#" href="#!" class="footer-wrap__link">Рекламе</a>
            </li>
            <li itemprop="name" class="footer-wrap__li">
              <a itemprop="url" title="#" href="#!" class="footer-wrap__link">Контакты</a>
            </li>
            <li itemprop="name" class="footer-wrap__li">
              <a itemprop="url" title="#" href="#!" class="footer-wrap__link">Редакция</a>
            </li>
          </ul>
        </nav>
        <div class="footer-wrap__social">
          <a title="#" class="social-vk" href="#!"></a>
          <a title="#" class="social-fb" href="#!"></a>
          <a title="#" class="social-tw" href="#!"></a>
          <a title="#" class="social-ok" href="#!"></a>
          <a title="#" class="social-tl" href="#!"></a>
          <a title="#" class="social-inst" href="#!"></a>
        </div>
      </div>
      <div class="footer-wrap__copy">
        <span>Медицинский портал <a href="">mednews24.ru</a></span>
        <span>© Все права защищены</span>
        <span>Любое использование материалов допускается только с письменного согласия редакции</span>
      </div>
    </div>
</footer>

<!--  end wrapper -->
</div>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
<script src="https://yastatic.net/share2/share.js" async="async"></script>
<script src=js/@@js.min.js></script>
<script src=js/main.min.js></script>


</body>

</html>
