<div class="help-form__overlay"></div>
<form action="" class="help-form">
  <button type="button" class="help-form__close-btn"></button>
  <h3 class="help-form__title">Напишите нам</h3>
  <input type="text" class="help-form__input" placeholder="ФИО">
  <div class="help-form__sity-select">
    <input type="text" class="help-form__input" placeholder="Ваш город*" required>
    <ul class="help-form__sity-list">
      <li class="help-form__sity-item">Москва</li>
      <li class="help-form__sity-item">Санкт-Петербург</li>
      <li class="help-form__sity-item">Бобруйск</li>
      <li class="help-form__sity-item">Новосибирск</li>
      <li class="help-form__sity-item">Казань</li>
    </ul>
  </div>
  <input type="tel" class="help-form__input" placeholder="Ваш телефон*" required>
  <input type="email" class="help-form__input" placeholder="Ваш email">
  <textarea name="name" rows="8" cols="40" class="help-form__textarea" placeholder="Комментарий"></textarea>
  <button type="submit" class="link-arrow">Отправить письмо</button>
</form>
