<div class="tags">
    <div class="tags__cont">
        <ul class="tags__ul">
            <li class="tags__li"><a href="#!" title="секреты питания" class="tags__link">пластика носа</a></li>
            <li class="tags__li"><a href="#!" title="совет врача" class="tags__link">совет врача</a></li>
            <li class="tags__li"><a href="#!" title="раздельное питание" class="tags__link">пластическая
                хирургия</a></li>
            <li class="tags__li"><a href="#!" title="как похудеть" class="tags__link">как похудеть</a></li>
        </ul>
    </div>
</div>