<div class="interview">
  <h2 class="interview__h2">Нам важно Ваше мнение!</h2>
  <div class="interview__text-content">
    <h3 class="interview__h3-ques">Вы пьете кофе по утрам?</h3>
    <div class="interview__variants">
      <a class="interview__btn-voice" href="#!">Да, каждый день</a>
      <a class="interview__btn-voice" href="#!">Да, но не каждый день</a>
      <a class="interview__btn-voice" href="#!">Пью, но редко</a>
      <a class="interview__btn-voice" href="#!">Я не пью кофе</a>
    </div>
    <div class="interview__ques-cont-in">
      <ul class="interview__diagram-list">
        <li class="interview__item">
          <div class="interview__ans-txt">Да, каждый день - 450 человек (40%)</div>
          <div class="interview__diagram-line">
            <div class="interview__diagram-fill"></div>
          </div>
        </li>
        <li class="interview__item">
          <div class="interview__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
          <div class="interview__diagram-line">
            <div class="interview__diagram-fill"></div>
          </div>
        </li>
        <li class="interview__item">
          <div class="interview__ans-txt">Пью, но редко - 130 человек (25%)</div>
          <div class="interview__diagram-line">
            <div class="interview__diagram-fill"></div>
          </div>
        </li>
        <li class="interview__item">
          <div class="interview__ans-txt">Я не пью кофе - 130 человек (25%)</div>
          <div class="interview__diagram-line">
            <div class="interview__diagram-fill"></div>
          </div>
        </li>
      </ul>
      <a href="#!" title="Смотреть опросы" class="interview__btn-voice">смотреть все опросы</a>
    </div>
  </div>
</div>
