<section id="medCentr" class="medCentr" data-url="/test">
  <div class="medCentr__title">
    <h2 class="medCentr__title-content">@@title</h2>
  </div>
  <form action="#" id="med-centr-form">
    <div class="container-fluid">
      <div class="inpSearch__wrap">
        <input type="search" name="search" class="inpSearch" id="inpSearchId">
        <label for="inpSearchId" class='inpSearch__placeholder'>Напишите, что вы хотите найти </label>
      </div>
      <div class="medCentr__selectList">
        <div class="col-md-4">
          <div class="select-form__cont" id="city-cont">
            <div class="select-form__select">
              <select id="city-select" name="city">
                <option></option>
                <option value=" ">Введите город</option>
                <option value="1">Город 1</option>
                <option value="2">Город 2</option>
                <option value="3">Город 3</option>
                <option value="4">Город 4</option>
                <option value="5">Город 5</option>
                <option value="6">Город 6</option>
                <option value="7">Город 7</option>
                <option value="8">Город 8</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <span class="medCentr__or -mt-15">или</span>
        </div>
        <div class="col-md-4">
          <div class="select-form__cont" id="district-cont">
            <div class="select-form__select">
              <select id="district-select" name="district">
                <option></option>
                <option value=" ">Введите район</option>
                <option value="1">Район 1</option>
                <option value="2">Район 2</option>
                <option value="3">Район 3</option>
                <option value="4">Район 4</option>
                <option value="5">Район 5</option>
                <option value="6">Район 6</option>
                <option value="7">Район 7</option>
                <option value="8">Район 8</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <span class="medCentr__or -mt-15">или</span>
        </div>
        <div class="col-md-4">
          <div class="select-form__cont" id="metro-cont">
            <div class="select-form__select">
              <select id="metro-select" name="metro">
                <option></option>
                <option value=" ">Введите станцию метро</option>
                <option value="1">Метро 1</option>
                <option value="2">Метро 2</option>
                <option value="3">Метро 3</option>
                <option value="4">Метро 4</option>
                <option value="5">Метро 5</option>
                <option value="6">Метро 6</option>
                <option value="7">Метро 7</option>
                <option value="8">Метро 8</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="medCentr__search -mt-15" type="submit">
      <svg width="30" height="23">
        <use xlink:href="#icon-search-icon"></use>
      </svg>Поиск
    </button>
  </form>
  <div class="g-grid _col-2 _cont-cent _txt-right ajax-content">
    <ul class="g-grid__ul">
      <li class="g-grid__li">
        <a href="#!" title="some-title" class="g-grid__link">
          <div class="g-grid__img-cont">
            <img src="http://placehold.it/350x350" alt="#">
          </div>
          <div class="g-grid__content">
            <div class="g-grid__txt">
              <div class="medCentr__item-title">ООО "МедТорг СПб"  </div>
              <div class="medCentr__item-text">Магазин медицинского оборудования
                ул. Седова, 11, 617, Санкт-Петербург, 192019
                8 (812) 332-09-45
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="g-grid__li">
        <a href="#!" title="some-title" class="g-grid__link">
          <div class="g-grid__img-cont">
            <img src="http://placehold.it/350x350" alt="#">
          </div>
          <div class="g-grid__content">
            <div class="g-grid__txt">
              <div class="medCentr__item-title">ООО "МедТорг СПб"  </div>
              <div class="medCentr__item-text">Магазин медицинского оборудования
                ул. Седова, 11, 617, Санкт-Петербург, 192019
                8 (812) 332-09-45
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="g-grid__li">
        <a href="#!" title="some-title" class="g-grid__link">
          <div class="g-grid__img-cont">
            <img src="http://placehold.it/350x350" alt="#">
          </div>
          <div class="g-grid__content">
            <div class="g-grid__txt">
              <div class="medCentr__item-title">ООО "МедТорг СПб"  </div>
              <div class="medCentr__item-text">Магазин медицинского оборудования
                ул. Седова, 11, 617, Санкт-Петербург, 192019
                8 (812) 332-09-45
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="g-grid__li">
        <a href="#!" title="some-title" class="g-grid__link">
          <div class="g-grid__img-cont">
            <img src="http://placehold.it/350x350" alt="#">
          </div>
          <div class="g-grid__content">
            <div class="g-grid__txt">
              <div class="medCentr__item-title">ООО "МедТорг СПб"  </div>
              <div class="medCentr__item-text">Магазин медицинского оборудования
                ул. Седова, 11, 617, Санкт-Петербург, 192019
                8 (812) 332-09-45
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <a href="" class="link-arrow  link-arrow_blue" id="med-centr-link">перейти в раздел</a>

  

</section>
