<div class="news-tabs__wrapper clearfix">
    <div class="news-tabs__control-wrapper">
        <ul class="news-tabs__control-list">
            <li class="news-tabs__control-item">
                <a href="" class="news-tabs__control-link active" data-toggle="tab">

                    <div class="news-tabs__control-img" >
                        <img src="img/therapy/img-3.jpg" alt="">
                    </div>

                    <div  class="news-tabs__control-desc">
                        В госпитале Вишневского научились выращивать сердце в пробирке
                    </div>
                </a>
            </li>
            <li class="news-tabs__control-item">
                <a href="" class="news-tabs__control-link" data-toggle="tab">

                    <div class="news-tabs__control-img" >
                        <img src="img/therapy/img-3.jpg" alt="">
                    </div>


                    <div  class="news-tabs__control-desc">
                        В госпитале Вишневского научились выращивать сердце в пробирке
                    </div>
                </a>
            </li>
            <li class="news-tabs__control-item">
                <a href="" class="news-tabs__control-link" data-toggle="tab">
                    <div class="news-tabs__control-img" >
                        <img src="img/therapy/img-3.jpg" alt="">
                    </div>
                    <div  class="news-tabs__control-desc">
                        В госпитале Вишневского научились выращивать сердце в пробирке
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="news-tabs__content-wrapper">
        <div class="news-tabs__content-item active">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/350x350"></span>
                <span data-src="http://placehold.it/700x500" data-media="(min-width: 414px)"></span>
                <span data-src="http://placehold.it/1033x513" data-media="(min-width: 992px)"><img alt="Камни в почках" src="http://placehold.it/1033x513"></span>
                <noscript>
                    <img src="http://placehold.it/1033x513" alt="">
                </noscript>
            </span>
            <a href="#!" class="news-tabs__content-link">
                <h3 class="news-tabs__content-link__title">
                    «Человек не должен остаться один». Инвалиды Магнитогорска получили шанс на реабилитацию
                </h3>
                <p  class="news-tabs__content-link__desc">
                    Реабилитационный центр для людей с ограниченными возможностями готов принять первых посетителей по трем направлениям
                </p>
            </a>
        </div>
        <div class="news-tabs__content-item">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/350x350"></span>
                <span data-src="http://placehold.it/700x500" data-media="(min-width: 414px)"></span>
                <span data-src="http://placehold.it/1033x513" data-media="(min-width: 992px)"><img alt="Камни в почках" src="http://placehold.it/1033x513"></span>
                <noscript>
                    <img src="http://placehold.it/1033x513" alt="">
                </noscript>
            </span>
            <a href="#!" class="news-tabs__content-link">
              <h3 class="news-tabs__content-link__title">
                  «Человек не должен остаться один». Инвалиды Магнитогорска получили шанс на реабилитацию
              </h3>
              <p  class="news-tabs__content-link__desc">
                  Реабилитационный центр для людей с ограниченными возможностями готов принять первых посетителей по трем направлениям
              </p>
            </a>
        </div>
        <div class="news-tabs__content-item">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/350x350"></span>
                <span data-src="http://placehold.it/700x500" data-media="(min-width: 414px)"></span>
                <span data-src="http://placehold.it/1033x513" data-media="(min-width: 992px)"><img alt="Камни в почках" src="http://placehold.it/1033x513"></span>
                <noscript>
                    <img src="http://placehold.it/1033x513" alt="">
                </noscript>
            </span>
            <a href="#!" class="news-tabs__content-link">
              <h3 class="news-tabs__content-link__title">
                  «Человек не должен остаться один». Инвалиды Магнитогорска получили шанс на реабилитацию
              </h3>
              <p  class="news-tabs__content-link__desc">
                  Реабилитационный центр для людей с ограниченными возможностями готов принять первых посетителей по трем направлениям
              </p>
            </a>
        </div>
    </div>
</div>
