<div class="socialprops _def">
    <div class="wrap">
        <div class="socialprops__cont">
            <div class="socialprops__col">
                <a href="#!" class="socialprops__views"><span class="socialprops__centered">1 245 просмотров</span></a>
            </div>
            <div class="socialprops__col">
                <a href="#!" class="socialprops__favorites"><span
                        class="socialprops__centered">добавить в избранное</span></a>
            </div>
            <div class="socialprops__col socialprops__buttonscont">
                <div class="socialprops__buttons">
                    <div class="ya-share2 socialprops__btn-inner"
                         data-services="vkontakte,facebook,twitter,odnoklassniki,gplus" data-counter></div>
                </div>
            </div>
        </div>
    </div>
</div>