<div class="togo-selectwrap therapy-select">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="togo-selectwrap__h2">Подберите для себя лучшую клинику</h2>
        <h3 class="togo-selectwrap__h3">Выберите интересующую Вас проблему, или направление медицины и получите полную информацию</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 togo-flex">
        <div class="col-md-4">
          <div class="drop _select-input _gray-bor">
            <input class="drop__input" type="text" placeholder="Выберите направление">
            <button type="button" class="drop__toggle">
            </button>
            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
              <div class="baron-all__scroller">
                <ul class="drop__ul" data-name="route">
                  <li class="drop__li">Выберите направление</li>
                  <li class="drop__li" data-id="1">направление 1</li>
                  <li class="drop__li" data-id="2">направление 2</li>
                  <li class="drop__li" data-id="3">направление 3</li>
                  <li class="drop__li" data-id="4">направление 4</li>
                  <li class="drop__li" data-id="5">направление 5</li>
                  <li class="drop__li" data-id="6">направление 6</li>
                  <li class="drop__li" data-id="7">направление 7</li>
                  <li class="drop__li" data-id="8">направление 8</li>
                </ul>
              </div>
              <div class="baron-all__track">
                <div class="baron-all__free">
                  <div class="baron-all__bar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <span class="togo-selectwrap__or">или</span>
        </div>
        <div class="col-md-4">
          <div class="drop _select-input _gray-bor">
            <input class="drop__input" type="text" placeholder="Выберите диагностику">
            <button type="button" class="drop__toggle">
            </button>
            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
              <div class="baron-all__scroller">
                <ul class="drop__ul" data-name="diagnostics">
                  <li class="drop__li">Выберите диагностику</li>
                  <li class="drop__li" data-id="1">диагностика 1</li>
                  <li class="drop__li" data-id="2">диагностика 2</li>
                  <li class="drop__li" data-id="3">диагностика 3</li>
                  <li class="drop__li" data-id="4">диагностика 4</li>
                  <li class="drop__li" data-id="5">диагностика 5</li>
                  <li class="drop__li" data-id="6">диагностика 6</li>
                  <li class="drop__li" data-id="7">диагностика 7</li>
                  <li class="drop__li" data-id="8">диагностика 8</li>
                </ul>
              </div>
              <div class="baron-all__track">
                <div class="baron-all__free">
                  <div class="baron-all__bar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <span class="togo-selectwrap__or">или</span>
        </div>
        <div class="col-md-4">
          <div class="drop _select-input _gray-bor">
            <input class="drop__input" type="text" placeholder="Выберите Заболевание">
            <button type="button" class="drop__toggle">
            </button>
            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
              <div class="baron-all__scroller">
                <ul class="drop__ul" data-name="disease">
                  <li class="drop__li">Выберите Заболевание</li>
                  <li class="drop__li" data-id="1">Заболевание 1</li>
                  <li class="drop__li" data-id="2">Заболевание 2</li>
                  <li class="drop__li" data-id="3">Заболевание 3</li>
                  <li class="drop__li" data-id="4">Заболевание 4</li>
                  <li class="drop__li" data-id="5">Заболевание 5</li>
                  <li class="drop__li" data-id="6">Заболевание 6</li>
                  <li class="drop__li" data-id="7">Заболевание 7</li>
                  <li class="drop__li" data-id="8">Заболевание 8</li>
                </ul>
              </div>
              <div class="baron-all__track">
                <div class="baron-all__free">
                  <div class="baron-all__bar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <div class="drop _select-input _gray-bor">
          <input class="drop__input" type="text" placeholder="Выберите страну">
          <button type="button" class="drop__toggle">
          </button>
          <div class="baron-all baron-all__clipper baron-all__root  drop__items">
            <div class="baron-all__scroller">
              <ul class="drop__ul" data-name="country">
                <li class="drop__li">Выберите страну</li>
                <li class="drop__li" data-id="1">страна 1</li>
                <li class="drop__li" data-id="2">страна 2</li>
                <li class="drop__li" data-id="3">страна 3</li>
                <li class="drop__li" data-id="4">страна 4</li>
                <li class="drop__li" data-id="5">страна 5</li>
                <li class="drop__li" data-id="6">страна 6</li>
                <li class="drop__li" data-id="7">страна 7</li>
                <li class="drop__li" data-id="8">страна 8</li>
              </ul>
            </div>
            <div class="baron-all__track">
              <div class="baron-all__free">
                <div class="baron-all__bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <a href="" class="togo-selectwrap__submit" id="togo-btn">
          показать подходящие места >
        </a>
      </div>
    </div>
  </div>
</div>
