<section id="vaccination-calendar" class="vaccination-calendar">
    <div class="vaccination-calendar__container  clearfix">
        <div class="vaccination-calendar__content  col-lg-6 col-lg-offset-3">
            <form action="#!" method="get">
                <h4 class="vaccination-calendar__title">Календарь прививок:</h4>
                <p class="vaccination-calendar__text">укажите дату рождения или предполагаемую дату рождения</p>
                <div class="vaccination-calendar__flex-select">

        					<div class="vaccination-calendar__select">
        						<select id="day-select" name="day" class="vaccination-calendar__dropdownbtn vaccination-calendar__dropdownbtn-day">
        							<option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
        						</select>
        					</div>

                    <div class="vaccination-calendar__select">
                      <select id="month-select" name="month" class="vaccination-calendar__dropdownbtn vaccination-calendar__dropdownbtn-month">
                        <option value="1">января</option>
                        <option value="2">февраля</option>
                        <option value="3">марта</option>
                        <option value="4">апреля</option>
                        <option value="5">мая</option>
                        <option value="6">июня</option>
                        <option value="7">июля</option>
                        <option value="8">августа</option>
                        <option value="9">сентября</option>
                        <option value="10">октября</option>
                        <option value="11">ноября</option>
                        <option value="12">декабря</option>
                      </select>
                    </div>

                    <div class="vaccination-calendar__select dropdown-selectwrap">
                        <select id="year-select" name="year" class="vaccination-calendar__dropdownbtn vaccination-calendar__dropdownbtn-year">
                          <option value="1">2010</option>
                          <option value="2">2011</option>
                          <option value="3">2012</option>
                          <option value="4">2013</option>
                          <option value="5">2014</option>
                          <option value="6">2015</option>
                          <option value="7">2016</option>
                          <option value="8">2017</option>
                          <option value="9">2018</option>
                          <option value="10">2019</option>
                        </select>
                    </div>
                </div>
                <input class="vaccination-calendar__submit" type="submit" value="Рассчитать >">
            </form>
        </div>
    </div>
</section>

<!--
Style:
url("includes/blocks/children/vaccination-calendar");
url("includes/blocks/children/baron-js");
JS:
include('./assets/baron.js')
Иницииализацию можно взять в children.js
-->
