<section id="vaccination-calendar" class="vaccination-calendar">
    <div class="vaccination-calendar__container  clearfix">
        <div class="vaccination-calendar__content  col-lg-6 col-lg-offset-3">
            <form action="#!" method="post">
                <h4 class="vaccination-calendar__title">Календарь прививок:</h4>
                <p class="vaccination-calendar__text">укажите дату рождения или предполагаемую дату рождения</p>
                <div class="vaccination-calendar__flex-select">


                    <div class="vaccination-calendar__select dropdown-selectwrap">
                        <a id="day"
                           class="vaccination-calendar__dropdownbtn vaccination-calendar__dropdownbtn-day dropdown-btn dropdown-toggle"
                           href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            <span class="dropdown-select-text"></span>
                            <span class="caret vaccination-calendar__caret"></span>
                        </a>
                        <div class="vaccination-calendar__dropdownmenu vaccination-calendar__dropdownmenu-day dropdown-ul dropdown-menu"
                             id="day_dd" aria-labelledby="day">
                            <div class="baron-calendar baron-calendar__root baron-calendar__clipper">
                                <div class="baron-calendar__scroller">
                                    <ul class="vaccination-calendar__dropdownmenu-list">
                                        <li><a href="#!">1</a></li>
                                        <li><a href="#!">2</a></li>
                                        <li><a href="#!">3</a></li>
                                        <li><a href="#!">4</a></li>
                                        <li><a href="#!">5</a></li>
                                        <li><a href="#!">6</a></li>
                                        <li><a href="#!">7</a></li>
                                        <li><a href="#!">8</a></li>
                                        <li><a href="#!">9</a></li>
                                        <li><a href="#!">10</a></li>
                                        <li><a href="#!">11</a></li>
                                        <li><a href="#!">12</a></li>
                                        <li><a href="#!">13</a></li>
                                        <li><a href="#!">14</a></li>
                                        <li><a href="#!">15</a></li>
                                        <li><a href="#!">16</a></li>
                                        <li><a href="#!">17</a></li>
                                        <li><a href="#!">18</a></li>
                                        <li><a href="#!">19</a></li>
                                        <li><a href="#!">20</a></li>
                                        <li><a href="#!">21</a></li>
                                        <li><a href="#!">22</a></li>
                                        <li><a href="#!">23</a></li>
                                        <li><a href="#!">24</a></li>
                                        <li><a href="#!">25</a></li>
                                        <li><a href="#!">26</a></li>
                                        <li><a href="#!">27</a></li>
                                        <li><a href="#!">28</a></li>
                                        <li><a href="#!">29</a></li>
                                        <li><a href="#!">30</a></li>
                                        <li><a href="#!">31</a></li>
                                    </ul>
                                </div>

                                <div class="baron-calendar__track">
                                    <div class="baron-calendar__free">
                                        <div class="baron-calendar__bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vaccination-calendar__select dropdown-selectwrap">
                        <a id="month"
                           class="vaccination-calendar__dropdownbtn vaccination-calendar__dropdownbtn-month dropdown-btn dropdown-toggle"
                           href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            <span class="dropdown-select-text"></span>
                            <span class="caret vaccination-calendar__caret"></span>
                        </a>
                        <div class="vaccination-calendar__dropdownmenu vaccination-calendar__dropdownmenu-month dropdown-ul dropdown-menu"
                             id="month_dd" aria-labelledby="month">
                            <div class="baron-calendar baron-calendar__root baron-calendar__clipper">
                                <div class="baron-calendar__scroller">
                                    <ul class="vaccination-calendar__dropdownmenu-list">
                                        <li><a href="#!">января</a></li>
                                        <li><a href="#!">февраля</a></li>
                                        <li><a href="#!">марта</a></li>
                                        <li><a href="#!">апреля</a></li>
                                        <li><a href="#!">мая</a></li>
                                        <li><a href="#!">июня</a></li>
                                        <li><a href="#!">июля</a></li>
                                        <li><a href="#!">августа</a></li>
                                        <li><a href="#!">сентября</a></li>
                                        <li><a href="#!">октября</a></li>
                                        <li><a href="#!">ноября</a></li>
                                        <li><a href="#!">декабря</a></li>
                                    </ul>
                                </div>
                                <div class="baron-calendar__track">
                                    <div class="baron-calendar__free">
                                        <div class="baron-calendar__bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vaccination-calendar__select dropdown-selectwrap">
                        <a id="year"
                           class="vaccination-calendar__dropdownbtn vaccination-calendar__dropdownbtn-year dropdown-btn dropdown-toggle"
                           href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            <span class="dropdown-select-text"></span>
                            <span class="caret vaccination-calendar__caret"></span>
                        </a>
                        <div class="vaccination-calendar__dropdownmenu vaccination-calendar__dropdownmenu-year dropdown-ul dropdown-menu"
                             id="year_dd" aria-labelledby="year">
                            <div class="baron-calendar baron-calendar__root baron-calendar__clipper">
                                <div class="baron-calendar__scroller">
                                    <ul class="vaccination-calendar__dropdownmenu-list">
                                        <li><a href="#!">2010</a></li>
                                        <li><a href="#!">2011</a></li>
                                        <li><a href="#!">2012</a></li>
                                        <li><a href="#!">2013</a></li>
                                        <li><a href="#!">2014</a></li>
                                        <li><a href="#!">2015</a></li>
                                        <li><a href="#!">2016</a></li>
                                        <li><a href="#!">2017</a></li>
                                        <li><a href="#!">2018</a></li>
                                        <li><a href="#!">2019</a></li>
                                    </ul>
                                </div>
                                <div class="baron-calendar__track">
                                    <div class="baron-calendar__free">
                                        <div class="baron-calendar__bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input class="vaccination-calendar__submit" type="submit" value="Рассчитать >">
            </form>
        </div>
    </div>
</section>

<!--
Style:
url("includes/blocks/children/vaccination-calendar");
url("includes/blocks/children/baron-js");
JS:
include('./assets/baron.js')
Иницииализацию можно взять в children.js
-->