<section id="institutions-map" class="institutions-map">
		<div class="institutions-map__title">
			<h2>Учреждения на карте</h2>
		</div>
		<div class="institutions-map__container">
			<form action="post" class="institutions-map__form">
				<div class="institutions-map__input-city">
					<label for="">Выберите город: </label>
					<input type="text" value="Санкт - Петербург">
				</div>
				<div class="institutions-map__input-district">
					<label for="">Выберите район: </label>
					<input type="text" value="Невский">
				</div>
				<div class="institutions-map__input-institution">
					<label for="">Учреждение: </label>
					<input type="text" value="Детские поликлиники">
				</div>
				<div class="institutions-map__input-search">
					<input type="search">
				</div>
				<div class="institutions-map__input-institution">
					<label for="">Ваше местоположение:</label>
					<input type="text">
				</div>
				<div class="institutions-map__input-edit">
					<input type="button">
				</div>
			</form>
			<div class="institutions-map__map-area">
				<div class="institutions-map__left-block">
					<div class="institutions-map__title-block">По Вашему запросу найдено:</div>
					<div class="institutions-map__item-search">
						<div class="institutions-map__item-title">Детская поликлиника № 45</div>
						<div class="institutions-map__item-address">
							Адрес: Санкт-Петербург, Товарищеский проспект, 10, корп.3
						</div>
						<div class="institutions-map__item-schedule">
							Время работы: <br>
							понедельник - пятница <br>
							8.00 - 20.00
						</div>
						<div class="institutions-map__item-phone">
							Тел.: +7 (812) 123-45-67
						</div>
						<div class="institutions-map__item-site">
							Сайт: <a href="#">medzveno.ru</a>
						</div>
						<a href="#" class="institutions-map__item-button">Проложить маршрут</a>
					</div>
					<div class="institutions-map__item-search">
						<div class="institutions-map__item-title">Детская поликлиника № 45</div>
						<div class="institutions-map__item-address">
							Адрес: Санкт-Петербург, Товарищеский проспект, 10, корп.3
						</div>
						<div class="institutions-map__item-schedule">
							Время работы: <br>
							понедельник - пятница <br>
							8.00 - 20.00
						</div>
						<div class="institutions-map__item-phone">
							Тел.: +7 (812) 123-45-67
						</div>
						<div class="institutions-map__item-site">
							Сайт: <a href="#">medzveno.ru</a>
						</div>
						<a href="#" class="institutions-map__item-button">Проложить маршрут</a>
					</div>
					<div class="institutions-map__item-search">
						<div class="institutions-map__item-title">Детская поликлиника № 45</div>
						<div class="institutions-map__item-address">
							Адрес: Санкт-Петербург, Товарищеский проспект, 10, корп.3
						</div>
						<div class="institutions-map__item-schedule">
							Время работы: <br>
							понедельник - пятница <br>
							8.00 - 20.00
						</div>
						<div class="institutions-map__item-phone">
							Тел.: +7 (812) 123-45-67
						</div>
						<div class="institutions-map__item-site">
							Сайт: <a href="#">medzveno.ru</a>
						</div>
						<a href="#" class="institutions-map__item-button">Проложить маршрут</a>
					</div>
					<div class="institutions-map__item-search">
						<div class="institutions-map__item-title">Детская поликлиника № 45</div>
						<div class="institutions-map__item-address">
							Адрес: Санкт-Петербург, Товарищеский проспект, 10, корп.3
						</div>
						<div class="institutions-map__item-schedule">
							Время работы: <br>
							понедельник - пятница <br>
							8.00 - 20.00
						</div>
						<div class="institutions-map__item-phone">
							Тел.: +7 (812) 123-45-67
						</div>
						<div class="institutions-map__item-site">
							Сайт: <a href="#">medzveno.ru</a>
						</div>
						<a href="#" class="institutions-map__item-button">Проложить маршрут</a>
					</div>
				</div>
				<div class="institutions-map__right-block">
					<div class="institutions-map__map-wrap">
						<img src="http://placehold.it/825x750" alt="" class="institutions-map__map-img">
					</div>
					<div class="institutions-map__map-wrap">
						<img src="http://placehold.it/825x750" alt="" class="institutions-map__map-img">
					</div>
					<div class="institutions-map__map-wrap">
						<img src="http://placehold.it/825x750" alt="" class="institutions-map__map-img">
					</div>
					<div class="institutions-map__map-wrap">
						<img src="http://placehold.it/825x750" alt="" class="institutions-map__map-img">
					</div>
				</div>
			</div>
		</div>
	</section>