<span class="city-modal__closebtn closebtn">&times;</span>
<div class="baron baron__root baron__clipper">
  <div class="baron__scroller">
    <div class="city-modal__modal-content">
      <h3>Выберите свой город</h3>
      <input type="search" name="country" id="autocomplete" class="city-modal__modal-search">
      <ul class="city-modal__autocomplete-list">
      </ul>
      <div class="city-modal__modal-city scroll-pane clearfix">
        <div class="city-modal__modal-col">
          <ul>
            <li><a class="link" data-sity="1"><span>Москва</span></a></li>
            <li><a class="link" data-sity="2"><span>Санкт-Петербург</span></a></li>
            <li><a class="link" data-sity="3">Нижневартовск</a></li>
            <li><a class="link" data-sity="4">Саратов      </a></li>
            <li><a class="link" data-sity="5">Новосибирск  </a></li>
            <li><a class="link" data-sity="6">Казань       </a></li>
            <li><a class="link" data-sity="7">Сочи         </a></li>
            <li><a class="link" data-sity="8">Новосибирск  </a></li>
            <li><a class="link" data-sity="9">Казань       </a></li>
            <li><a class="link" data-sity="10">Сочи         </a></li>
            <li><a class="link" data-sity="11">Уфа          </a></li>
            <li><a class="link" data-sity="12">Волгоград    </a></li>
            <li><a class="link" data-sity="13">Пермь        </a></li>
            <li><a class="link" data-sity="14">Астрахань    </a></li>
            <li><a class="link" data-sity="15">Воронеж      </a></li>
            <li><a class="link" data-sity="16">Красноярск   </a></li>
            <li><a class="link" data-sity="17">Сочи         </a></li>
            <li><a class="link" data-sity="18">Воронеж      </a></li>
            <li><a class="link" data-sity="19">Красноярск   </a></li>
            <li><a class="link" data-sity="20">Сочи         </a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="baron__track">
    <div class="baron__free">
      <div class="baron__bar"></div>
    </div>
  </div>
  <div class="city-modal__ok-btn-cont">
    <a class="city-modal__ok-btn">Выбрать</a>
  </div>
</div>
