
    <section class="dis-list">
        <div class="dis-list__cont dis-list__cont_col-1">
        <h2 class="dis-list__header">Кавернозный туберкулез легких</h2>
        <p class="dis-list__text">Отличительными чертами кавернозной формы туберкулеза легких является наличие тонкостенной каверны, расположенной на фоне
            малоизмененной легочной ткани при отсутствии выраженных инфильтративных и фиброзных изменений. Развивается кавернозный
            туберкулез у больных с инфильтративным, диссеминированным очаговым...</p>
        <div class="dis-list__more-cont dis-list__more-cont_col-1">
            <div class="dis-list__shadow  dis-list__shadow_col-1"></div>
            <a title="Узнать больше" href="#!" class="dis-list__more dis-list__more_col-1">подробнее&#9658;</a>
        </div>
    </div>
        <div class="dis-list__cont dis-list__cont_col-2">
            <h2 class="dis-list__header">Калифорнийский энцефалит</h2>
            <p class="dis-list__text">Калифорнийский энцефалит - острое вирусное заболевание, протекающее с поражением центральной нервной системы.</p>
            <div class="dis-list__more-cont dis-list__more-cont_col-2">
                <div class="dis-list__shadow  dis-list__shadow_col-2"></div>
                <a title="Узнать больше" href="#!" class="dis-list__more dis-list__more_col-2">подробнее&#9658;</a>
            </div>
        </div>
        <div class="dis-list__cont dis-list__cont_col-3">
            <h2 class="dis-list__header">Калькулезный сиалоаденит (слюннокаменная болезнь)</h2>
            <p class="dis-list__text">Сиалоаденит (sialadenitis) - воспаление любой слюнной железы. Калькулезный сиалоаденит (слюннокаменная болезнь)
                чаще встречается у детей 7-12 лет и поражает в основном поднижнече-люстные железы. Этиология заболевания не ясна.
                Несомненно, что основную роль играют общие причины врожденного характера. Образование...</p>
            <div class="dis-list__more-cont dis-list__more-cont_col-3">
                <div class="dis-list__shadow  dis-list__shadow_col-3"></div>
                <a title="Узнать больше" href="#!" class="dis-list__more dis-list__more_col-3">подробнее&#9658;</a>
            </div>
        </div>
        <div class="dis-list__cont dis-list__cont_col-4">
            <h2 class="dis-list__header">Кальциноз кожи</h2>
            <p class="dis-list__text">Кальциноз кожи - это патология, которая сопровождается отложением в коже избыточного количества солей. </p>
            <div class="dis-list__more-cont dis-list__more-cont_col-4">
                <div class="dis-list__shadow  dis-list__shadow_col-4"></div>
                <a title="Узнать больше" href="#!" class="dis-list__more dis-list__more_col-4">подробнее&#9658;</a>
            </div>
        </div>
        <div class="dis-list__cont dis-list__cont_col-5">
            <h2 class="dis-list__header">Кампилобактериоз</h2>
            <p class="dis-list__text">Кампилобактериоз - группа инфекционных болезней животных и человека, характеризующихся различной степенью
                тяжести и полиморфностью проявлений. Краткие исторические сведения Впервые возбудители у больных диареями
                обнаружил Т. Эшерих (1884). Возможность их циркуляции в крови больного доказана Ж.Г. Венсаном (1947)....</p>
            <div class="dis-list__more-cont dis-list__more-cont_col-5">
                <div class="dis-list__shadow  dis-list__shadow_col-5"></div>
                <a title="Узнать больше" href="#!" class="dis-list__more dis-list__more_col-5">подробнее&#9658;</a>
            </div>
        </div>
        <div class="dis-list__cont dis-list__cont_col-6">
            <h2 class="dis-list__header">Кампилобактериоз у детей</h2>
            <p class="dis-list__text">Кампилобактериозы у детей – это болезни, которые вызваны кампилобактерами - условно-патогенными
                микроорганизма¬ми, и которые проявляются в основном пораже¬нием желудочно-кишечного тракта.
                Кампилобактериозы называются в научной литературе кампилобактерной инфекцией. Кампилобактериозам
                подвержены в основном...</p>
            <div class="dis-list__more-cont dis-list__more-cont_col-6">
                <div class="dis-list__shadow  dis-list__shadow_col-6"></div>
                <a title="Узнать больше" href="#!" class="dis-list__more dis-list__more_col-6">подробнее&#9658;</a>
            </div>
        </div>
        <div class="dis-list__cont dis-list__cont_col-1">
            <h2 class="dis-list__header">Каналикулит у детей</h2>
            <p class="dis-list__text">Каналикулит – воспаление слезных канальцев глаза. </p>
            <div class="dis-list__more-cont dis-list__more-cont_col-1">
                <div class="dis-list__shadow  dis-list__shadow_col-1"></div>
                <a title="Узнать больше" href="#!" class="dis-list__more dis-list__more_col-1">подробнее&#9658;</a>
            </div>
        </div>
        <div class="dis-list__cont dis-list__cont_col-2">
            <h2 class="dis-list__header">Кандидоз</h2>
            <p class="dis-list__text">Кандидоз - заболевание кожи, придатков кожи, внутренних органов, вызываемое условно-патогенными грибами рода
                Candida (Сandida albicans, C.tropicalis, C. krusei, C. parapsilosis и др.) В настоящее время возрастает распространение
                условно-патогенных дрожжеподобных грибов рода Candida (Monilia) среди больных и здоровых лиц, а также наблюдается рост...</p>
            <div class="dis-list__more-cont dis-list__more-cont_col-2">
                <div class="dis-list__shadow  dis-list__shadow_col-2"></div>
                <a title="Узнать больше" href="#!" class="dis-list__more dis-list__more_col-2">подробнее&#9658;</a>
            </div>
        </div>
        <div class="dis-list__cont dis-list__cont_col-3">
            <h2 class="dis-list__header">Кандидоз (молочница) у детей</h2>
            <p class="dis-list__text">Широко распространенное название кандидоза – молочница . Также болезнь известна как кандидамикоз
                или кандидозная инфекция . Молочница у детей – это болезнь, что вызвана дрожжеподобными грибами из рода
                Can ¬ dida . Грибы могут поразить кожу, слизистые оболочки, ногти, ногтевые валики. Возбудитель имеет свойство...</p>
            <div class="dis-list__more-cont dis-list__more-cont_col-3">
                <div class="dis-list__shadow  dis-list__shadow_col-3"></div>
                <a title="Узнать больше" href="#!" class="dis-list__more dis-list__more_col-3">подробнее&#9658;</a>
            </div>
        </div>

        <div class="dis-list__cont dis-list__cont_col-4">
            <h2 class="dis-list__header">Кандидоз влагалища</h2>
            <p class="dis-list__text">Кандидоз влагалища (кандидамикоз, молочница) - это инфекционное заболевание слизистой влагалища,
                которое нередко распространяется на шейку матки и вульву. </p>
            <div class="dis-list__more-cont dis-list__more-cont_col-4">
                <div class="dis-list__shadow  dis-list__shadow_col-4"></div>
                <a title="Узнать больше" href="#!" class="dis-list__more dis-list__more_col-4">подробнее&#9658;</a>
            </div>
        </div>
        <div class="dis-list__cont dis-list__cont_col-5">
            <h2 class="dis-list__header">Кандидоз полости рта</h2>
            <p class="dis-list__text">Кандидоз (candidosis) - заболевание, которое вызывается дрожжеподобными грибами рода Candida. На слизистой
                оболочке рта и кожных покровах обитают различные виды дрожжеподобных грибов в виде сапрофитов. Патологические
                изменения чаще всего вызывают Candida albicans, Candida tropicalis, Candida pseudotropicalis, Candida krusei, Candida
                guilliermondi. Локализация Candida в...</p>
            <div class="dis-list__more-cont dis-list__more-cont_col-5">
                <div class="dis-list__shadow  dis-list__shadow_col-5"></div>
                <a title="Узнать больше" href="#!" class="dis-list__more dis-list__more_col-5">подробнее&#9658;</a>
            </div>
        </div>
        <div class="dis-list__cont dis-list__cont_col-6 _last">
            <h2 class="dis-list__header">Капилляриоз кишечника</h2>
            <p class="dis-list__text">Капилляриоз кишечника - это гельминтоз человека, вызываемый нематодами Capillaria philippiensis. Капиллярии были
                впервые обнаружены в 1963 г. у тяжелобольного на Филиппинах. Инвазия проявляется некупируемой диареей с высоким
                показателем смертности. Клиническое изучение показало наличие тяжелой энтеропатии с потерей белка и...</p>
            <div class="dis-list__more-cont dis-list__more-cont_col-6">
                <div class="dis-list__shadow  dis-list__shadow_col-6"></div>
                <a title="Узнать больше" href="#!" class="dis-list__more dis-list__more_col-6">подробнее&#9658;</a>
            </div>
        </div>

        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

