<section id="definition" class="definition">
    <div class="definition__title">
        <h2 class="definition__title-content">Определение</h2>
    </div>
    <div class="definition__cont row">
        <div class="col-sm-6 definition__col ">
            <div class="definition__img-cont">
                <img src="img/inner-diseases/definition/definition.jpg" alt="Печень">
            </div>
        </div>
        <div class="col-sm-6 definition__col">
            <div class="definition__def-cont frame-bord _def">
                <h2>Печень</h2>
                <div class="definition__def-txt ">
                    (лат. jecur, jecor, hepar, др.-греч.)
                    — жизненно важная железа внешней
                    секреции позвоночных животных, в
                    том числе и человека, находящаяся
                    в брюшной полости (полости живота)
                    под диафрагмой и выполняющая
                    большое количество различных фи-
                    зиологических функций. Печень явля-
                    ется самой крупной железой позво-
                    ночных.</div>
            </div>
        </div>
    </div>
</section>
<section id="articles" class="advice-article-menu" data-url="dynamic-blocks/sovet-vracha/advice-article">
    <div class="advice-article-menu__title">
        <h2>Статьи</h2>
    </div>
    <div class="advice-article-menu__content">
        <div class="advice-article-menu__container">

            <div class="advice-article-menu__items clearfix ajax-content">
                <div class="advice-article-menu__item col-md-4">
                    <div class="advice-article-menu__item-content">
                        <a href="" class="advice-article-menu__img-wrap">
                            <img src="http://placehold.it/413x205" alt="">
                        </a>
                        <div class="advice-article-menu__text-content">
                            <time datetime="2016-09-21">21 сентября 2016</time>
                            <h3><a href="">Дефицит амниотической жидкости: чем грозит маловодие</a></h3>
                            <a href="">от Клапан Зинаиды Альбертовны, <br>г. Новосибирск</a>
                            <div>Амниотическая жидкость – биологически активная жидкая среда, находящаяся внутри плодных оболочек во время беременности. Амниотическая жидкость окружает плод и является его естественной средой, играя при этом существенную роль в обеспечении его жизнедеятельности.</div>
                        </div>
                    </div>
                </div>
                <div class="advice-article-menu__item col-md-4">
                    <div class="advice-article-menu__item-content">
                        <a href="" class="advice-article-menu__img-wrap">
                            <img src="http://placehold.it/413x205" alt="">
                        </a>
                        <div class="advice-article-menu__text-content">
                            <time datetime="2016-09-21">21 сентября 2016</time>
                            <h3><a href="">Дефицит амниотической жидкости: чем грозит маловодие</a></h3>
                            <a href="">от Клапан Зинаиды Альбертовны, <br>г. Новосибирск</a>
                            <div>Амниотическая жидкость – биологически активная жидкая среда, находящаяся внутри плодных оболочек во время беременности. Амниотическая жидкость окружает плод и является его естественной средой, играя при этом существенную роль в обеспечении его жизнедеятельности.</div>
                        </div>
                    </div>
                </div>
                <div class="advice-article-menu__item col-md-4">
                    <div class="advice-article-menu__item-content">
                        <a href="" class="advice-article-menu__img-wrap">
                            <img src="http://placehold.it/413x205" alt="">
                        </a>
                        <div class="advice-article-menu__text-content">
                            <time datetime="2016-09-21">21 сентября 2016</time>
                            <h3><a href="">Дефицит амниотической жидкости: чем грозит маловодие</a></h3>
                            <a href="">от Клапан Зинаиды Альбертовны, <br>г. Новосибирск</a>
                            <div>Амниотическая жидкость – биологически активная жидкая среда, находящаяся внутри плодных оболочек во время беременности. Амниотическая жидкость окружает плод и является его естественной средой, играя при этом существенную роль в обеспечении его жизнедеятельности.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="advice-article-menu__link-wrap">
                <a href="/test" class="link-arrow" id="advice-link">перейти в раздел</a>
            </div>
        </div>
    </div>
</section>
<section id="in-diseases" class="in-diseases">
    <div class="in-diseases__title">
        <h2 class="in-diseases__title-content">Болезни</h2>
    </div>
    <div class="gynecology__content">
        <div class="gynecology__container">
            <div class="gynecology__items clearfix">
                <div class="gynecology__item gynecology__item-1 col-md-4">
                    <img src="http://placehold.it/300x300" class="gynecology__img" alt="item-1">
                    <a href="#!">Эндометриоз и беременность</a>
                </div>
                <div class="gynecology__item gynecology__item-2 col-md-4">
                    <img src="http://placehold.it/300x300" class="gynecology__img" alt="item-2">
                    <a href="#!">Уреаплазмоз: нужно ли лечение?</a>
                </div>
                <div class="gynecology__item gynecology__item-3 col-md-4">
                    <img src="http://placehold.it/300x300" class="gynecology__img" alt="item-3">
                    <a href="#!">Проходимость маточных труб</a>
                </div>
            </div>
            <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
        </div>
    </div>
</section>
<section id="food" class="right-food" data-url="/test">

    <div class="right-food__title">
        <h2 class="right-food__title-content">Правильное питание при заболеваниях</h2>
    </div>

    <div class="right-food__cont">
        <form action="#" class="diag-form__input-group clearfix">
            <div class="diag-form__label">Выберите интересующий Вас раздел и получите меню питания прямо сейчас
            </div>
            <div class="drop _select">
                <input type="text" class="right-food__hide-input" name="menu">
                <button type="button" class="drop__toggle">
                    меню для снижения веса
                </button>
                <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                    <div class="baron-all__scroller">
                        <ul class="drop__ul">
                            <li class="drop__li" data-id="1">Меню 1</li>
                            <li class="drop__li" data-id="2">Меню 2</li>
                            <li class="drop__li" data-id="3">Меню 3</li>
                            <li class="drop__li" data-id="4">Меню 4</li>
                            <li class="drop__li" data-id="5">Меню 5</li>
                            <li class="drop__li" data-id="6">Меню 6</li>
                            <li class="drop__li" data-id="7">Меню 7</li>
                            <li class="drop__li" data-id="8">Меню 8</li>
                        </ul>
                    </div>
                    <div class="baron-all__track">
                        <div class="baron-all__free">
                            <div class="baron-all__bar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn _yellow right-food__btn" title="Подобрать индивидуальный план питания">
                показать
                питание
            </button>
        </form>
        <div class="ajax-content">
          <div class="my-baby">
            <div class="my-baby__container">
                    <div class="clearfix">
                        <a href="#!" class="my-baby__link col-md-4">
                            <div class="my-baby__item">
                                <img src="http://placehold.it/461x229" alt="item-1" class="my-baby__item-img">
                                <h3>Почему у ребенка шелушится  кожа на голове?</h3>
                            </div>
                        </a>
                        <a href="#!" class="my-baby__link col-md-4">
                            <div class="my-baby__item">
                                <img src="http://placehold.it/461x229" alt="item-1" class="my-baby__item-img">
                                <h3>Почему ребенок мало спит  днем?</h3>
                            </div>
                        </a>
                        <a href="#!" class="my-baby__link col-md-4">
                            <div class="my-baby__item">
                                <img src="http://placehold.it/461x229" alt="item-1" class="my-baby__item-img">
                                <h3>Как приучить ребенка  к кроватке?</h3>
                            </div>
                        </a>
                    </div>
                </div>
            <a href="#!" class="link-arrow" id="right-food-link">перейти в раздел</a>
          </div>
        </div>

        <!-- <div class="right-food__bot-cont">
            <div class="grid-cont right-food__grid-cont">
                <div class="row">
                    <div class="col-md-4 grid-cont__each-cont ">
                        <h3 class="grid-cont__head">Завтрак</h3>
                        <ul class="grid-cont__ul _1">
                            <li>2 яйца (всмятку/отварных)</li>
                            <li>Огурец,помидор</li>
                            <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                            <li>Травяной чай</li>
                        </ul>
                    </div>
                    <div class="col-md-4  grid-cont__each-cont ">
                        <h3 class="grid-cont__head">Завтрак</h3>
                        <ul class="grid-cont__ul _2">
                            <li>2 яйца (всмятку/отварных)</li>
                            <li>Огурец,помидор</li>
                            <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                            <li>Травяной чай</li>
                        </ul>
                    </div>
                    <div class="col-md-4  grid-cont__each-cont ">
                        <h3 class="grid-cont__head">Завтрак</h3>
                        <ul class="grid-cont__ul _3">
                            <li>2 яйца (всмятку/отварных)</li>
                            <li>Огурец,помидор</li>
                            <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                            <li>Травяной чай</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4  grid-cont__each-cont ">
                        <h3 class="grid-cont__head">Завтрак</h3>
                        <ul class="grid-cont__ul _4">
                            <li>2 яйца (всмятку/отварных)</li>
                            <li>Огурец,помидор</li>
                            <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                            <li>Травяной чай</li>
                        </ul>
                    </div>
                    <div class="col-md-4  grid-cont__each-cont ">
                        <h3 class="grid-cont__head">Завтрак</h3>
                        <ul class="grid-cont__ul _5">
                            <li>2 яйца (всмятку/отварных)</li>
                            <li>Огурец,помидор</li>
                            <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                            <li>Травяной чай</li>
                        </ul>
                    </div>

                    <div class="col-md-4 grid-cont__circle-cont">
                        <a href="#!">
                            <div class="grid-cont__circle"></div>
                            <span class="grid-cont__txt">следующий день&#62;</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-food__img-cont">
                <a href="#!" title="12 продуктов, на употребление которых повлияли тренды в питании">
                    <img src="img/right-food/right-food/trands.jpg"
                         alt="12 продуктов, на употребление которых повлияли тренды в питании">
                </a>
            </div>
        </div> -->
    </div>
</section>
<section class="diagnostycs" id="diagnostycs">
    <div class="diagnostycs__title">
        <h2 class="diagnostycs__title-content">Диагностика</h2>
    </div>
    <div class="diagnostycs__cont">
        <div class="row">
            <div class="col-sm-6">
                <a href="#!" title="Виды диагностики" class="diagnostycs__btn btn _tran _gray">Виды диагностики</a>
            </div>
            <div class="col-sm-6">
                <a href="#!" title="Диагностические центры" class="diagnostycs__btn btn _tran _red">Диагностические центры</a>
            </div>
        </div>
        <section class="diag-form diag-form--din">
            <form action="#" class="diag-form__input-group clearfix">
                <div class="drop _select-input _blue">
                    <input class="drop__input" type="text" placeholder="Выберите направление">
                    <button type="button" class="drop__toggle">
                    </button>
                    <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                        <div class="baron-all__scroller">
                            <ul class="drop__ul">
                                <li class="drop__li">направление 1</li>
                                <li class="drop__li">направление 2</li>
                                <li class="drop__li">направление 3</li>
                                <li class="drop__li">направление 4</li>
                                <li class="drop__li">направление 5</li>
                                <li class="drop__li">направление 6</li>
                                <li class="drop__li">направление 7</li>
                                <li class="drop__li">направление 8</li>
                            </ul>
                        </div>
                        <div class="baron-all__track">
                            <div class="baron-all__free">
                                <div class="baron-all__bar"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="drop _select-input _blue">
                    <input class="drop__input" type="text" placeholder="Заболевание">
                    <button type="button" class="drop__toggle">
                    </button>
                    <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                        <div class="baron-all__scroller">
                            <ul class="drop__ul">
                                <li class="drop__li">заболевание 1</li>
                                <li class="drop__li">заболевание 2</li>
                                <li class="drop__li">заболевание 3</li>
                                <li class="drop__li">заболевание 4</li>
                                <li class="drop__li">заболевание 5</li>
                                <li class="drop__li">заболевание 6</li>
                                <li class="drop__li">заболевание 7</li>
                                <li class="drop__li">заболевание 8</li>
                            </ul>
                        </div>
                        <div class="baron-all__track">
                            <div class="baron-all__free">
                                <div class="baron-all__bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn _tran _black diag-form__show-btn" title="Показать заболевание">показать</button>
            </form>
            <div class="diag-form__cont">
                <ul>
                    <li>Необходимая диагностика</li>
                    <li>
                        <ol>
                            <li><a href="#">К эндокринологу</a></li>
                        </ol>
                    </li>
                    <li>К каким специалистам необходимо обратиться?</li>
                    <li>
                        <ol>
                            <li><a href="#">Гормональное исследование крови</a></li>
                            <li><a href="#">Биохимическое исследование крови</a></li>
                            <li><a href="#">Рентгенологическое исследование</a></li>
                            <li><a href="#">Компьютерная томография щитовидной железы</a></li>
                        </ol>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</section>
<section id="advices" class="advices">

    <div class="advices__title">
        <h2 class="advices__title-content">Советы врачей</h2>
    </div>

    <div class="advices__cont">
        <div class="row">
            <div class="col-md-6">
                <div class="advices__each-cont _1">
                    <div class="advices__img-cont">
                        <a href="#!" title="Врач сторматолог">
                            <img src="http://placehold.it/470x470"
                                 alt="Врач стоматолог">
                        </a>
                    </div>
                    <div class="advices__txt-cont">
                        <h3 class="advices__head"><a href="#!">Как избавиться от зубного камня?</a></h3>
                        <div class="advices__txt">
                            Зубной камень - это твердое образование, которое возникает от скопления микробов в полости рта. Постепенно такой мик- робный налет оседает на зубной эмали, со временем отвер- девает и приобретает темный цвет, который может иметь раз- ные оттенки - от белого и желтого до коричневого. Обычно на- лет возникает в местах, которые трудно прочистить.
                        </div>
                    </div>
                    <div class="advices__doc-data">
                        <h3 class="advices__name"><a href="#!">Юрий Федорович Жаворонок</a></h3>
                        <div class="advices__city"><span class="advices__dark">Город: </span>Москва</div>
                        <div class="advices__speciality"><span class="advices__dark">Специализация: </span>Врач -
                            стоматолог
                        </div>
                        <div class="advices__experience"><span class="advices__dark">Стаж: </span>15 лет</div>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="advices__each-cont _2">
                    <ul class="ul-doc advices__ul-doc">
                        <li class="ul-doc__link-cont">
                            <a href="#!" title="Тедеев Эрик Сосланович">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="ul-doc__img-cont">
                                            <img src="img/right-food/advices/doc-sm-1.jpg"
                                                 alt="Тедеев Эрик Сосланович">
                                        </div>
                                    </div>
                                    <div class="col-sm-8 ul-doc__doc-data">
                                        <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                                        <div class="ul-doc__city">город: Москва</div>
                                        <div class="ul-doc__speciality">специализация: хирург</div>
                                        <div class="ul-doc__experience">стаж: 31 год</div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="ul-doc__link-cont">
                            <a href="#!" title="Тедеев Эрик Сосланович">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="ul-doc__img-cont">
                                            <img src="img/right-food/advices/doc-sm-2.jpg"
                                                 alt="Тедеев Эрик Сосланович">
                                        </div>
                                    </div>
                                    <div class="col-sm-8 ul-doc__doc-data">
                                        <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                                        <div class="ul-doc__city">город: Москва</div>
                                        <div class="ul-doc__speciality">специализация: хирург</div>
                                        <div class="ul-doc__experience">стаж: 31 год</div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="ul-doc__link-cont">
                            <a href="#!" title="Тедеев Эрик Сосланович">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="ul-doc__img-cont">
                                            <img src="img/right-food/advices/doc-sm-3.jpg"
                                                 alt="Тедеев Эрик Сосланович">
                                        </div>
                                    </div>
                                    <div class="col-sm-8 ul-doc__doc-data">
                                        <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                                        <div class="ul-doc__city">город: Москва</div>
                                        <div class="ul-doc__speciality">специализация: хирург</div>
                                        <div class="ul-doc__experience">стаж: 31 год</div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="ul-doc__link-cont _last">
                            <a href="#!" title="Тедеев Эрик Сосланович">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="ul-doc__img-cont">
                                            <img src="img/right-food/advices/doc-sm-4.jpg"
                                                 alt="Тедеев Эрик Сосланович">
                                        </div>
                                    </div>
                                    <div class="col-sm-8 ul-doc__doc-data">
                                        <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                                        <div class="ul-doc__city">город: Москва</div>
                                        <div class="ul-doc__speciality">специализация: хирург</div>
                                        <div class="ul-doc__experience">стаж: 31 год</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- <li>
                            <ul class="paginator _white">
                                <li><a href="#!" class="paginator__prev paginator__arrow">назад</a></li>
                                <li><a href="#!" class="paginator__item">1</a></li>
                                <li><a href="#!" class="paginator__item">2</a></li>
                                <li><a href="#!" class="paginator__item">3</a></li>
                                <li><a href="#!" class="paginator__next paginator__arrow">вперед</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
            </div>

        </div>
        <a href="#!" class="link-arrow">перейти в раздел</a>
    </div>
</section>

