<div class="mans__area">Органы брюшной полости:</div>
<ul>
    <li><a href="#dynamic-cont-2" data-url="dynamic-blocks/inner-diseases-dynamic.html" title="надпочечники" class="mans__link routing-link">надпочечники</a></li>
    <li><a href="#dynamic-cont-2" data-url="dynamic-blocks/inner-diseases-dynamic.html" title="почки" class="mans__link routing-link">почки</a></li>
    <li><a href="#dynamic-cont-2" data-url="dynamic-blocks/inner-diseases-dynamic.html" title="желчный пузырь" class="mans__link routing-link">желчный пузырь</a></li>
    <li><a href="#dynamic-cont-2" data-url="dynamic-blocks/inner-diseases-dynamic.html" title="мочеточник" class="mans__link routing-link">мочеточник</a></li>
    <li><a href="#dynamic-cont-2" data-url="dynamic-blocks/inner-diseases-dynamic.html" title="печень" class="mans__link routing-link">печень</a></li>
    <li><a href="#dynamic-cont-2" data-url="dynamic-blocks/inner-diseases-dynamic.html" title="селезенка" class="mans__link routing-link">селезенка</a></li>
    <li><a href="#dynamic-cont-2" data-url="dynamic-blocks/inner-diseases-dynamic.html" title="желудочно-кишечный тракт" class="mans__link routing-link">желудочно-кишечный тракт</a></li>
</ul>
<div class="mans__desc">Спереди и с боков их расположение ограничивает брюшная стенка, пронизанная мышцами, жировой клетчаткой и соеди- нительнотканными образованиями. За кровоснабжение отве- чают кровеносные сосуды.</div>
                